= form_tag c_employment_details_url , :remote => true  do 
  %div 
    Starting with your present post , list in reverse order every employment you have had.
    %p
      Use the <code> Add Employment</code> button to add each employment. Include service in the armed forces and note any period under
      which you were not gainfully employed.
    Provide gross salary per annum and indicate currency for your last or present post.
  <label for="unv_roster_no" >Are you a current or former UNV ?</label>
  %span
    Yes
    = radio_button_tag "c_employment_detail[unv]" , "Yes" 
  %span
    No
    = radio_button_tag "c_employment_detail[unv]" , "No"
   
  = label_tag "If \"Yes\", Please indicate roster number" 
  = hidden_field_tag "c_employment_detail[consultant_id]" ,@consultant.id 
  = text_field_tag "c_employment_detail[roster_no]", nil,:class => 'span5'
  
  <label for="unv_roster_no" >Are you a current or former UN Staff ?</label>
  %span
    Yes
    = radio_button_tag "c_employment_detail[un_staff]" , "Yes" 
  %span
    No
    = radio_button_tag "c_employment_detail[un_staff]" , "No"
  
  <label>If "Yes", Please indicate UN Index </label> 
  
  = text_field_tag "c_employment_detail[un_staff_index_no]", nil,:class => 'span5'
  
  .sbh PRESENT POST <b>(Last post , if not presently employed)</b>
  = label_tag "From"
  = text_field_tag "c_employment_record[][from]" , nil, :class => 'span5 datepicker' ,:id =>nil
  = label_tag "To"
  = text_field_tag "c_employment_record[][to]" , "Till Date", :class => 'span5 datepicker' ,:id =>nil
  = label_tag "Starting (gross)"
  = text_field_tag "c_employment_record[][starting_gross_salary]" , nil, :class => 'span5'
  = label_tag "Final (gross)"
  = text_field_tag "c_employment_record[][final_gross_salary]", nil , :class => 'span5'
  = label_tag "FUNCTIONAL TITLE As specified in your letter of Appointment/Contract"
  = text_field_tag "c_employment_record[][functional_title]", nil , :class => 'span5'
  = label_tag "UN grade of your post (if applicable)"
  = text_field_tag "c_employment_record[][un_grade]" , nil, :class => 'span5'
  = label_tag "Last UN step in your post (if applicable)"
  = text_field_tag "c_employment_record[][last_un_step]" , nil, :class => 'span5'
  = label_tag "NAME OF EMPLOYER"
  = text_field_tag "c_employment_record[][name_of_employer]" , nil, :class => 'span5'
  = label_tag "Type of Business"
  = text_field_tag "c_employment_record[][type_of_business]" , nil, :class => 'span5'
  = label_tag "Employment Type"
  = select_tag "c_employment_record[][employment_type]" ,options_for_select([["Full Time","Full TIme"],["Part Time","Part Time"]]), :class => 'span3'
  = label_tag "Type of Contract"
  = select_tag "c_employment_record[][type_of_contract]" ,options_for_select([["Permanent","Permanent"],["Indefinite","Indefinite"],["Continuing","Continuing"],["FTA","FTA"],["TA","TA"],["SSA/IC","SSA/IC"],["SC","SC"],["UNV","UNV"],["Other","Other"]]), :class => 'span3'
  = label_tag "Name of Supervisor"
  = text_field_tag "c_employment_record[][name_of_supervisor]" ,nil,:class => 'span5'
  = label_tag "Email Address of Supervisor"
  = text_field_tag "c_employment_record[][email_of_supervisor]" , nil,:class => 'span5'
  = label_tag "Telephone number of supervisor"
  = text_field_tag "c_employment_record[][telephone_of_supervisor]" , nil,:class => 'span5'
  
  = label_tag "Did you supervise staff"
  = select_tag "c_employment_record[][did_you_supervise_staff]" ,options_for_select([["Yes","Yes"],["No","No"]]), :class => 'span3'
  = label_tag "If So, How Many"
  = text_field_tag "c_employment_record[][number_of_staff_supervised]" ,nil, :class => 'span5'
  = label_tag "Number of support staff supervised"
  = text_field_tag "c_employment_record[][number_of_support_staff_supervised]" ,nil, :class => 'span5'
  
  
  = label_tag "Address of Employer"
  = text_area_tag "c_employment_record[][address_of_employer]" , nil,:class => 'span5',:size => "10x5",:id=> DateTime.now.strftime('%s')+1.to_s
  = label_tag "description of duties and related accomplishments"
  = text_area_tag "c_employment_record[][description_of_duties]",nil , :class => 'span5',:size => "10x5",:id=> DateTime.now.strftime('%s')+2.to_s
  = label_tag "reason for leaving"
  = text_area_tag "c_employment_record[][reason_for_leaving]" , nil, :class => 'span5',:size => "10x5",:id=> DateTime.now.strftime('%s')+3.to_s
  = hidden_field_tag "c_employment_record[][consultant_id]" , @consultant.id
  .sbh &nbsp;
  =  render  "c_employment_records/past" ,{:consultant=>@consultant}
  #addemployment_records
  = link_to "Add Previous Employment" ,add_c_employment_records_url(:format=>:js) ,:remote=>true ,:class =>'btn btn-success'
  = link_to "Remove Previous Employment" ,remove_c_employment_records_url(:format=>:js),:remote=>true ,:class =>'btn btn-danger'
  %p
  %p Have you any objections to our making enquiries of:
  = label_tag "(a) your present employer:"
  %span No
  = radio_button_tag "c_employment_detail[object_to_enquiries_of_present_employer]" , "No"
  %span  Yes
  = radio_button_tag "c_employment_detail[object_to_enquiries_of_present_employer]" , "Yes"
  = label_tag "(b) your previous employer:"
  %span No
  = radio_button_tag "c_employment_detail[object_to_enquiries_of_past_employer]" , "No"
  %span  Yes
  = radio_button_tag "c_employment_detail[object_to_enquiries_of_past_employer]" ,"Yes"
  
  %p Are you now, or have you ever been, a national civil servant in your government ?
  %span No
  = radio_button_tag "c_employment_detail[civil_servant]", "No"
  %span  Yes
  = radio_button_tag "c_employment_detail[civil_servant]" , "Yes"
  = label_tag "If yes Indicate Date of service:"
  = label_tag "From"
  = text_field_tag "c_employment_detail[civil_service_date_from]" ,nil, :class =>'span5 datepicker'
  = label_tag "To"
  = text_field_tag "c_employment_detail[civil_service_date_to]" ,nil, :class =>'span5 datepicker'
  = label_tag "Functions:"
  = text_area_tag "c_employment_detail[civil_service_functions_text]",nil , :class => 'span5' ,:size => '10x5'
  = label_tag "Country"
  = text_field_tag "c_employment_detail[civil_service_country]" , nil,:class => 'span5'  
   
  
  = label_tag " "
  <input class="btn btn-primary" type="submit"  value="Save Employment Information" />
  
      

  
 
<script>
$('#removeEmp').click(function(e){
e.preventDefault();
no_of_extras = 1
no_of_extras = $('div[class*=extraEmp]').length ;
if(no_of_extras > 1){
$('div[class*=extraEmp]:last').remove();
}
else
{
alert("No Extra Employment Record was added");  
}


});
</script>