- if !session[:added_emp_field].nil?  && session[:added_emp_field ]> 1
  - emp_block = session[:added_emp_feild]
- else
  - emp_block = nil
%div{:class=>'extraEmp'} PREVIOUS POSTS <b>(In reverse order , most recent post first) #{emp_block}</b>
= label_tag "From"
= text_field_tag "c_employment_record[][from]" , nil,:class => 'span5 datepicker',:id =>nil
= label_tag "To"
= text_field_tag "c_employment_record[][to]" , nil, :class => 'span5 datepicker' ,:id =>nil
= label_tag "Starting (gross)"
= text_field_tag "c_employment_record[][starting_gross_salary]", nil , :class => 'span5'
= label_tag"Final (gross)"
= text_field_tag "c_employment_record[][final_gross_salary]" , nil, :class => 'span5'
= label_tag "FUNCTIONAL TITLE As specified in your letter of Appointment/Contract"
= text_field_tag "c_employment_record[][functional_title]" , nil, :class => 'span5'
= label_tag "UN grade of your post (if applicable)"
= text_field_tag "c_employment_record[][un_grade]" , nil, :class => 'span5'
= label_tag "Last UN step in your post (if applicable)"
= text_field_tag "c_employment_record[][last_un_step]", nil , :class => 'span5'
= label_tag "NAME OF EMPLOYER"
= text_field_tag "c_employment_record[][name_of_employer]" , nil, :class => 'span5'
= label_tag "Type of Business"
= text_field_tag "c_employment_record[][type_of_business]", nil , :class => 'span5'
= label_tag "Employment Type"
= select_tag "c_employment_record[][employment_type]" ,options_for_select([["Full Time","Full Time"],["Part Time","Part Time"]]), :class => 'span3'
= label_tag"Type of Contract"
= select_tag "c_employment_record[][type_of_contract]" ,options_for_select([["Permanent","Permanent"],["Indefinite","Indefinite"],["Continuing","Continuing"],["FTA","FTA"],["TA","TA"],["SSA/IC","SSA/IC"],["SC","SC"],["UNV","UNV"],["Other","Other"]]), :class => 'span3'
= label_tag "Name of Supervisor"
= text_field_tag "c_employment_record[][name_of_supervisor]" , nil,:class => 'span5'
= label_tag "Email Address of Supervisor"
= text_field_tag "c_employment_record[][email_of_supervisor]", nil ,:class => 'span5'
= label_tag "Telephone number of supervisor"
= text_field_tag "c_employment_record[][telephone_of_supervisor]", nil ,:class => 'span5'
= label_tag "Did you supervise staff"
= select_tag "c_employment_record[][did_you_supervise_staff]" ,options_for_select([["Yes","Yes"],["No","No"]]), :class => 'span3'
= label_tag "If So, How Many"
= text_field_tag "c_employment_record[][number_of_staff_supervised]" , nil, :class => 'span5'
= label_tag "Number of support staff supervised"
= text_field_tag "c_employment_record[][number_of_support_staff_supervised]", nil , :class => 'span5' 
= label_tag "Address of Employer"
= text_area_tag "c_employment_record[][address_of_employer]" , nil, :class => 'span5',:size => "10x5",:id=> DateTime.now.strftime('%s')+ Random.new.rand(6..15678392345).to_s
= label_tag "description of duties and related accomplishments"
= text_area_tag "c_employment_record[][description_of_duties]", nil , :class => 'span5',:size => "10x5",:id=> DateTime.now.strftime('%s')+ Random.new.rand(2..15678392945).to_s
= label_tag "reason for leaving"
= text_area_tag "c_employment_record[][reason_for_leaving]" , nil, :class => 'span5',:size => "10x5",:id=> DateTime.now.strftime('%s')+ Random.new.rand(7..15676392345).to_s
= hidden_field_tag "c_employment_record[][consultant_id]" , session[:cid]
.sbh &nbsp;