- cemp = @consultant
- cemr = @consultant_records
= form_for @consultant    do |f|
    
  %div
    Provide gross salary per annum and indicate currency for your last or present post.
  = label_tag "Are you a current or former UNV ?"
  %span
    Yes
    = f.radio_button :unv ,cemp.unv   
  %span
    No
    = f.radio_button :unv  , cemp.unv  
  = label_tag "If \"Yes\", Please indicate roster number" 
  = f.hidden_field :consultant_id 
  = f.text_field :roster_no,:class => 'span5'
  .sbh Employment Record </b>
  = label_tag "From"
  = text_field_tag "c_employment_record[from]" ,cemr.from, :class => 'span5 datepicker' ,:id =>nil
  = label_tag "To"
  = text_field_tag "c_employment_record[to]" , cemr.to, :class => 'span5 datepicker' ,:id =>nil
  = label_tag "Starting (gross)"
  = text_field_tag "c_employment_record[starting_gross_salary]" , cemr.starting_gross_salary, :class => 'span5'
  = label_tag "Final (gross)"
  = text_field_tag "c_employment_record[final_gross_salary]",  cemr.final_gross_salary, :class => 'span5'
  = label_tag "FUNCTIONAL TITLE As specified in your letter of Appointment/Contract"
  = text_field_tag "c_employment_record[functional_title]",cemr.functional_title , :class => 'span5'
  = label_tag "UN grade of your post (if applicable)"
  = text_field_tag "c_employment_record[un_grade]" ,cemr.un_grade, :class => 'span5'
  = label_tag "Last UN step in your post (if applicable)"
  = text_field_tag "c_employment_record[last_un_step]" , cemr.last_un_step, :class => 'span5'
  = label_tag "NAME OF EMPLOYER"
  = text_field_tag "c_employment_record[name_of_employer]" , cemr.name_of_employer, :class => 'span5'
  = label_tag "Type of Business"
  = text_field_tag "c_employment_record[type_of_business]" , cemr.type_of_business, :class => 'span5'
  = label_tag "Employment Type"
  = select_tag "c_employment_record[employment_type]" ,options_for_select([["",""],["Full Time","Full Tme"],["Part Time","Part Time"],cemr.employment_type]), :class => 'span3'
  = label_tag "Type of Contract"
  = select_tag "c_employment_record[type_of_contract]" ,options_for_select([["100 Series","100 Series"],["200 Series","200 Series"],["ALD/300 Series","ALD/300 Series"],["Permanent","Permanent"],["Indefinite","Indefinite"],["Continuing","Continuing"],["FTA","FTA"],["TA","TA"],["SSA/IC","SSA/IC"],["SC","SC"],["UNV","UNV"],["Other","Other"],cemr.type_of_contract]), :class => 'span3'
  = label_tag "Name of Supervisor"
  = text_field_tag "c_employment_record[name_of_supervisor]" ,cemr.name_of_supervisor,:class => 'span5'
  = label_tag "Email Address of Supervisor"
  = text_field_tag "c_employment_record[email_of_supervisor]" , cemr.email_of_supervisor,:class => 'span5'
  = label_tag "Telephone number of supervisor"
  = text_field_tag "c_employment_record[telephone_of_supervisor]" ,cemr.telephone_of_supervisor,:class => 'span5'
  
  = label_tag "Did you supervise staff"
  = select_tag "c_employment_record[did_you_supervise_staff]" ,options_for_select([["Yes","Yes"],["No","No"],cemr.did_you_supervise_staff]), :class => 'span3'
  = label_tag "If So, How Many"
  = text_field_tag "c_employment_record[number_of_staff_supervised]" ,cemr.number_of_staff_supervised, :class => 'span5'
  = label_tag "Number of support staff supervised"
  = text_field_tag "c_employment_record[number_of_support_staff_supervised]" ,cemr.number_of_support_staff_supervised, :class => 'span5'
  
  
  = label_tag "Address of Employer"
  = text_area_tag "c_employment_record[address_of_employer]" , cemr.address_of_employer,:class => 'span5',:size => "10x5"
  = label_tag "description of duties and related accomplishments"
  = text_area_tag "c_employment_record[description_of_duties]",cemr.description_of_duties , :class => 'span5',:size => "10x5"
  = label_tag "reason for leaving"
  = text_area_tag "c_employment_record[reason_for_leaving]" , cemr.reason_for_leaving, :class => 'span5',:size => "10x5"
  = hidden_field_tag "c_employment_record[consultant_id]" , cemr.consultant_id
  = hidden_field_tag "c_employment_record[id]" , cemr.id
   
  %p Have you any objections to our making enquiries of:
  = label_tag "(a) your present employer:"
  %span No
  = radio_button_tag :object_to_enquiries_of_present_employer,cemp.object_to_enquiries_of_present_employer
  %span  Yes
  = f.radio_button :object_to_enquiries_of_present_employer , cemp.object_to_enquiries_of_present_employer
  = label_tag "(b) your previous employer:"
  %span No
  = f.radio_button :object_to_enquiries_of_past_employer, cemp.object_to_enquiries_of_past_employer
  %span  Yes
  = f.radio_button :object_to_enquiries_of_past_employer ,cemp.object_to_enquiries_of_past_employer
  
  %p Are you now, or have you ever been, a national civil servant in your government ?
  %span No
  = f.radio_button :civil_servant, cemp.civil_servant
  %span  Yes
  = f.radio_button :civil_servant ,cemp.civil_servant
  = label_tag "If yes Indicate Date of service:"
  = label_tag "From"
  = f.text_field :civil_service_date_from, :class =>'span5 datepicker'
  = label_tag "To"
  = f.text_field :civil_service_date_to , :class =>'span5 datepicker'
  = label_tag "Civil Service Functions:"
  = f.text_area :civil_service_functions_text , :class => 'span5' ,:size => '10x5'
  = label_tag "Country"
  = f.text_field :civil_service_country,:class => 'span5'  
   
  
  = label_tag " "
  <input class="btn btn-primary" type="submit"  value="Update" />
  
      

  
 
<script type="text/javascript">
$(function(){
$('.datepicker').datepicker({changeMonth:true, changeYear:true, dateFormat:'yy-mm-dd',yearRange: "1940:#{DateTime.now.year}"});
});
 
</script>