= render "shared/themes/admin_header"
<div class="sframe bld"> Employment Records #{render "shared/themes/user_title"}  
<div class="pull-right" style="margin-top:-5px;">
<div class="btn-group">
= render 'shared/cons-actions'
</div>
</div>
</div>
<div class="well dfff">
<ul>

- if !@consultant.c_employment_detail.roster_no.nil? || !@consultant.c_employment_detail.blank? || !@consultant.c_employment_detail.blank?
    <li class="tick"><strong>UNV Roster Number</strong> &raquo; 
    = @consultant.c_employment_detail.roster_no
    </li>
 
 

<li class="tick"><strong>Have you objections to our making enquiry of your current employer</strong> &raquo; #{@consultant.c_employment_detail.object_to_enquiries_of_present_employer}  </li>
<li class="tick"><strong>Have you objections to our making enquiry of your previous employer</strong> &raquo; #{@consultant.c_employment_detail.object_to_enquiries_of_past_employer}  </li>
<li class="tick"><strong>Are you now a civil servant ?</strong> &raquo; #{@consultant.c_employment_detail.civil_servant}  </li>
- if !@consultant.c_employment_detail.civil_service_date_from.nil?
    <li class="tick"><strong>Civil Servant from</strong> &raquo; 
    = @consultant.c_employment_detail.civil_service_date_from  
    </li>
    <li class="tick"><strong>Civil Servant to</strong> &raquo; 
    = @consultant.c_employment_detail.civil_service_date_to
    </li>
    <li class="tick"><strong>Civil Service functions</strong> &raquo; 
    = @consultant.c_employment_detail.civil_service_functions_text.html_safe if !@consultant.c_employment_detail.civil_service_functions_text.blank?
    </li>
    <li class="tick"><strong>Civil Service country</strong> &raquo; 
    = @consultant.c_employment_detail.civil_service_country
    </li>



</ul>
<div class="sframe bld">Employment Records</div>


- @consultant.c_employment_records.each do |c|
    %table{:class=>"table"}
        %caption 
            <div class="btn btn-success disabled pull-left"> 
            = c.name_of_employer
            </div>
    
        %tr
            %td <strong>From</strong> 
            %td= time_tag c.from.to_date   
        %tr
            %td To </strong>
            %td= c.to  
     
        %tr 
            %td Starting gross 
            %td= c.starting_gross_salary
        %tr 
            %td Final gross 
            %td= c.final_gross_salary
        %tr 
            %td Functional Title 
            %td= c.functional_title
          
        %tr 
            %td UN Grade of Post
            %td= c.un_grade
        %tr 
            %td Name Of Employer 
            %td= c.name_of_employer
        
        %tr
            %td <strong> Type of Business</strong> 
            %td= c.type_of_business 
         
        %tr 
            %td <strong>Employment Type </strong>
            %td= c.employment_type
            
        %tr 
            %td <strong>Type of Contract </strong>
            %td= c.type_of_contract
            
        
        %tr
            %td <strong>Name of Supervisor</strong> 
            %td= c.name_of_supervisor
        %tr
            %td <strong> Telephone of Supervisor </strong> 
            %td= c.telephone_of_supervisor
        %tr
            %td <strong> Email of Supervisor </strong> 
            %td= c.email_of_supervisor 
     
        %tr 
            %td <strong>Number of supervised staff </strong>
            %td= c.number_of_staff_supervised
            
        %tr 
            %td <strong>Number of support staff supervised </strong>
            %td= c.number_of_support_staff_supervised
          
        %tr 
            %td <strong>Adress of Employer </strong>
            %td= c.address_of_employer.html_safe if !c.address_of_employer.blank?
       
        %tr 
            %td{:colspan=>"2"}
                %strong Description of duties and related acomplishment
        
        %tr
            %td{:colspan=>"2"}= c.description_of_duties.html_safe if !c.description_of_duties.blank?
    
        %tr 
            %td{:colspan=>2}
                %strong Reason for leaving
        
        %tr 
            %td{:colspan=>2}= c.reason_for_leaving.html_safe if !c.reason_for_leaving.blank?
        %tr 
            %td{:colspan=>2}
                <a href="#{edit_c_employment_record_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
                = link_to '<i class="icon-trash"></i>'.html_safe ,c_employment_record_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.name_of_employer} from your employment record?" }}  
     
</div> </div> 
= render "shared/navtree"
