- opts = {"Excellent"=>"5","Very Good"=>"4","Fair"=>"3","Poor"=>"2","Unsatisfactory"=>"1"}

<div class="span8" style="margin:0;">

= link_to "Edit Rating", edit_s_rating_url(params[:id]) , :class=> 'btn btn-primary'
= link_to "Delete Rating", s_rating_url(params[:id]),:data=>{:method=>:delete,:confirm =>"Delete this rating?"} , :class=> 'btn btn-danger'
%p 
<table class="table-striped table-bordered " style="width:95%; background: center; margin:0 auto;" width="500">



%tr
  %td 
    %b Supplier  Name
  %td= @rating.supplier_name
%tr
  %td Project Title
  %td= @rating.project_title
 
%tr
  %td Project Number
  %td= @rating.project_number

- r = @rating 



<tr>
<td>Goods/Services Provided</td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
=  r.goods_services.html_safe 
 
</td>
</tr>
<tr>
<td>Start Date</td>
<td>
= time_tag Date.parse r.start_date
</td>
</tr>
<tr>
<td>End Date</td>
<td>
= time_tag Date.parse r.end_date

</td>
</tr>


 
<tr>
<td><b> Overall Quality of Deliverable Good/ Services </b></td>
<td>
= opts.key(r.question_1)
</td>

</tr>
<tr><td><b> Were the Good/ Services delivered on time </b></td>
<td>
= opts.key(r.question_2)

</td>

</tr>  

<tr><td><b> Responsiveness to queries/modifications (if applicable) </b></td>
<td>
= opts.key(r.question_3)
</td>

</tr> 

<tr><td><b> Contractor Overall Performance </b></td>
<td>
= opts.key(r.question_4)

</td>

</tr> 

<tr><td><b> Would you consider re-engaging the Contractor?  </b></td>
<td>
= r.question_5

</td>

</tr> 

<tr><td><b>  If No, Please provide with detail expalanation  </b></td>
<td></td>
</tr>
<tr>
<td></td>
<td>
= r.question_6.html_safe

</td>

</tr> 

 


<tr>
<td>Evaluated By</td>
<td>
= r.evaluated_by
</td>
</tr>

<tr>
<td> Organization</td>
<td>
= r.organization
</td>
</tr>
<tr>
<td><b>Designation:</b></td>
<td>
= r.designation
 
</td>
</tr>
<tr>
<td><b>Date:</b></td>
<td>
= time_tag Date.parse r.thedate
</td>
</tr>
 
  
</table>
%br
= link_to('Ratings Home', search_vendor_c_ratings_url, 'class' => 'btn btn-primary pull-right','style'=>'width:auto;')

</div>
<br/>

= render "shared/navtree"

<style type="text/css">
tr{height:2.5em; font-size:1.0em;}
</style>
