<div class="span8" style="margin:0;">
<div class="sframe"><div class="sbh"><strong> ACO Form</strong> </div>
<div class="row-fluid">
<table style="width:100%;" cellpadding="5">




= form_for @sys_module  do  |f|
   
  <tr><th align="right"> Aco Name</th><td> 
  = f.text_field :action , :class=>'span9'
   
  </td></tr>
  <tr><th align="right">Alias</th><td> 
   
  = f.text_field :alias , :class=>'span9' , :title=>''
   
   
  </td></tr>
  <tr><th align="right">Module</th><td> 
   
  = f.select :sys_module_id ,@modules.map{|m| [m.name,m.id]}, :class=>'span9' , :title=>''
   
   
  </td></tr>
   
  %tr
    %th
    %td
      <input type="submit" class="btn btn-primary" value="Save">
      
      
   
</table>
</div>
</div>
</div>

= render "shared/navtree"


<script>

$(function() {
$('.griddates').datepicker({changeMonth:true, changeYear:true });

});


</script>