= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Action title
    %th Alias  
    %th Module
     
    %th Actions
  - @funds.each do |e|
    %tr
      
      %td= e.action.upcase
      %td= e.alias.upcase
      %td= e.sys_module.name
       
            
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_aco_url(e.id) ,:title =>'Edit' 
        = link_to '<i class="icon-trash"></i>'.html_safe, aco_url(e.id), :method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 


%p
  
= render "shared/paginate"
%div{:class=>"nosredna"}
=link_to 'New Aco'.html_safe , {:controller=>:acos,:action=>:new} ,:class=>"pull-right btn-danger btn"

</div>
= render "shared/navtree"
