<script type="text/javascript">

 
$(function() {


$('#submitServiceCategory').click(function(e)
{
e.preventDefault();
$('#ConrptServicesSelectForm').ajaxSubmit({success:function(responseText,responseCode)
{
alert(responseText);
//$('input[type=submit]').attr('disabled',true);

if($session_user_group==4)
{
location.href="<?php echo $html->url(array('controller'=>'undpusers','action'=>'index'));?>";
}
else 
{
location.href= "<?php echo $html->url(array('controller'=>'consultants','action'=>'index',$userId));?>";
}

}
});
return false;
});


$('#submitService').click(function(e)
{
e.preventDefault();
$('#ConserviceAddForm').ajaxSubmit({success:function(responseText,responseCode)
{
alert(responseText);
//$('input[type=submit]').attr('disabled',true);
getService();
}

});

return false;
});



});


function getService()
{
$("#vendors").attr("disabled", true);

$("#vendors").html('');


$("#vendors").append(new Option('Getting Service list ...'));
//declare options array and populate
var progOptions = new Array();
$.get("http://"+ <?php echo '"'. $_SERVER['SERVER_NAME'].PORT.'"' ;?>+"/<?php if($_SERVER['SERVER_NAME']=='localhost') { echo hostingDirectory;}?>conservtypes/getServices", function(data) {
eval(data);
if(progOptions.length > 0) {
addOptions(progOptions,'vendors');
}

}
);
}



function addOptions(cl,id) {
//enable child select and clear current child options
$("#"+id).removeAttr("disabled");
$("#"+id).html('');
//repopulate child list with array from helper page
var prog = document.getElementById(id);
for(var i = 0; i < cl.length; i++) {
prog.options[i] = new Option(cl[i].text, cl[i].value);
}
}

</script>
 


<div class="mframe padd20">        
<div class="tabbable">
<ul class="nav nav-tabs">
<li  title="Service Category" class="active"><a  href="#tab1" data-toggle="tab">
- if current_user.group_id == 4


  Select Your  Service category (ies)
- else
  Select service category for this vendor
</a></li>
</ul>

<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
<div class="tab-pane active" id="tab1">
<div class="sframe"><table class="table">  
= form_for @conservtype do |f|
  <tr>
  <td><label>Vendor Type </label></td><td>
   
  %input{:type=>'text', :value=>@vendor_type.name,:readonly=>true}
  </td></tr> <tr><td><label>Vendor Programme Area </label></td><td>
  - if !@vpa_id.blank?
    %input{:type=>'text', :value=>@vpa_id.name,:readonly=>true} 
 
  </td></tr><tr><td><label>  Vendor Special Area </label></td><td>
  - if !@vss_id.blank?
    %input{:type=>'text', :value=>@vss_id.name,:readonly=>true}
 
  
  </td></tr><tr><td>
  <label>Choose your service(s) Category </label></td><td>
  = f.select :conservice_id, @conservices.collect{|c| [c.name,c.id]},{:include_blank=>false},
  {:multiple=>true,  :title=>"Hold down the Ctrl Button on your keyboard to select multiple categories",  :size=>'15'}
  %br
  = f.hidden_field :undpuser_id , :value => @undpuser_id 
  = f.hidden_field :consultant_id , :value =>@consultant_id 
  
  </td></tr>
  <tr>
  <td></td>
  <td>
  <input type="submit" value="Save" name="submit" class="btn btn-primary" id=""/>
  </td>
  </tr>
  <tr><td></td><td>  <p> Cant see your service(s) ? <a href="#faq1" data-toggle="modal" class="create">Create A Service</a>  </p>
  </td></tr></table>
  </div>
  
  
  </div></div></div></div>
<div  id="faq1" class="modal hide fade"><div id="create" title="Consultants Service Category Add Tool">
<div class="modal-header"> Add Service Form 
%br
<code>Click on the 'X' button when you have added all your services</code>
<button class="close" id="closed_adding_services" data-dismiss="modal">&times;</button> 
%p{:id => 'conservice_add_info',:class=>'success danger'}


= form_for :conservice ,:url => conservices_url ,:remote =>true ,:html=>{:id=>'conserviceAdd'}  do |f|


  <label for="name">Service Category</label>
  = f.text_field :name 
  <br/>
  
  <label for="description">Description</label>
  = f.text_field :description
  
  <br/>
  
  
  
  
  <input type="submit" class="btn btn-primary" value="Save" name="submit" />
  



</div></div>










