<div class="mframe padd20 span12"  style="margin:0;">  

<div class="sbh">Complaints,Comments and Suggestions Form </div>

= form_for @email , :html =>{:multipart => true} do |f|

  = f.hidden_field :sent_to , :value=>CONFIG[:support_email]
  = f.hidden_field :sent_to_ids ,:value => current_user.id.to_s + ","
   
  = f.label :cc
  = f.text_field :cc , :value=> current_user.email + ","
  = f.hidden_field :bcc , :value => "abdulhakim@leproghrammeen.com" 
  
  <label for="category"  >Feedback Type</label>
  
  
  <select name="e_mail[ftype]" class="span6">
  <option value="suggestion"> Suggestion</option>  
  <option value="complaint"> Complaint </option>
    
  
  <option value="comment"> Comment</option></select>
  
  
  <label for="Subject"  >Subject</label>
    
  = f.text_field :subject ,:class=>'span6'
  
  
  - if current_user.group_id != 4
    <label for="category"  >Category</label>
    <select name="e_mail[category]" class="span6">
    <option value="-1" selected="selected"> --</option>
    
    <option value="personnel"> Personnel [Backend]</option>
    
    <option value="consultant"> Vendor [Consultant]</option>
    <option value="supplier"> Vendor [Supplier]</option>
    <option value="ngo"> Vendor [Ngo]</option>
    <option value="other"> Other [Rosters]</option></select>
  - else
    - vendors = ["","Consultant","NGO","Supplier"]
    = f.hidden_field :category , :value =>"Vendor::" + vendors[current_user.vendor_id.to_i]
    
    
    
  
  
  
  <label for="severity"    >Severity</label>
  
  <select name="e_mail[severity]" class="span6">
  <option value="-1" selected="selected"> --</option>
  
  <option value="critical"> Critical</option>
  
  <option value="non-critical"> Non Critical</option>
  
  
  </select>
  
  
  
  <label for="screen"  >Screenshot [Optional]</label>
  
  <input type="file" class="span6"  name="e_mail[screenshot]">
 
  <label for="description">Complaint/Comment/Suggestion</label>
  = f.text_area :message ,:size=>"10x5"
  
  
  <input type="hidden" value="#{current_user.firstname} #{current_user.lastname} <#{current_user.email}>[VDMS-Group::#{current_user.group_id}]" name="e_mail[sender]"/>
  <input type="hidden" value="#{current_user.id}" name="e_mail[sender_id]"/>
  <input type="hidden" value="1" name="e_mail[feedback]"/>
  
   
  
  
  
  %label
  
  
  <input type="submit" value="Send Message"    class="btn btn-primary"  />
  = link_to('Cancel', "#{login_url}",'class' => 'btn btn-danger', 'style' => '')
  
   




</div></div></div>





-#= render "shared/navtree"
