= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Date
    %th Sender 
    %th{:colspan=>2} Subject
    %th Recipient(s)
    %th Actions
  - @emails.each do |e|
    %tr
      %td= time_tag e.created_at
      %td= e.sender
      %td{:colspan=>2}
        = link_to e.subject.to_s ,{:controller=>:e_mails,:action=>:show, :id =>e.id} , :target =>"_blank"
      %td= e.sent_to     
      %td
        = link_to '<i class="icon-trash"></i>'.html_safe, e_mail_url(e.id) ,:method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 



</div>
= render "shared/navtree"
