<div class="span8">
<div class="sframe"><div class="sbh"><strong>Send Mail</strong> </div>
<div class="row-fluid">
<table style="width:100%;" cellpadding="5">
= form_for @mail ,:url => e_mails_url do  |f|
  <div class="sbh"><button class="btn" type="submit" name=""><i class="icon-envelope"></i> Send Message</button> <a href="#{e_mails_url}" class="btn"><i class="icon-chevron-left"></i> Cancel</a> 
  <!--<a href="#" class="btn"><i class="icon-user"></i> Select Recipient(s)</a> -->
  </div>        
  
  <tr><th align="right">From</th><td> 
  = f.text_field :sender ,:value=> "#{current_user.firstname} #{current_user.lastname} <#{current_user.email}>", :class=>'span9'
   
  </td></tr>
  <tr><th align="right">To</th><td> 
  = f.text_field :sent_to , :class=>'span9' ,:title=>'Please use commas or to separate email addresses'
   
  </td></tr>
  <tr><th align="right">cc</th><td> 
  = f.text_field :cc ,:value=> "#{current_user.email}", :class=>'span9',:title=>'Please use commas or to separate email addresses'
   
  </td></tr>
  <tr><th align="right">bcc</th><td> 
  = f.text_field :bcc ,:value=> "#{current_user.email}", :class=>'span9' ,:title=>'Please use commas or to separate email addresses'
   
  </td></tr>
  <tr><th align="right">Subject</th><td> 
  = f.text_field :subject , :class=>'span9'
   
  </td></tr> 
  
  <tr><th align="right" colspan="1"> Message</th></tr>
  <tr><td>&nbsp;</td><td>
  
  = f.text_area :message , :class => 'span9' ,:size => '10x8'
  </td> 
  
  = f.hidden_field :sender_id ,#{current_user.id}
  = f.hidden_field :sent_to_ids 
  
  
   
</table>
</div>
</div>
</div>

= render "shared/navtree"


<script>

$(function() {


});


</script>