%style
  .cl {margin:2px;clear:both;}
  div.cl {margin:2px;clear:both}
<div class="span8">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>Sent Mails</strong>
<div class="pull-right fnrd" style="margin-top:-4px;">

<a href="#{e_mails_url}" class="btn btn-small"> <i class="icon-envelope"> </i>Back to Mails </a>
<!--<a href="#" class="btn btn-small"><i class="icon-chevron-right"></i> View Feedback</a>-->
= link_to('<i class="icon-trash"></i>Delete'.html_safe,e_mail_url(@email.id),:method=>:delete,:data=> {:confirm=>"Are you sure to delete?"},'class'=>'btn btn-small') 

</div>
</div>
<div class="sframe">




- if !@email.ftype.blank?
  <div class="btn btn-success disabled pull-left"> Feedback Type &raquo;
  = @email.ftype.upcase
  %br
  %div{:class=>"nosredna"}
  </div>
%div{:class=>"nosredna"} 
- if !@email.category.blank?
  <div class="cl dblk bdrb"> Related to: &raquo;
  = @email.category.upcase
  Module
  %br
  %div{:class=>"nosredna"}
  </div>
%div{:class=>"nosredna"}
- if !@email.severity.blank?
  <div class="cl dblk bdrb"> <strong class="fnbl">Severity &raquo;</strong>
  = @email.severity
   
  </div>


%div{:class=>"nosredna"}
<div class ="xdr">

<div class="dblk bdrb"><strong class="fnbl">Sent to &raquo;</strong> #{@email.sent_to}</div>
<div class="dblk bdrb"><strong class="fnbl">Cc&raquo;</strong> #{@email.cc}</div>

<div class="dblk bdrb"><strong class="fnbl">Bcc &raquo;</strong> #{@email.bcc}</div>
<div class="dblk bdrb"><strong class="fnbl">Subject &raquo;</strong>  #{@email.subject}</td><td>&nbsp;</div>
<div class="dblk bdrb well"><strong class="fnbl"> Email Content &raquo;</strong> #{@email.message.html_safe}</div>
%div{:class=>"nosredna"}
- if !@email.screenshot.url.blank? && @email.screenshot.url != "/screenshots/original/missing.png"
  <div class="cl dblk bdrb"> <strong class="fnbl">Screenshot file &raquo;</strong>
  = link_to @email.screenshot.url , @email.screenshot.url ,:target=>"_blank"
   
  </div>
<div class="dblk bdrb"><strong class="fnbl">Sender &raquo;</strong> 
#{@email.sender}
&nbsp;
</div>

<div class="dblk bdrb"><strong class="fnbl">Sent date &raquo;</strong> 
= time_tag @email.created_at
&nbsp;
</div>



</div>
</div>
</div></div> </div>

= render "shared/navtree"
