<div class="mframe fnplus">
<div class="sframe fnplus1 pbtm">User Login</div>
  

= form_for(:session ,{:url => sessions_path ,:html=>{:class=>""} })  do |f|
  %fieldset
  <label for="email">Username or Email </label>
  <input type="text" class="input" placeholder="Enter Username ..." name="session[username]">
  <label for="password">Password</label>
  <input type="password" class="input" placeholder="Enter Password..." name="session[password]">
  <label class="checkbox">
  <input type="hidden">&nbsp; </label>
  <a href="#{forgot_password_undpusers_url}"> Forgot Password ?</a>
  <button type="submit" class="btn btn-primary">Login</button>
<div class="nosredna">&nbsp;</div>
</div>
<!--/row-->
<!--/row-->
</div><!--/span-->
</div><!--/row-->
