<div class="sframe">
<div class="row-fluid">
<div class="span4">
<div class="sbh"><h5 class="bdbf"=><i class="icon-map-marker"></i> What's Next ?</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class="alert alert-success"> Familiarise your self with the top navigation Menu.</li><br/>
<li class="">&nbsp;</li>
 
<li class="alert alert-success"> Click on Personal History From  to fill the P-11 Form.</li><br/>
<li class="">&nbsp;</li>
<li class="alert alert-success">  You can take all the time you need to completely fill your form.</li><br/>
<li class="">&nbsp;</li>
<li class="alert alert-success">  This is only a roster and we urge you to update your details always.</li> <br/>
<li class="">&nbsp;</li>
<li class="alert alert-success">  This is not an automatic employment into UNDP Nigeria.</li> <br/>
</ul>				
</div><!--/span-->
<div class="span4">
<div class="sbh"><h5 class="bdbf"><i class=" icon-cog"></i> Actions</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="#{edit_consultant_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-user"></i> Edit Personal Info</a></li>
<li class=""><a href="#{consultant_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-user"></i> Edit Contact Info</a></li>

<li class=""><a href="#{c_education_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-book"></i> Edit Education Qualification</a></li>
<li class=""><a href="#{c_employment_record_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-briefcase"></i> Edit Employment Record</a></li>
<li class=""><a href="#{c_misc_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-th-list"></i> Edit Miscellaneous</a></li>
<li class=""><a href="#{c_reference_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-hand-right"></i> Edit Reference</a></li>	           
<li class=""><a href="#{c_certification_url identify_vendor}"><i class="icon-pencil"></i><i class="icon-certificate"></i> Edit Certifications</a></li>   
</ul>
</div>
<!--/span-->
<div class="span4">
<div class="sbh"><h5 class="bdbf"><i class="icon-list-alt"></i> Reports</h5></div>

<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="#{consultant_url identify_vendor}"><i class="icon-user"></i> Personal Info Report</a></li>

<li class=""><a href="#{c_education_url identify_vendor}"><i class="icon-book"></i> Education Qualification Report</a></li>
<li class=""><a href="#{c_employment_record_url identify_vendor}"><i class="icon-briefcase"></i> Employment Record Report</a></li>
<li class=""><a href="#{c_misc_url identify_vendor}"><i class="icon-th-list"></i> Miscellaneous Report</a></li>
<li class=""><a href="#{c_reference_url identify_vendor}"><i class="icon-hand-right"></i> Reference Report</a></li>	              
<li class=""><a href="#{c_certification_url identify_vendor}"><i class="icon-certificate"></i> Certifications Report</a></li>             </ul>
</div><!--/span-->

= render "shared/user_utilities"
</div>
<!--
<div class="sbh"><h5><i class="icon-folder-close"></i> My Applications</h5></div>
<div class="nosredna">&nbsp;</div>
<?php if(!$myApplications): ?>
There are no applications found 
<?php else: ?>          
<table class="datatable">
<tr>
<th scope="col">Postion</th>
<th scope="col">Status</th>
<th scope="col">Remark</th>
<th scope="col">Date of Remark</th>
</tr>
<tr>
<td>Assets and Inventory Consultant</td>
<td>Rejected</td>
<td>Disqualified</td>
<td>November 8th, 2011</td>
</tr>
<tr>
<td>Assets and Inventory Consultant</td>
<td>Rejected</td>
<td>Disqualified</td>
<td>November 8th, 2011</td>
</tr>
</table>
<div class="sbh"><h5>Total Records <i class="icon-chevron-right"></i> 2</h5></div>
<div class="pagination">
<ul>
<li><a href="#">Prev</a></li>
<li class="active">
<a href="#">1</a>
</li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">Next</a></li>
</ul>
</div>-->
<div class="nosredna">&nbsp;</div>
</div>



