<div class="sbh"><strong>Telephone</strong></div>
= form_for @ctelephone do |f|
    <label>Mobile</label>
    = f.text_field "mobile" ,:class=>'span5'
    <label>Home</label>
    = f.text_field "home" ,:class=>'span5'
    <label>Office</label>
    = f.text_field "work" ,:class=>'span5'
     
      
    <label>Fax</label>
    = f.text_field "fax" ,:class=>'span5'
    = f.hidden_field :consultant_id ,:class=>'span5'
    <div class="nosredna">&nbsp;</div>
    <input type="submit"  value="Save Contact Information" class="btn btn-primary" />