<div class="sbh bld">Certification</div>
%div
  = form_for @ncertification do |f|
    - if @ngo.s_certification.nil?
      = hidden_field_tag "s_certification[supplier_id]" ,@ngo.id
    - else
      = f.hidden_field :supplier_id
    
    <div class="alert alert-info">                  
    I, the undersigned, warrant that the information provided in this form is correct and, in the event of changes, details will be provided as soon as possible:
    </div>
      
    <label>Name</label>
    = f.text_field :name  , :class => 'span6'
    
    <label>Function</label>
    = f.text_field :function  , :class => 'span6'
      
    <label>Title</label>
    
    = f.text_field :title  , :class => 'span6'   
    %p
    %span
      No
      = f.radio_button :certify , "No"
    %span
      Yes
      = f.radio_button :certify , "Yes"
    
    
    <div class="nosredna">&nbsp;</div>
    <input type="submit"   value="Save Certification" class="btn btn-primary"   name="submit"/>
    
  
