= form_tag c_miscs_url , :remote => true  do 
      
  <div class="alert alert-info"> Do you have any dependents? </div>
  %span 
    No
    = radio_button_tag "c_misc[any_dependent]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[any_dependent]" , "Yes"  
  = render "c_de_pendents/new"   
   
  <div class="alert alert-info"> Have you taken up legal permanent residence status in any country other than that of your nationality? </div>
  %span 
    No
    = radio_button_tag "c_misc[legal_permanent_residence_status]" ,"No" 
  %span
    Yes
    = radio_button_tag "c_misc[legal_permanent_residence_status]" , "Yes"
  
  %div If yes , which country(ies) [use comma to separate if more than one]:
  = text_field_tag "c_misc[legal_permanent_residence_country]"  , nil ,:size=>"10x5"
 
  <div class="alert alert-info"> Have you taken any step towards changing your present nationality? </div>
  %span 
    No
    = radio_button_tag "c_misc[present_nationality_change_status]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[present_nationality_change_status]" , "Yes" 
  %div If yes , explain fully:
  = text_area_tag "c_misc[present_nationality_change_explain]"  , nil ,:size=>"10x5"
  
  <div class="alert alert-info"> Are any of your family members (spouse/partner,father/mother,brother/sister,son/daughter) employed in the UN Common System, including UNDP? </div>
  %span 
    No
    = radio_button_tag "c_misc[family_in_undp_status]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[family_in_undp_status]" , "Yes"  
  = render "c_family_in_undps/new"   
      
  <div class="alert alert-info"> Do you have any other extended family members  employed by UNDP? </div>
  %span 
    No
    = radio_button_tag "c_misc[ext_family_in_undp_status]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[ext_family_in_undp_status]" , "Yes"  
  = render "c_ext_family_in_undps/new"
  
  <div class="alert alert-info"> Languages [indicate mother tongue first]:  Ability to operate in the listed language(s) in a work environment </div>
  = render "c_languages/new"
  <div class="sbh">Would you accept employment for less than six months?</div>
  %span 
    No
    = radio_button_tag "c_misc[accept_employment_for_less_than_six]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[accept_employment_for_less_than_six]" , "Yes"  
  <div class="sbh">Have you been interviewed for any UNDP position in the last 12 months?</div>
  %span 
    No
    = radio_button_tag "c_misc[interviewed_for_any_undp_job_in_last_twelve]" , "No"
  %span
    Yes
    = radio_button_tag "c_misc[interviewed_for_any_undp_job_in_last_twelve]" , "Yes"  
  %p
    If so , for which posts [use comma to separate where position(s) is more than one]
    = text_field_tag "c_misc[interviewed_posts]"
  <div class="sbh">For General Service Support Level Posts Only, Indicate If You Have Passed The Following Tests:
  </div>
  <div> ASAT Administrative Support Assessment Test (Formerly Known As Clerical Test)</div>
  %span 
    No
    = radio_button_tag "c_misc[asat_test_status]" , "No"
  %span
    Yes
    = radio_button_tag "c_misc[asat_test_status]" , "Yes"
  %p
    If yes , date taken:
    = text_field_tag "c_misc[asat_date_taken]" , nil ,:class =>'datepicker'
  
  <div> UNDP Financial Assessment Test</div>
  %span 
    No
    = radio_button_tag "c_misc[finance_assessment_test_status]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[finance_assessment_test_status]" , "Yes"
  %p
    If yes , date taken:
    = text_field_tag "c_misc[finance_assessment_date_taken]" , nil ,:class =>'datepicker'
  <div class="sbh">Have You Ever Been Convicted, Fined, Or Imprisoned For Violation Of Law? (Excluding Minor Traffic Violation)</div>
  %span 
    No
    = radio_button_tag "c_misc[ever_been_convicted_fined_imprisoned]" , "No"
  %span
    Yes
    = radio_button_tag "c_misc[ever_been_convicted_fined_imprisoned]" , "Yes"

  <div style="margin-left:20px;">
  
  <label>if yes give full details of each case in the box below </label>
  = text_area_tag "c_misc[conviction_particulars]" , nil ,:class=>"span6"
  </div>
  <div class="sbh">Have You Ever Been Imposed Disciplinary Measures, Including Dismissal Or Separation From Service, On The Grounds Of Misconduct?</div>
  %span 
    No
    = radio_button_tag "c_misc[disciplinary_measures]" , "No"
  %span
    Yes
    = radio_button_tag "c_misc[disciplinary_measures]" , "Yes"


  <div style="margin-left:20px;">
 

  if yes give full details of each case in the box below 
  = text_area_tag "c_misc[disciplinary_particulars]" , nil ,:class=>"span6"
  </div> 
  <div class="sbh">Have you ever been separated from service on the ground of Unsatifactory Performance?</div>
  %span 
    No
    = radio_button_tag "c_misc[separated_from_service]" , "No" 
  %span
    Yes
    = radio_button_tag "c_misc[separated_from_service]" , "Yes"

  <div style="margin-left:20px;"> 
  if yes give full details of each case in the box below 
  = text_area_tag "c_misc[separation_particulars]" , nil ,:class=>"span6"
  = hidden_field_tag "c_misc[consultant_id]" , session[:cid] ,:class=>"span6"
  
  
   
  
  
  <div class="nosredna">&nbsp;</div>
  = label_tag " "
  <input class="btn btn-primary" type="submit"  value="Save Miscellaneous" />
  </div>