- c = @consultant
= form_for @consultant   do |f|
      
  <div class="alert alert-info"> Do you have any dependents? </div>
  %span 
    No
    = f.radio_button :any_dependent ,c.any_dependent
  %span
    Yes
    = f.radio_button :any_dependent ,c.any_dependent  
  
   
  <div class="alert alert-info"> Have you taken up legal permanent residence status in any country other than that of your nationality? </div>
  %span 
    No
    = f.radio_button :legal_permanent_residence_status , c.legal_permanent_residence_status 
  %span
    Yes
    = f.radio_button "legal_permanent_residence_status" ,  c.legal_permanent_residence_status 
  
  %div If yes , which country(ies) [use comma to separate if more than one]:
  = f.text_field "legal_permanent_residence_country"   ,:size=>"10x5"
 
  <div class="alert alert-info"> Have you taken any step towards changing your present nationality? </div>
  %span 
    No
    = f.radio_button "present_nationality_change_status" , c.present_nationality_change_status
  %span
    Yes
    = f.radio_button "present_nationality_change_status" , c.present_nationality_change_status 
  %div If yes , explain fully:
  = f.text_area "present_nationality_change_explain"   ,:size=>"10x5"
  
  <div class="alert alert-info"> Are any of your family members (spouse/partner,father/mother,brother/sister,son/daughter) employed in the UN Common System, including UNDP? </div>
  %span 
    No
    = f.radio_button "family_in_undp_status" , c.family_in_undp_status
  %span
    Yes
    = f.radio_button "family_in_undp_status" ,c.family_in_undp_status  
      
  <div class="alert alert-info"> Do you have any other extended family members  employed by UNDP? </div>
  %span 
    No
    = f.radio_button "ext_family_in_undp_status" , c.ext_family_in_undp_status 
  %span
    Yes
    = f.radio_button "ext_family_in_undp_status" , c.ext_family_in_undp_status
  
  <div class="sbh">Would you accept employment for less than six months?</div>
  %span 
    No
    = f.radio_button "accept_employment_for_less_than_six" , c.accept_employment_for_less_than_six 
  %span
    Yes
    = f.radio_button "accept_employment_for_less_than_six" , c.accept_employment_for_less_than_six  
  <div class="sbh">Have you been interviewed for any UNDP position in the last 12 months?</div>
  %span 
    No
    = f.radio_button "interviewed_for_any_undp_job_in_last_twelve" , c.interviewed_for_any_undp_job_in_last_twelve
  %span
    Yes
    = f.radio_button "interviewed_for_any_undp_job_in_last_twelve" , c.interviewed_for_any_undp_job_in_last_twelve  
  %p
    If so , for which posts [use comma to separate where position(s) is more than one]
    = f.text_field "interviewed_posts"
  <div class="sbh">For General Service Support Level Posts Only, Indicate If You Have Passed The Following Tests:
  </div>
  <div> ASAT Administrative Support Assessment Test (Formerly Known As Clerical Test)</div>
  %span 
    No
    = f.radio_button "asat_test_status" ,c.asat_test_status
  %span
    Yes
    = f.radio_button "asat_test_status" , c.asat_test_status
  %p
    If yes , date taken:
    = f.text_field "asat_date_taken"  ,:class =>'datepicker'
  
  <div> UNDP Financial Assessment Test</div>
  %span 
    No
    = radio_button_tag "finance_assessment_test_status" , c.finance_assessment_test_status 
  %span
    Yes
    = f.radio_button "finance_assessment_test_status" , c.finance_assessment_test_status
  %p
    If yes , date taken:
    = f.text_field :finance_assessment_date_taken ,:class =>'datepicker'
  <div class="sbh">Have You Ever Been Convicted, Fined, Or Imprisoned For Violation Of Law? (Excluding Minor Traffic Violation)</div>
  %span 
    No
    = f.radio_button "ever_been_convicted_fined_imprisoned"  ,c.ever_been_convicted_fined_imprisoned
  %span
    Yes
    = f.radio_button "ever_been_convicted_fined_imprisoned" , c.ever_been_convicted_fined_imprisoned

  <div style="margin-left:20px;">
  
  <label>if yes give full details of each case in the box below </label>
  = f.text_area "conviction_particulars" ,:size => "10x5"
  </div>
  <div class="sbh">Have You Ever Been Imposed Disciplinary Measures, Including Dismissal Or Separation From Service, On The Grounds Of Misconduct?</div>
  %span 
    No
    = f.radio_button "disciplinary_measures" ,c.disciplinary_measures
  %span
    Yes
    = f.radio_button "disciplinary_measures" , c.disciplinary_measures


  <div style="margin-left:20px;">
 

  if yes give full details of each case in the box below 
  = f.text_area "disciplinary_particulars" ,:size=>"10x5"
  </div> 
  <div class="sbh">Have you ever been separated from service on the ground of Unsatifactory Performance?</div>
  %span 
    No
    = f.radio_button "separated_from_service" , c.separated_from_service 
  %span
    Yes
    = f.radio_button :separated_from_service ,c.separated_from_service

  <div style="margin-left:20px;"> 
  if yes give full details of each case in the box below 
  = f.text_area "separation_particulars"  ,:size=>"10x5"
  = f.hidden_field "consultant_id" 
  
  
   
  
  
  <div class="nosredna">&nbsp;</div>
  = label_tag " "
  <input class="btn btn-primary" type="submit"  value="update" />
  </div>
  
%script
  $(function(){
  $('.datepicker').datepicker();
  });
