= render "shared/themes/admin_header"
- if(@consultant.nil?)

  Sorry, no miscellaneous information for this user.

- else

  <div class="sframe bld">Miscellaneous #{render "shared/themes/user_title"} 
  <div class="pull-right" style="margin-top:-5px;">
  <div class="btn-group">
  = render 'shared/cons-actions'
  </div>
  </div>
  </div>
  %table{:class => "table tbsfnt"}
    - c = @consultant
    %caption 
      %tr
        %td Disabilities
        %td= c.disability_from_air_travel 
      %tr
        %td Describe disabilities
        %td= c.disability_describe
      %tr
        %td Legal Resident Status
        %td= c.c_misc.legal_permanent_residence_status
      %tr
        %td legal resident countries
        %td= c.c_misc.legal_permanent_residence_country
      %tr
        %td Taken ASAT
        %td= c.c_misc.asat_test_status
      %tr
        %td ASAT Date
        %td= c.c_misc.asat_date_taken
      %tr
        %td Taken Finance Test
        %td= c.c_misc.finance_assessment_test_status
      %tr
        %td Assessment Test Date
        %td= c.c_misc.finance_assessment_date_taken
      %tr
        %td Steps towards nationality change
        %td= c.c_misc.present_nationality_change_status
      %tr
        %td Explain Steps
        %td= c.c_misc.present_nationality_change_explain
       
      %tr
        %td Ever been convicted
        %td= c.c_misc.ever_been_convicted_fined_imprisoned
          
      %tr
        %td{:colspan=>2} Explanation for conviction
      %tr
        %td{:colspan=>2}= c.c_misc.conviction_particulars
       
      %tr
        %td Displinary Measures
        %td= c.c_misc.disciplinary_measures
      
      %tr
        %td{:colspan =>2} Disciplinary measures details
          
      %tr
        %td{:colspan=>2}= c.c_misc.disciplinary_particulars
        
      %tr
        %td Actions
        %td
          
          <a href="#{edit_c_misc_url c.c_misc.id,:consultant_id=>c.c_misc.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
             
  
  
  
   
  
   
  
  
   
  
   
   
  
  - if @consultant.c_misc.family_in_undp_status != 'No'
    <div class="sframe bld">Family in UNDP</div>
    %table{:class=>"datatable tbsfnt"}
      <tr>
    
       
      <th>Name</th>
      <th> Relationship</th>
      <th>Organisation</th>
      <th>Actions</th>
      </tr>
      - @consultant.c_family_in_undps.each do |c|
        %tr
        %td= c.name
        %td= c.relationship
        %td= c.name_of_unit
        %td
          <a href="#{edit_c_family_in_undp_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
          = link_to '<i class="icon-trash"></i>'.html_safe ,c_family_in_undp_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.name}" }}  
  <div class="nosredna">&nbsp;</div>
  - if @consultant.c_misc.ext_family_in_undp_status != 'No'
    <div class="sframe bld">Extended Family in UNDP</div>
    %table{:class=>"datatable tbsfnt"}
      <tr>
    
       
      <th>Name</th>
      <th> Relationship</th>
      <th>Organisation</th>
      <th>Actions</th>
      </tr>
      - @consultant.c_ext_family_in_undps.each do |c|
        %tr
        %td= c.name
        %td= c.relationship
        %td= c.name_of_unit
        %td
          <a href="#{edit_c_ext_family_in_undp_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
          = link_to '<i class="icon-trash"></i>'.html_safe ,c_ext_family_in_undp_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.name}" }}  
       
    
  
   
   
  
  <div class="nosredna">&nbsp;</div>
  
  - !if !@consultant.c_languages.nil?
      
    <div class="sframe bld">Language</div>
    %table{:class=>"datatable tbsfnt"}
  
      <tr>
      
      <th> Language</th>
      <th> Read</th>
      <th> Write</th>
      <th> Speak</th>
      <th> Understand</th>  
      <th> Actions</th>
      </tr>
      - @consultant.c_languages.each do |c|
        %tr
          %td= c.language
          %td= c.read_status
          %td= c.write_status
          %td= c.speak_status
          %td= c.understand_status
          %td
            
            <a href="#{edit_c_language_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
            = link_to '<i class="icon-trash"></i>'.html_safe ,c_language_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.language}" }}  
       
  
  
   
  <div class="nosredna">&nbsp;</div>
  - if  @consultant.c_misc.any_dependent != 'No'
    <div class="sframe bld"> Dependent(s)</div>
    %table{:class=>"datatable tbsfnt"}
      %tr
        <th>Name</th>
        <th>Relationship</th>
        <th> Date of birth</th>
        <th Actions </th>
      
      
      - @consultant.c_de_pendents.each do |c|
        %tr        
          %td= c.name
          %td= c.relationship
          %td= time_tag c.dob 
          %td
            <a href="#{edit_c_de_pendent_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
            = link_to '<i class="icon-trash"></i>'.html_safe ,c_de_pendent_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.name}" }}  
       
   
  
  
  
   
  </div>
 

= render "shared/navtree"
