= form_for @ncontract do |f|
 
  <div class="sbh bld">Recent Contracts With The United Nations And/Or Other International Aid Organizations</div>
  <label>Organization </label>
  = f.text_field :organization , :class => 'span6'
  
  <label>Value in US$ </label>
  = f.text_field :contract_amount , :class => 'span6' 
  
  <label>Year </label>
  = f.select :year , Time.now.year.downto(1900).map{|y| [y, y]} , :include_blank=>true
  
  

  <label>Goods or Services Supplied  </label>
  
  = f.text_area :goods_or_services,:class=>'span6' ,:size => "10x10"
   
  <label>Destination  </label>
  
  = f.text_field :destination,:class=>'span6'  
   
  
  <label>Contact Details and Phone Number </label>
  
  = f.text_area :contact_details,:class=>'span6' ,:size => "10x10"
  
  <div class="sbh bld">Others</div>
  <label>To which Countries has your Company exported and/or MANAGED projects over the last 3 years  </label>
  
  = f.text_field :export_countries,:class=>'span6' ,:size => "10x10"
  
  <label>Please List Any Disputes Your Company Has Been Involved In With The United Nations Organizations Over The Last 3 Years </label>
  
  = f.text_area :disputes,:class=>'span6' ,:size => "10x10"
  
  <label>List Any National, Or International Trade Or Professional Organization(s) Of Which Your Company Is A Member </label>
  = f.text_field :membership_of,:class=>'span6' 
  - if @ngo.s_contract.nil?
    = hidden_field_tag "s_contract[supplier_id]" ,@ngo.id
  - else
    = f.hidden_field :supplier_id
    
  
  
  <div class="nosredna">&nbsp;</div>
  <input type="submit" name="" value="Save Contract Details" id = "quickContractDetails" class="btn btn-primary" />
