= render "shared/themes/admin_header"

= render "shared/edit-cons-actions"

%div
  = form_for @consultant ,:url => consultant_url(:id => @consultant.id) ,:method => :put ,:remote=>false do |f|
    = f.label :firstname
    = f.text_field :firstname  ,:class=>'span5'
    = f.label :lastname
    = f.text_field :lastname  ,:class=>'span5'
    <label>Other Name or Maiden  Name</label>
    = f.text_field :other_name  ,:class=>'span5'
     
    <label>Date of Birth</label>
    = f.text_field :dob ,:class=>'span5 datepicker'
    <label>Place of Birth</label>
    = f.text_field :place_of_birth ,:class=>'span5 '
    <label>Nationality at Birth</label>
    = f.text_field :nationality_at_birth ,:class=>'span5 '
    <label>List all your current nationality(ies) <code>[use ',' for each one]</code></label>
    = f.text_field :nationalities ,:class=>'span5 '
   
    <label>Gender </label>
    = f.select :gender ,([['Male', 'Male'],['Female','Female']]) ,{:include_blank =>true },{:class=>''}
    <label>Marital Status </label>  
    = f.select :marital_status , ([['Single', 'Single'],['Married','Married'],['Separated', 'Separated'],['Widow (er)','Widow'],['Divorced','Divorced']]) ,{:include_blank =>true} 
    %div{:class=>"nosredna"} &nbsp;
    %p{:class=>"alert alert-info"} 
      Entry into United Nations service might require assignment and travel to any area of the world in which the United Nations has responsibilities.
      Have you any disabilities which might limit your prospective field of work or your ability to engage in air travel ?
    %span No
    = f.radio_button :disability_from_air_travel , 'No'
    %span Yes
    = f.radio_button :disability_from_air_travel ,  'Yes'
   
    %label If "Yes", Please describe
    = f.text_field :disability_describe , :class=>'span5'
    <div class="nosredna">&nbsp;</div>
    <input type="submit"   value="Save Personal Information" class="btn btn-primary" />
</div>
= render "shared/navtree"
%script
  $(function(){
  $('.datepicker').datepicker({changeMonth:true, changeYear:true,dateFormat:'yy-mm-dd',yearRange: "1940:#{DateTime.now.year}"}) ;
 
  });
