= render "shared/themes/admin_header"

<div class="pull-right" style="margin-top:-5px;">
<div class="btn-group">

-#= render 'shared/cons-actions'

</div>
</div>

<div class="mframe padd20">        
<div class="tabbable">
<ul class="nav nav-tabs">
<li title="Personal" class="active">
<a href="#tab1" data-toggle="tab">Personal</a></li>
<li><a href="#tab2" data-toggle="tab" title="Contact">Contact</a></li>
<li><a href="#tab3" data-toggle="tab" title="Education">Education</a></li>
<li><a href="#tab4" data-toggle="tab" title="Employment">Employment</a></li>
<li><a href="#tab5" data-toggle="tab" title="Misc">Misc</a></li>
<li><a href="#tab6" data-toggle="tab" title="Reference">Reference</a></li>
<li><a href="#tab7" data-toggle="tab" title="Uploads">Uploads</a></li>
<li><a href="#tab8" data-toggle="tab" title="Certification">Certification</a></li>


</ul>
<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
<div class="tab-pane active" id="tab1">
<div class="sframe">
= form_for @consultant ,:url => consultant_url(:id => @consultant.id) ,:method => :put ,:remote=>true do |f|

  <label>First Name</label>
  = f.text_field :firstname  ,:class=>'span5'
  <label>Last Name</label>
  = f.text_field :lastname  ,:class=>'span5'
  <label>Other Name or Maiden  Name</label>
  = f.text_field :other_name  ,:class=>'span5'
   
  <label>Date of Birth</label>
  = f.text_field :dob ,:class=>'span5 datepicker'
  <label>Place of Birth</label>
  = f.text_field :place_of_birth ,:class=>'span5 '
  <label>Nationality at Birth</label>
  = f.text_field :nationality_at_birth ,:class=>'span5 '
  <label>List all your current nationality(ies) <code>[use ',' for each one]</code></label>
  = f.text_field :nationalities ,:class=>'span5 '
 
  <label>Gender </label>
  = f.select :gender ,([['Male', 'Male'],['Female','Female']]) ,{:include_blank =>true },{:class=>''}
  <label>Marital Status </label>  
  = f.select :marital_status , ([['Single', 'Single'],['Married','Married'],['Separated', 'Separated'],['Widow (er)','Widow'],['Divorced','Divorced']]) ,{:include_blank =>true} 
  <div class="nosredna">&nbsp;</div>
  %p{:class=>"alert alert-info"} 
    Entry into United Nations service might require assignment and travel to any area of the world in which the United Nations has responsibilities.
    Have you any disabilities which might limit your prospective field of work or your ability to engage in air travel ?
  %span No
  = f.radio_button :disability_from_air_travel , 'No'
  %span Yes
  = f.radio_button :disability_from_air_travel , 'Yes'
 
  %label If "Yes", Please describe
  = f.text_field :disability_describe , :class=>'span5'
  <div class="nosredna">&nbsp;</div>
  <input type="submit"   value="Save Personal Information" class="btn btn-primary" />
  
</div>
</div>
<div class="tab-pane" id="tab2">
<div class="sframe">
= form_for :c_contact_detail , :url => c_contact_details_url ,:remote=>true do |f|
  <div class="sbh"><strong>Address &raquo; Permanent</strong></div>
  <label>Street</label>
  = f.text_field "[0]street_address" ,:class => 'span5'
  <label>Town</label>
  = f.text_field "[0]town" ,:class => 'span5'
  <label>State</label>
  = f.text_field "[0]state" ,:class => 'span5'
 
  <label>Country</label>
  = f.text_field "[0]country" ,:class => 'span5'
  = f.hidden_field "[0]address_type" ,:value => 'Permanent'
  = f.hidden_field "[0]consultant_id" ,:value => @consultant.id,:class=>'span5'
  %div{:class => "alert alert-error"}
    Check the box if Address is same as Above 
    = f.check_box "[0]address_equal"
  
  <div class="sframe"><strong>Address &raquo; Present</strong></div>
  <label>Street</label>
  = f.text_field "[1]street_address" ,:class => 'span5'
  <label>Town</label>
  = f.text_field "[1]town" ,:class => 'span5'
  <label>State</label>
  = f.text_field "[1]state" ,:class => 'span5'
 
  <label>Country</label>
  = f.text_field "[1]country" ,:class => 'span5'
  = f.hidden_field "[1]address_type" ,:value => 'Present'
  = f.hidden_field "[1]consultant_id" ,:value => @consultant.id,:class=>'span5'
 
  <div class="sbh"><strong>Telephone</strong></div>
  <label>Mobile</label>
  = f.text_field "c_telephone[mobile]" ,:class=>'span5'
  <label>Home</label>
  = f.text_field "c_telephone[home]" ,:class=>'span5'
  <label>Office</label>
  = f.text_field "c_telephone[work]" ,:class=>'span5'
 
  
  <label>Fax</label>
  = f.text_field "c_telephone[fax]" ,:class=>'span5'
  = f.hidden_field "c_telephone[consultant_id]" ,:value => @consultant.id,:class=>'span5'
 
  <div class="nosredna">&nbsp;</div>
  <input type="submit"  value="Save Contact Information" class="btn btn-primary" />
   
</div>
</div>
<div class="tab-pane" id="tab3">

= render "c_educations/new"

</div> 

 
 
<div class="tab-pane" id="tab4">

  

= render "c_employment_records/new"
 
</div>
 
 
<div class="tab-pane" id="tab5">
= render "c_miscs/new"
</div>
<div class="tab-pane" id="tab6">
= form_for :reference , :url => c_references_url ,:remote => true do |f|
  <div class="alert alert-info">List Three Persons Not Related To You, Who Are Familiar With Your Character And Qualifications And Who May Be Contacted For Reference</div>
  <div class="sbh">Reference 1 </div>
  <div class="row-fluid">
  <div class="span4">
  <label>First Name </label>
  = f.text_field "[0]firstname"
   
  <label>Last Name </label>
  = f.text_field "[0]lastname"
  <label>Street Address  </label>
  = f.text_field "[0]street" ,:size => ""
     
  </div>
  <div class="span4">
  <label>Town/City </label>
  = f.text_field "[0]town"
  
  <label>State </label>
  = f.text_field "[0]state"
  
  <label>Country </label>
  = f.text_field "[0]country"
  
  <label>Email </label>
  = f.text_field "[0]email"
  
  </div>
  <div class="span4">
  <label>Mobile Phone Number </label>
  = f.text_field "[0]mobile"
  
  <label>Home Phone Number </label>
  = f.text_field "[0]home"
  
  <label>Work Phone Number </label>
  = f.text_field "[0]work"
  
  <label>Fax </label>
  = f.text_field "[0]fax"
  = f.hidden_field "[0]consultant_id" , :value => @consultant.id
  
  
  </div>
  </div>
  
  <div class="sbh">Reference 2 </div>
  <div class="row-fluid">
  <div class="span4">
  <label>First Name </label>
  = f.text_field "[1]firstname"
   
  <label>Last Name </label>
  = f.text_field "[1]lastname"
  
  <label>Street Address  </label>
  = f.text_field "[1]street" ,:size => "10 x 5"
   
  </div>
  <div class="span4">
  <label>Town/City </label>
  = f.text_field "[1]town"
  
  <label>State </label>
  = f.text_field "[1]state"
  
  <label>Country </label>
  = f.text_field "[1]country"
  
  <label>Email </label>
  = f.text_field "[1]email"
  
  </div>
  <div class="span4">
  <label>Mobile Phone Number </label>
  = f.text_field "[1]mobile"
  
  <label>Home Phone Number </label>
  = f.text_field "[1]home"
  
  <label>Work Phone Number </label>
  = f.text_field "[1]work"
  
  <label>Fax </label>
  = f.text_field "[1]fax"
  = f.hidden_field "[1]consultant_id" , :value => @consultant.id
  
  
  </div>
  </div>
  
  <div class="sbh">Reference 3 </div>
  <div class="row-fluid">
  <div class="span4">
  <label>First Name </label>
  = f.text_field "[2]firstname"
   
  <label>Last Name </label>
  = f.text_field "[2]lastname"
  
  <label>Street Address  </label>
  = f.text_field "[2]street" ,:size => "10 x 5"
   
  </div>
  <div class="span4">
  <label>Town/City </label>
  = f.text_field "[2]town"
  
  <label>State </label>
  = f.text_field "[2]state"
  
  <label>Country </label>
  = f.text_field "[2]country"
  
  <label>Email </label>
  = f.text_field "[2]email"
  
  </div>
  <div class="span4">
  <label>Mobile Phone Number </label>
  = f.text_field "[2]mobile"
  
  <label>Home Phone Number </label>
  = f.text_field "[2]home"
  
  <label>Work Phone Number </label>
  = f.text_field "[2]work"
  
  <label>Fax </label>
  = f.text_field "[2]fax"
  = f.hidden_field "[2]consultant_id" , :value => @consultant.id
  
  </div>
  <div class="nosredna">&nbsp;</div>
  <input type="submit" name="" class="btn btn-primary" value="Save References"/>
  

</div></div>
<div class="tab-pane" id="tab7">

<div class="alert alert-info"> Please note that Resume/CV upload is optional </div>
= form_for :c_upload , :url => c_uploads_path , :html =>{:multipart => true} do |ff|

  = ff.label "Passport Photo"
  = ff.file_field :photo
  = ff.label :resume
  = ff.file_field :resume
  = ff.hidden_field :consultant_id , :value => session[:cid]
  
  <br/>
  <input type="submit" value="Upload" name="submit"  class="btn btn-primary" />
</div>

<div class="tab-pane" id="tab8">

   
= render "shared/certify"
   
 
</div></div>
</div></div>
= render "shared/navtree"
<script type="text/javascript">
 
$(function() {

$('.datepicker').datepicker({changeMonth:true, changeYear:true,dateFormat:'yy-mm-dd',yearRange: "1940:#{DateTime.now.year}"}) ;
    


 
 
 

});


</script>