= render "shared/themes/admin_header"
<div class="sbh bld">Personal Details #{render "shared/themes/user_title"}
<div class="pull-right" style="margin-top:-5px;">
<div class="btn-group">

= render 'shared/cons-actions'

</div>
</div>
</div>
<div class="well dfff">
<ul>
<li class="tick"><strong>First Name</strong> &raquo;  #{@consultant.firstname} </li>
<li class="tick"><strong>Other Name / Maiden Name </strong>&raquo;  #{@consultant.other_name} </li>
<li class="tick"><strong>Last Name</strong> &raquo; #{@consultant.lastname} </li> 
<li class="tick"><strong>Date of Birth</strong> &raquo;
= time_tag @consultant.dob unless @consultant.dob.nil?
</li>
<li class="tick"><strong>Place of Birth</strong> &raquo;#{@consultant.place_of_birth}</li>
<li class="tick"><strong>Gender</strong> &raquo;#{@consultant.gender} </li>
<li class="tick"><strong>Marital Status</strong> &raquo;#{@consultant.marital_status}</li>

<li class="tick"><strong>Nationality at birth</strong> &raquo;#{@consultant.nationality_at_birth}
<li class="tick"><strong> Current Nationality(ies)</strong> &raquo;#{@consultant.nationalities}</li>
</ul>
- if !@consultant.c_contact_details.nil?
  - @consultant.c_contact_details.each do |c|
    <div class="sbh bld">#{c.address_type} Address</div>
    <ul>
    <li class="tick"><strong>Street</strong> &raquo; #{c.street_address} </li>
    <li class="tick"><strong> Town </strong> &raquo;#{c.town} </li>  
    <li class="tick"><strong>State </strong> &raquo; #{c.state}</li> 
    <li class="tick"><strong>Country </strong> &raquo; #{c.country} </li>
    <li class="tick"><strong>Telephone </strong> &raquo; #{c.telephone} </li>
    <li class="tick">
    = link_to '<i class="icon-pencil"></i>'.html_safe,edit_c_contact_detail_url(:id =>c.id,:consultant_id => c.consultant_id) ,{:title=>"Edit"}
    
    = link_to '<i class="icon-trash"></i>'.html_safe,c_contact_detail_url(:id =>c.id,:consultant_id => c.consultant_id) , {:title =>"delete", :method =>:delete,:data=>{"confirm" => "Are you sure you want to delete?"}}
    </li>
   
    </ul>
 
- if !@consultant.ctelephone.nil?
  <div class="sbh bld">Telephone</div>
  <ul>

  <li class="tick"><strong>Mobile </strong> &raquo; #{@consultant.ctelephone.mobile} </li>
   
  
  <li class="tick"><strong>Home </strong> &raquo; #{@consultant.ctelephone.home}</li>
   
  
  <li class="tick"><strong>Office </strong> &raquo; #{@consultant.ctelephone.work} </li> 
  <li class="tick"><strong>Fax </strong> &raquo; #{@consultant.ctelephone.fax}</li>
  - c = @consultant
  <li class="tick">
  = link_to '<i class="icon-pencil"></i>'.html_safe,edit_ctelephone_url(:id =>c.ctelephone.id,:consultant_id => c.id) ,{:title=>"Edit"}
  = link_to '<i class="icon-trash"></i>'.html_safe,ctelephone_url(:id =>c.ctelephone.id,:consultant_id => c.id) , {:title =>"delete", :method =>:delete,:data=>{"confirm" => "Are you sure you want to delete?"}}
  </li>
  </ul>
</div>
<div class="nosredna">&nbsp;</div>
</div>


= render "shared/navtree"
