<div class="span9" style="margin: 0;">
<div class="sframe">
<div class="row-fluid">
- if !@vacancy.blank?
  <h4 class ="alert alert-danger">Delist All Applications for  #{@vacancy.first.vacancy.name}   Postion ?</h4>
  <p style="font:20px bold;">
  Just so we are clear! you are initiating an irreversible request.
  All Applications for this Postion will be completely <i>Delisted</i> from the database.
  </p>
  %p
    = link_to "Yes, Proceed and delist ?" , vac_application_url(:vacancy_id=>@vacancy.first.vacancy.id,:delete=>1)  ,:data=> {:method=>:delete},:class=>'btn btn-danger'
    = link_to "Alright then, never mind ?" , request.env["HTTP_REFERER"],:class=>'btn btn-success'

</div>
</div>
</div>