<div class="sframe span8">
= render "shared/applications_mgr"
<div class="sbh">Applications / Positions </div>
 

<table class="datatable frnd">

<tr>


<th>Position</th>
<th>Applications</th>
<th>Vendor</th>
<th>Job Location</th>
<th>Status</th>
%th Actions

</tr>




 
 

- @vacancies.each do |v|
  <tr>
  
  
  
   
  <td>
  = link_to "#{v.name}",vac_application_url(:id=>v.id,:vacancy_id=>v.id,:req=>v.requires_attachment) ,'title'=>'click here to view all applicants for this opening!'
  </td>
  <td>
  = link_to v.vac_applications.size , "#{vac_application_url(:id=>v.id,:vacancy_id=>v.id,:req=>v.requires_attachment)}" ,'title'=>'click here to view all applicants for this opening!'
  </td>
  
  
  <td>
  = v.vendor_type.name unless v.vendor_type.blank?
  </td>
  
  <td>
  = v.location
  </td>
  - if v.status == 0
    <td> Opened </td>
  - else
    <td> Closed </td>
  %td= link_to "Delist Applications" ,"#{vac_application_url(:vacancy_id=>v.id,:id=>v.id)}" ,:data=>{:confirm => "Are you sure to delist all applications for #{v.name} Position ?",:method=>:delete}
  </tr>
   
  
  
   
</table>

 

 
= render "shared/paginate"

</div>

 


= render "shared/navtree"






<script type="text/javascript">
$(function(){
$('#selectAll').change(function() {

var group = '.chkBxs:checkbox';
$(group).attr('checked', $(this).attr('checked'));
});

$('.selectAll').click(function() {

var group = '.chkBxs:checkbox';
if($(group).attr('checked')==true)
{
$(group).attr('checked', false)
}
else if($(group).attr('checked')==false)
{
$(group).attr('checked', true)
}
});
$('.previous a,.next a,.current a,.span-24 div.span-24 a,.span-24 div.span-24 span a, div.paging div a,.paging span a,.paging a,.disabled,.disabled a,#sendBulkMail').click(function(e)
{
e.preventDefault();
var url=$(this).attr('href');
//alert($(this).attr('href'));
$('#ApplicationExportToManyForm').ajaxSubmit({
//MailSendEmailsForm
success: function(responseText,responseCode) {
//alert(responseText);
location.href=url;
}

});
});
});



</script>