 
<div class="sframe">

<div class="row-fluid">
<div class="tabbable" style="margin-bottom: 18px;">
<ul class="nav nav-tabs">    
<li class="active"><a href="#tab1" data-toggle="tab">Application Form</a></li>
</ul>
 

<div class="tab-pane active" id="tab1">
<div class="sframe">

By clicking on  <b>'Apply'</b>  Button you will be indicating your interest in the #{link_to(@vacancy.name,vacancy_url(@vacancy))} position.
<br/>
= form_for @application ,:html=>{:multipart=>true}do |f|
  = f.hidden_field :undpuser_id ,'value'=>current_user.id
  
  = f.hidden_field :vacancy_id , 'value'=> @vacancy.id
  = f.hidden_field :vendor_id ,'value'=> @vacancy.vendor_id
  = f.hidden_field :requires_attachment , :value => @vacancy.requires_attachment
  = f.hidden_field :vac_name , :value => @vacancy.name
   
  - if(@vacancy.requires_attachment.to_i == 1 && @vacancy.minimum_attachment.to_i > 0)
    
   
    <br/> 
    <font class="notice bold"> 
    
    Applicants to this position are required to upload <b class="red" style="font-variant: capitalize;font-size: 2.4em;">#{@vacancy.minimum_attachment} </b> file (s).
    </font> <br/>
    
    <font style="color:red;">  **Acceptable File types:'.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx,.ppsx,.pps,.png,.jpg,.gif'</legend>
    </font><font class="notice bold"> the size of  each  upload must <span class="danger">NOT</span> exceed : <b><i class="red">2 MB</i></b>**</pre></fieldset>'
    
    </font> <br/>
    - for i in (1..@vacancy.minimum_attachment.to_i) 
      = label_tag "File Description"
      = text_field_tag "app_attachment[file_"+"#{i}"+"_desc]"
      = label_tag " "
      = file_field_tag "app_attachment[file_"+"#{i}"+"]"
      <br/>
    
  
  <br/>
  <button type="submit" class="btn btn-primary" style="margin-left: 3px;">Apply</button>
  = link_to('Cancel',view_vacancies_url,'class'=>'btn btn-danger') 


 

</div></div></div></div>

<script type="text/javascript">

$(function() {


// setup ul.tabs to work as tabs for each div directly under div.panes
$("ul.tabs").tabs("div.panes div.t");


$('#quickAddCertification').click(function(){

$('#ConsultantCertifyForm').ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}
});
// $('#ReferenceAddForm').resetForm();
return false;

}) ;





});
</script>