<div class="span8" style="margin:0;">
<div class="sframe"><div class="frameback">

<div >


<a href="#{export_to_excel_vac_applications_url(:format=>:xls,:vacancy_id=>@vac_name.id)}" class="btn" title="Export to Excel"> Export to Excel</a>
= render "shared/applications_mgr"
<br/>
- if(@requires_attachment == "1")
  <span class="pull-right"><a href="#{app_attachments_url(:vacancy_id=>@vac_name.id)}"  class="" style="text-decoration:underline;">Applicant(s) uploaded <i>#{@attachments}</i> attachment (s)</a> </span>
 
<table   class="datatable frnd">
<caption> Applicants for the Position of  &nbsp;&nbsp;<span style="color:red;font-weight:bold; font-size:1.1em;">#{@vac_name.name}</span>
</caption>


<tr>


<th>Select All   <input type="checkbox"  name="empty"  id = "selectAll"/></th>

<th>Applicant </th>
<th>Applicant Category</th>

<th>Ad Category</th>


<th class="">Actions</th>
</tr>
<tr>

  

= form_for :export_selected ,:url => collate_for_export_system_wide_index_path ,:html=>{:id =>'exportForm'} do |f|
  = f.hidden_field "types" , :value => 'applicants'

  </th></tr>
  - @vacancy.each do |v|

 
    <tr>
    
    
    <td>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  name="applicants[]" value="#{v.id}" class="chkBxs"/>
    </td>
    
    
    
    <td>
    %b= v.undpuser.firstname
    %b= v.undpuser.lastname.to_s.upcase
    </td>
    
    <td>
    = v.undpuser.vendor_type.name
    </td>
    
    
    <td>
    = v.vacancy.vendor_type.name
    
    
    <td>


    
    - if !v.undpuser.consultant.blank?
    
      = link_to '<i class=icon-list-alt></i>'.html_safe, consultant_url(v.undpuser.consultant.id) ,'target'=>'_blank','title'=>'View CV'
      
    - elsif !v.undpuser.ngo.blank?
      = link_to '<i class=icon-list-alt></i>'.html_safe, ngo_url(:id=>v.undpuser.ngo.id,:ngo_id=>v.undpuser.ngo.id),'target'=>'_blank','escape'=>false,'title'=>'View NGO'
    
     
    
    - elsif !v.undpuser.supplier.blank?
      = link_to '<i class=icon-list-alt></i>'.html_safe, supplier_url(:id=>v.undpuser.supplier.id,:supplier_id=>v.undpuser.supplier.id) ,'target'=>'_blank','escape'=>false,'title'=>'View Supplier'
    
    
    
    = link_to '<i class=icon-envelope></i>'.html_safe, new_e_mail_url(:user_id=>v.undpuser.id),:data=>{:method=>:post},'class'=>'','title'=>'Email' ,'target'=>'_blank'
    = link_to '<i class=icon-play></i>'.html_safe, new_recruitment_url(:id=>v.id),'class'=>'','title'=>'Process Application' ,'target'=>'_blank'
    
     
    
    
     
    </td>
    </tr>
     

 
</table>
%p
%br
<a id = "exportSelected" href= "#{export_to_excel_vac_applications_url(:format=>:xls,:applicants=>'selected',:vacancy_id=>@vac_name.id)}" style="margin-left:10px;" class="btn btn-primary pull-right">Export the Selected</a> 
 
<a id = "emailSelected" href= "#{new_e_mail_url(:user_id=>'group')}" style="margin-left:10px;" class="btn btn-primary pull-right">Email Selected vendors</a> 

<a href="#{vac_applications_url}"  style="margin-left:10px;" class="btn btn-primary pull-right">Return to Applications</a>
 
= render "shared/paginate"



 

</div>
</div>

</div>


</div>
= render "shared/navtree"
<script type="text/javascript">
$(function(){


$('#selectAll').change(function() {

var group = '.chkBxs:checkbox';
if($('#selectAll').attr('checked'))
{
$(group).attr('checked', $(this).attr('checked'));

}
else
{
$(group).attr('checked', false);

}
});

$('#exportSelected , #emailSelected ,.previous_page,.current,.next_page,a[rel*=prev],a[rel*=start],a[rel*=next], .previous a,.next a,.current a,.span-24 div.span-24 a,.span-24 div.span-24 span a, div.paging div a,.paging span a,.paging a,.disabled,.disabled a').click(function(e)
{
e.preventDefault();
var url=$(this).attr('href');
//var submit_url = $('#exportForm').attr('action');
var form = $('#exportForm').serialize();
//alert(url);


$.ajax({type:'post',url:"#{collate_for_export_system_wide_index_url}",data:form,
success: function(responseText,responseCode) {
//alert(responseText);
window.location.href = url;
}
});
});
 

});



</script>
 