<div class="span8" style="margin:0;">
<div class="row-fluid">
<div class="sframe">
<h3   class="sbh">Recruitments</h3>



<span>


= form_for :recruitment, :method=>:get do |f|
  = label_tag "Select vacancy to view recruitments"
  = f.select :vacancy_id , Vacancy.select("id,name").map{|vv| [vv.name,vv.id]}
  %label 
  <input type="submit" value="Search" class="btn btn-primary"/>
  
</span>

<div class="sframe">
<a href="#{export_to_excel_recruitments_url(:format=>:xls)}" class="btn" title="Export to Excel"> Export to Excel</a>
%br
%br
<table   class="datatable frnd " style="width:auto;">



<tr>
 
<th>Select     <input type="checkbox"  name="empty"  id = "selectAll"/></th>

<th>Fullname</th>
<th>Job Title</th>
<th>Recruited By</th>
<th>Date Recruited</th>
<th>Status</th>
<th>Comment</th>

<th>Actions</th>
</tr>


= form_for :export_selected ,:url => collate_for_export_system_wide_index_path ,:html=>{:id =>'exportForm'} do |f|
  = f.hidden_field "types" , :value => 'recruits'

  - @recruitments.each do |r|
    <tr>
    
    <td>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  name="recruits[]" value="#{r.id}" class="chkBxs"/>
   
    </td>
    <td>
    = "#{r.undpuser.firstname}  #{r.undpuser.lastname}"
    
    </td>
    
    <td>
    = r.job_title
    </td>
    
    
    <td>
    = r.recruitment_by
    </td>
    
    <td>
    = time_tag r.created_at,:format=>'%B %d, %Y.'
    </td>
    <td>
    = r.status.name unless r.status.blank?
    </td>
    
    
    <td>
    = r.remark
    </td>
    <td >
    
    - case r.undpuser.vendor_id
      - when 1
        = link_to '<i class="icon-list-alt"></i>'.html_safe, consultant_url(:id => is_vendor?(r.undpuser.id),:consultant_id=> is_vendor?(r.undpuser.id)) ,:target =>"_blank"
      - when 2
        = link_to '<i class="icon-list-alt"></i>'.html_safe, ngo_url(:id => is_vendor?(r.undpuser.id),:ngo_id=> is_vendor?(r.undpuser.id)) ,:target =>"_blank"
      - when 3
        = link_to '<i class="icon-list-alt"></i>'.html_safe, supplier_url(:id => is_vendor?(r.undpuser.id),:supplier_id=> is_vendor?(r.undpuser.id)) ,:target =>"_blank"
    
    = link_to '<i class=icon-envelope></i>'.html_safe, new_e_mail_url(:user_id=>r.undpuser.id),:data=>{:method=>:post},'class'=>'','title'=>'Email' ,'target'=>'_blank'
     
    
     
    </td>
    </tr>
   


</table>
</div>
 
<br/>
<p style="float:right;">
<a id = "exportSelected" href= "#{export_to_excel_recruitments_url(:format=>:xls,:recruits=>'selected')}" style="margin-left:10px;" class="btn btn-primary pull-right">Export the Selected</a> 
 
<a id = "emailSelected" href= "#{new_e_mail_url(:user_id=>'group')}" style="margin-left:10px;" class="btn btn-primary pull-right">Email Selected vendors</a> 
<br/>
</p>
 
= render "shared/paginate"


</div></div> 
</div>
= render "shared/navtree"




<script type="text/javascript">

$(function(){


$('#selectAll').change(function() {

var group = '.chkBxs:checkbox';
if($('#selectAll').attr('checked'))
{
$(group).attr('checked', $(this).attr('checked'));

}
else
{
$(group).attr('checked', false);

}
});

$('#exportSelected , #emailSelected ,.previous_page,.current,.next_page,a[rel*=prev],a[rel*=start],a[rel*=next], .previous a,.next a,.current a,.span-24 div.span-24 a,.span-24 div.span-24 span a, div.paging div a,.paging span a,.paging a,.disabled,.disabled a').click(function(e)
{
e.preventDefault();
var url=$(this).attr('href');
//var submit_url = $('#exportForm').attr('action');
var form = $('#exportForm').serialize();
//alert(url);


$.ajax({type:'post',url:"#{collate_for_export_system_wide_index_url}",data:form,
success: function(responseText,responseCode) {
//alert(responseText);
window.location.href = url;
}
});
});
 




$('#searchBox').focus(function(){$('#searchBox').val('');});

});
</script>