<div class="span8"  style="margin:0;">
<div class="sframe">
<div class="frameback">
- if @application.blank?
  <div class="sbh">Recruitment Form  </div>
  %p{:class=>"alert alert-success"} Vendor : #{@undpuser.firstname} #{@undpuser.lastname} [#{@undpuser.vendor_type.name}]
    
  = form_for @recruit do |f|
  
    = f.label :vacancy_id  
    = f.select :vacancy_id ,@vacancies.map{|v| [v.name,v.id]} , :include_blank =>true
    = label_tag "Assign Status"
    = f.select :status_id, Status.select("id,name").map{|s| [s.name, s.id]} , :include_blank =>true
    = label_tag "Comment/ Remark"
    = f.text_field :remark
    = f.hidden_field :undpuser_id ,:value=> @undpuser.id 
     
    = f.hidden_field :vendor_type_id ,:value=> @undpuser.vendor_id
    = f.hidden_field :application_id 
    
    = f.hidden_field :recruitment_by ,:value=> "#{current_user.firstname}   #{current_user.lastname} [#{current_user.username}]"
    = f.hidden_field :recruiting_undpuser_id  ,:value=> current_user.id
    %br 
    %input{:type=>'submit',:class=>'btn btn-primary',:value=>'Save'}
    
- else
  <div class="sbh">Recruit Vendor for #{@application.vacancy.name} Position</div>
  = form_for @recruit do |f|
    %p{:class=>"alert alert-success"} Vendor : #{@application.undpuser.firstname} #{@application.undpuser.lastname} [#{@application.undpuser.vendor_type.name}]
    = f.hidden_field :vacancy_id ,:value=>@application.vacancy_id
    = f.hidden_field :undpuser_id ,:value=> @application.undpuser_id 
    = f.hidden_field :job_title ,:value=> @application.vacancy.name
    = f.hidden_field :vendor_type_id ,:value=> @application.undpuser.vendor_id
    = f.hidden_field :recruitment_by ,:value=> "#{current_user.firstname}   #{current_user.lastname} [#{current_user.username}]"
    = f.hidden_field :recruiting_undpuser_id  ,:value=> current_user.id 
    = f.hidden_field :application_id  ,:value=> @application.id 
    
    = label_tag "Assign Status"
    = f.select :status_id, Status.select("id,name").map{|s| [s.name, s.id]} , :include_blank =>true
    = label_tag "Comment/ Remark"
    = f.text_field :remark
    %br
    %input{:type=>'submit',:class=>'btn btn-primary',:value => 'Save'}

</div>
</div>
</div>
= render "shared/navtree"
