<div class="row-fluid">
<div class="nosredna">&nbsp;</div>
<div class="sbh">UN Language Exams (if any)</div>

<div class="nosredna">&nbsp;</div>
<div class="span3" style="margin-left:0;">
= form_for @consultant do |f|
  <label>Name of Institution</label>
  = f.text_field "institution" ,:class=>'span12'
  
  <label>Qualification</label>
  - options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
  = f.text_field "qualification"  ,:class=>'span12'
  
  <label>To (Month)</label>
  = f.text_field "attended_to",:class=>'span12'
  </div>
  <div class="span3">
  <label>Place</label>
  = f.text_field "place"  ,:class=>'span12'
  
  <label>Course of Study</label>
  = text_field "course_of_study" ,:class=>'span12'
   
  <label> In Person or Online/Remote</label>
  - options = [["",""],["In Person","In Person"],["Online","Online/Remote"] ]
  = select_tag "study_type" , options_for_select(options) ,:class=>'span12'
  </div>
  <!--/span-->
  <div class="span3">
  <label>Country</label>
  = f.text_field "country"  ,:class=>'span12'
  
  <label>From (Month)</label>
  = f.text_field :attended_from ,{:class=>'span12'}
  = f.hidden_field "consultant_id"
  </div><!--/span-->
  </div><!--/span-->
  <div class="nosredna">&nbsp;</div>
  <input type="submit" class="btn btn-primary" value ="Update" />
