%p  Create Recrutiment Status [e.g. Awaiting, short-listed, Long-listed, Engaged]
= form_for :status ,:url=> statuses_url do |f|
  
  <label for="Statusname"> Title or Label </label>
  <input class="span6" type="text" name="status[name]" value=""/>
  
  <label for="StatusDesc">Description</label>
  <input type="text" class="span6" name="status[description]" value=""/>
  
    
  <input type="submit" class="btn btn-primary" value="Save Status" />
   