<div class="sframe span8">
-#= link_to '<i class="icon-th-list"></i> Export to Excel'.html_safe , export_to_excel_logins_url(:format => :xls ) , :class=>'btn btn-success pull-right', :title => 'Export Audit to Excel'
%br
%h3= @title 

%table{:class=>'datatable fnrd'}
  %tr
    
    %th Status
    %th Description
    %th Action
    
    
  - @vpas.each do |audit|
    %tr 
      
      %td
        %strong{:class=>"success"}= audit.name
      %td= audit.description
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe , {:controller=>:statuses,:action=>:edit,:id=>audit.id},:title=>'Edit Programme Area'
        =link_to '<i class="icon-trash"></i>'.html_safe , {:controller=>:statuses,:action=>:destroy,:id=>audit.id},:method=>:delete ,"data-remote"=>false,:confirm=>"Delete #{audit.name} ?",:title=>'Delete Programme Area'
     
      - # %td= time_tag audit.time_out.to_time unless audit.time_out.nil?
      - #%td= time_length audit.session_duration
  
= render "shared/paginate"
</div> 

<div class="span3">
<div class="sdnav">
<div class="row-fluid">
= render "shared/nav_tree"
</div>            
</div>
</div>
</div>
