= form_for @ndocs , :multipart=>true do |f|
  - if !@ngo.s_technical_document.nil?
    = f.hidden_field :supplier_id
  - else
    = hidden_field_tag "s_technical_document[supplier_id]" , @ngo.id
  


   
  <div class="sbh">Uploads, Technical Capability And Information</div>
  <div class="alert alert-success">
  <strong>Acceptable Files!</strong>'.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx,.ppsx,.pps,.png,.jpg,.gif' &nbsp; &nbsp; &nbsp;  Max Size Of Each File : 2.9 MB.
  </div>
  %p{:class => "alert alert-block"} To replace/modify any document just upload a new one and it'll  be overwritten.
  
  <div class="sbh">Please Provide A Copy Of Most Recent Annual Or Audited Financial Report.</div>
  
  = f.file_field :fin_report
  
  
  <div class="sbh">Provide A Copy Of Your Latest Quality Assurance Certification (E.G. ISO9000 Or Equivalent)</div>
  = f.file_field :quality_assurance
  
  
  <div class="sbh">International Office/Representation (Countries Where The Company Has Local Office/Representation)</div>
  = f.file_field :intl_representation
  
  
  <div class="alert alert-info">List Below Upto 15 Of Your Goods/Services Offered With Their Respective UNCCS Codes A UNCCS Thesaurus Catalogue Is Available From The UNCSD Secretariat</div>
  <div class="sbh">Provide this document in a table using this format : UNCCS code,UNCCS description ,National/International quality</div>
  <label>(one line for each item)</label>
  = f.file_field :goods_services
   
  <div class="sbh">Does Your Company Have A Written Statement Of Your Environmental Policy?</div>
  %span
    No
    = f.radio_button :written_statement_policy_status , "No"
  %span
    Yes
    = f.radio_button :written_statement_policy_status , "Yes"
  
  
   
  <label>(if yes,please attach a copy) </label>
  = f.file_field :written
  
  <div class="sbh">Is Your Company EDI Enabled?</div>
  %span
    No
    = f.radio_button :edi_status , "No"
  %span
    Yes
    = f.radio_button :edi_status , "Yes"
  
   
  <div class="nosredna">&nbsp;</div>
  <input type="submit" name="" value="Upload" class="btn btn-primary" />
 