<div class="sframe">
<div class="row-fluid">
<!--/span-->
<div class="span5">
<div class="sbh"><h5 class="bdbf"><i class=" icon-map-marker"></i> What's Next ?</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class="alert alert-success"> Familiarize yourself with the system and the top menu navigation links.</li>
<li class="">&nbsp;</li>
<li class="alert alert-success"> Click on the NGO Information  dropdown link on the top menu and go to the NGO Form</li>
<li class="">&nbsp;</li>
<li class="alert alert-success"> Take note of the requirement for each page on the tabs, delegate a staff to provide the relevant information if you are busy.</li>

<li class="">&nbsp;</li>
<li class="alert alert-success"> Your provided information will be reviewed and approval or disproval communicated to you by a UNDP staff.</li>

</ul>
</div><!--/span-->
<div class="span7">
<div class="sbh"><h5 class="bdbf"><i class="icon-pencil"></i> Actions</h5></div>

<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="
= new_ngo_url(:id => identify_vendor)
"><i class="icon-user"></i> Save / Edit NGO Details</a></li>
<li class="">&nbsp;</li>
<!--<li class="">
<a href="<?php  echo $html->url(array('controller'=>'vacancies','action'=>'view'))?>">
<i class="icon-briefcase"></i> UNDP Vacancies</a></li> -->

<li class=""><a href="#{ngo_url identify_vendor}"><i class="icon-user"></i> View  NGO Profile</a></li>

</ul>

</div><!--/span-->

= render "shared/user_utilities"
</div>

<div class="nosredna">&nbsp;</div>



<script type="text/javascript">


$(function() {
$('#datepicker').datepicker({
inline: true
});

});
</script>

