<div class="span9" style="margin:0px;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>  #{@title} </strong></div>
 
 
<div class="sframe" style="padding-bottom:0px;"> 
- fields = ["","name","country"]
=  form_for :ngo ,:method=>:get do 
  
  = select_tag 'field',options_for_select(fields.map{|cc| [cc.capitalize,cc]}),'class'=>'span4'
  <input type="text" placeholder =" Enter Search Value" id="searchBox" name="searchString" />
  <br/>
  <button class="btn btn-primary" name="" style="margin-top:-5px;"><i class="icon-white icon-search"></i> Search</button>
  
  
</div>
<div class="sframe">



<a href="#{vendor_manager_vendor_types_url}" class="btn"><i class="icon-chevron-left"></i> Return to Vendor Manager</a>
<a href="#{export_to_excel_ngos_url(:format=>:xls)}" class="btn pull-right" style="margin-top:-5px;"><i class="icon-th-list"></i> Export NGO Vendors</a></div>
<a href="#{export_to_excel_ngos_url(:format=>:xls,:noname=>true)}" class="btn pull-right" style="margin-top:-5px;"><i class="icon-th-list"></i> Export Blank NGO Vendors</a></div>

</div>
= form_for :export_selected ,:url => collate_for_export_system_wide_index_path ,:html=>{:id =>'exportForm'} do |f|
  = f.hidden_field "types" , :value => 'ngos'

  <table class="datatable fnrd">
   
  <tr>
  
  <th>Select
  = link_to "",'#' 
  <input type="checkbox"  name="empty"  id = "selectAll"/>
  
  </th>
  <th>
  = link_to 'NGO Name',ngos_url(:sort=>"name")
  </th>
  <th>Parent </th>
  <th>Date of Establishment</th>
  <th>State</th>
  <th>Country</th>
  
  <th>Actions</th>
  </tr>
   
  - $i = 0; 
   
   
   
  
  - @ngos.each do |c|
    %tr
      %td &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"    name="ngos[]" value="#{c.id}" class="chkBxs"/>
  
      %td= c.name.upcase unless c.name.nil?
      %td= c.parent_ngo
      
      - if c.doe.nil? || c.doe.blank? 
        %td= c.doe
      - else
        %td
          -#= time_tag Date.parse c.doe
          -#[#{distance_of_time_in_words_to_now c.doe} ago ] 
          = c.doe
          
      %td= c.state_where_regd  
      %td= c.country
         
      %td
        = link_to '<i class="icon-list-alt"></i>'.html_safe, ngo_url(:id=>c.id,:ngo_id =>c.id),'target'=>'_blank','class'=>'btn btn-small','title'=>'view Ngo' 
        = link_to '<i class="icon-envelope"></i>'.html_safe, new_e_mail_url(:user_id => c.undpuser_id),:method=>:post,'class'=>'btn btn-small','title'=>'Email' ,'target'=>'_blank'
        = link_to '<i class="icon-pencil"></i>'.html_safe,new_ngo_url(:id=>c.id,:ngo_id =>c.id),'class'=>'btn btn-small','title'=>'Edit' ,'target'=>'_blank'
        = link_to '<i class="icon-list"></i>'.html_safe, ngo_url(:id=>c.id,:ngo_id =>c.id), :class=>'btn btn-small','title'=>'Regulatory Documents' ,'target'=>'_blank'
        - rtn = NRating.count(:all,:conditions => {:ngo_id => c.id})
        - if rtn > 0
          = link_to('<i class="icon-star"></i>'.html_safe, ng_ratings_url(:name=>"#{c.name}"),'class'=>'btn','target'=>'_blank','title'=>"#{rtn} Ratings"  )
        
     
  
  </table>

= render "shared/paginate"
<div>
<a id = "exportSelected" href= "#{export_to_excel_ngos_url(:format=>:xls,:ngos=>'selected')}" style="margin-left:10px;" class="btn btn-primary pull-right">Export the Selected</a> 
 
<a id = "emailSelected" href= "#{new_e_mail_url(:user_id=>'group')}" style="margin-left:10px;" class="btn btn-primary pull-right">Email Selected vendors</a> 

<br/>




</div></div></div>


= render('shared/navtree') 

<script type="text/javascript">
$(function(){

$('#selectAll').change(function() {

var group = '.chkBxs:checkbox';
if($('#selectAll').attr('checked'))
{
$(group).attr('checked', $(this).attr('checked'));

}
else
{
$(group).attr('checked', false);

}
});

$('#exportSelected , #emailSelected ,.previous_page,.current,.next_page,a[rel*=prev],a[rel*=start],a[rel*=next], .previous a,.next a,.current a,.span-24 div.span-24 a,.span-24 div.span-24 span a, div.paging div a,.paging span a,.paging a,.disabled,.disabled a').click(function(e)
{
e.preventDefault();
var url=$(this).attr('href');
//var submit_url = $('#exportForm').attr('action');
var form = $('#exportForm').serialize();
//alert(url);


$.ajax({type:'post',url:"#{collate_for_export_system_wide_index_url}",data:form,
success: function(responseText,responseCode) {
//alert(responseText);
window.location.href = url;
}
});
});
 
});


</script>