<div class="sframe">
<div class="row-fluid">
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">Expertise </a></li>
<li><a href="#tab2" data-toggle="tab">Details </a></li>
<li><a href="#tab3" data-toggle="tab">Financial </a></li>
<li><a href="#tab4" data-toggle="tab">Technical </a></li>
<li><a href="#tab5" data-toggle="tab">Contracts </a></li>
<li><a href="#tab6" data-toggle="tab">Certification </a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<div class="sbh bld">Select Areas of Expertise</div>           
- service_bkt = []
- if !@ngo_service.nil? && (@ngo_service.respond_to? :size)
  -if @ngo_service.size >= 1
    - @ngo_service.each do |ns| 
      - service_bkt << ns.vss_id
    

 
= form_for @ngo_service , :url=>ngo_services_path ,:method=>:post,:remote =>true do |f|

 
  
  - @services.each do |s|
    <div class="span3 sframe fnrd">
    <div class="multiple">
    <label class="form-inline" for="NgoServicesd#{s.name}" > #{s.name}
    - if service_bkt.include?(s.id)
      <input type="checkbox" value="#{s.id}" checked name="ngo_service[][vss_id]" />
    - else
      <input type="checkbox" value="#{s.id}" name="ngo_service[][vss_id]" />
    
    <input type="hidden" value="#{@ngo.id}" name="ngo_service[][ngo_id]"/>
    </label></div></div>
   
  <div class="nosredna">&nbsp;</div>

  
  <input type="submit" name="" class="btn span1 btn-primary" value="Submit" />




             

</div>
<div class="tab-pane" id="tab2">
<div class="sbh bld">NGO Details And General Information</div>
= form_for @ngo ,:remote => false do |f|


  <label for="ngo_name">Name of Organization:</label></td>
  = f.text_field :name ,:class => 'span6'
  <div class="sbh bld">Address</div>   
  <label for="street">Street Address</label></td> 
  = f.text_field :street_address , :class => 'span6'
  = f.hidden_field :undpuser_id
  <label for="town">Postal Code</label></td>
  = f.text_field :postal_code , :class => 'span6'
  
  <label for="town">City</label></td>
  = f.text_field :city , :class => 'span6'
  <label for="state">State</label></td>
  = f.text_field :state , :class => 'span6'
  <label for="country">Country</label></td>
  = f.text_field :country , :class => 'span6'
  <label for="street">Mailing Address</label></td>
  = f.text_field :mailing_address , :class => 'span6' 
  
  <label for="country">Parent NGO (Full legal name)</label></td>
  
  = f.text_field :parent_ngo , :class => 'span6'
  
  <label for="associates">Subsidiaries, Associtates and/or Overseas Representative(s)</label>
  
  = f.text_field :subsidiaries , :class => 'span6'
  
  
  <label for="country">Objective of the NGO</label>
  
  = f.text_area :objectives , :class=>'span6'
  
  
  <label for="country">Date of Establishment</label>
  
  = f.text_field :doe , :class => 'span6 datepicker'
  <label for="country">Number of Full-time Employees</label>
  
  = f.text_field :num_of_employees , :class => 'span6'
  <label for="country">License number</label>
  
  = f.text_field :license_number , :class => 'span6'
  <label for="country">State where Registered</label></td>
  
  = f.text_field :state_where_regd , :class => 'span6'
  <label for="country"> Date of Registration</label> 
  = f.text_field :dor , :class =>'span6 datepicker'
  
  %p{:id=>"can_remove"}
    <label for="country"> Type of Registration</label> 
    - regn_options = ["Local Government","State Government","Parastatal","CAC","Others"]
    - if !@ngo.registration_type.blank? and @ngo.registration_type != "Others"
      = select_tag "type_of_regn0",options_for_select(regn_options.sort.map{|ro| [ro,ro]},@ngo.registration_type), :class =>'span6',:id=>"may_remove"
    - elsif !@ngo.registration_type.blank? and @ngo.registration_type == "Others"
      = select_tag "type_of_regn0",options_for_select(regn_options.sort.map{|ro| [ro,ro]},@ngo.registration_type), :class =>'span6',:id=>"may_remove"
      = text_field_tag "type_of_regn1" ,@ngo.registration_type_other,:class=>"span6"

    - else
      = select_tag "type_of_regn0",options_for_select(regn_options.sort.map{|ro| [ro,ro]}), :class =>'span6',:id=>"may_remove"
      %p{:class=>"hidden_input alert alert-warning", :id=>"hidden_input"}
        %label Specify Type of Registration (if others)
        = text_field_tag "type_of_regn1" , nil,:class=>"span6"

  <label for="country">Specify working  local languages</label>
  
  = f.text_field :working_languages
  
  
  
  
  
  <div class="sbh bld">Telephone</div>   
  <label for="country">Mobile</label></td>
  - if @ngo.ntelephone.nil?
    = text_field_tag  "ntelephone[mobile]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "ntelephone[mobile]" , @ngo.ntelephone.mobile ,:class =>'span6'
 
  <label for="country">Home</label></td>
  - if @ngo.ntelephone.nil?
    = text_field_tag  "ntelephone[home]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "ntelephone[home]" , @ngo.ntelephone.home ,:class =>'span6'
 
  <label for="country">Office</label>
  - if @ngo.ntelephone.nil?
    = text_field_tag  "ntelephone[office]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "ntelephone[office]" , @ngo.ntelephone.office ,:class =>'span6'
 
   
  <label for="country"> Fax</label></td>
  - if @ngo.ntelephone.nil?
    = text_field_tag  "ntelephone[fax]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "ntelephone[fax]" , @ngo.ntelephone.fax ,:class =>'span6'
 
  <label for="email">Email Address</label>
  
  - if @ngo.ntelephone.nil?
    = text_field_tag  "ntelephone[email]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "ntelephone[email]" , @ngo.ntelephone.email ,:class =>'span6'
 
  <label for="internet">Web Address</label>
  
  - if @ngo.ntelephone.nil?
    = text_field_tag  "ntelephone[website]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "ntelephone[website]" , @ngo.ntelephone.website ,:class =>'span6'
  - if @ngo.ntelephone.nil?
    = hidden_field_tag  "ntelephone[id]"  , nil
  - else 
    = hidden_field_tag  "ntelephone[id]" , @ngo.ntelephone.id  
   
  = hidden_field_tag  "ntelephone[ngo_id]" , @ngo.id 
 
  </td> 
  
  
  <div class="sbh bld">Contact</div>   
  <label for="firstname">Contact's First Name</label></td>
  - if @ngo.n_contact.nil?
    = text_field_tag  "n_contact[firstname]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "n_contact[firstname]" , @ngo.n_contact.firstname ,:class =>'span6'
 
   
  <label for="lastname">Contact's Last Name (Family Name)</label></td>
  - if @ngo.n_contact.nil?
    = text_field_tag  "n_contact[lastname]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "n_contact[lastname]" , @ngo.n_contact.lastname ,:class =>'span6'
 
  <label for="lastname">Title</label></td>
  - if @ngo.n_contact.nil?
    = text_field_tag  "n_contact[title]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "n_contact[title]" , @ngo.n_contact.title ,:class =>'span6'
  - if @ngo.n_contact.nil?
    = hidden_field_tag  "n_contact[id]"  , nil
  - else 
    = hidden_field_tag  "n_contact[id]" , @ngo.n_contact.id 
  
  = hidden_field_tag  "n_contact[ngo_id]" , @ngo.id ,:class =>'span6'
 
 
  
  
  
  
  
   
  
   
  <label>&nbsp;</label></td> <input type="submit" value="Save NGO Details" class="btn btn-primary" name="submit" id=""/></td>
  
  
  
  


</div>
<div class="tab-pane" id="tab3">
<div class="sframe">Financial Information</div>

= form_for @nfinancial do |f|
  - if !@nfinancial.id.nil?
    = f.hidden_field "ngo_id" 
  - else
    = hidden_field_tag "n_financial[ngo_id]" , @ngo.id 
  
   
  
  <div class="sbh bld"> Annual Value Of Total Income For The Last 3 Years</div>
  <label>1. Year</label>  
  = f.text_field :year_1 ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year_1_amount , :class => 'span6'
  <label>2. Year</label>
  = f.text_field :year_2 ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year_2_amount , :class => 'span6'
  
   
  <label>3. Year</label>
  = f.text_field :year_3 ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year_3_amount , :class => 'span6'
 
  
  <div class="sbh bld">Bank Information</div>
  <label>Bank Name</label>
  - if @ngo.n_bank_info.nil?
    = text_field_tag "n_bank_info[bank_name]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "n_bank_info[bank_name]" ,@ngo.n_bank_info.bank_name,:class=> 'span6'
  
 
  <label>Address</label>
  - if @ngo.n_bank_info.nil?
    = text_field_tag "n_bank_info[bank_address]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "n_bank_info[bank_address]" ,@ngo.n_bank_info.bank_address,:class=> 'span6'
  <label>Swift/Bic Address</label>
  - if @ngo.n_bank_info.nil?
    = text_field_tag "n_bank_info[bank_swift_code]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "n_bank_info[bank_swift_code]" ,@ngo.n_bank_info.bank_swift_code,:class=> 'span6'
  <label>Bank Account Number</label>
  - if @ngo.n_bank_info.nil?
    = text_field_tag "n_bank_info[bank_account_number]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "n_bank_info[bank_account_number]" ,@ngo.n_bank_info.bank_account_number,:class=> 'span6'
  
  <label>Bank Account Name</label>
  - if @ngo.n_bank_info.nil?
    = text_field_tag "n_bank_info[bank_account_name]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "n_bank_info[bank_account_name]" ,@ngo.n_bank_info.bank_address,:class=> 'span6'
  - if @ngo.n_bank_info.nil?
    = hidden_field_tag "n_bank_info[ngo_id]", @ngo.id ,:class =>'span6' 
  - else 
    = hidden_field_tag "n_bank_info[ngo_id]" ,@ngo.n_bank_info.ngo_id,:class=> 'span6'
  
  <div class="nosredna">&nbsp;</div>
  <input type="submit" id="" class="btn-primary btn" value="Save Financial Information" />
 
</div>
<div class="tab-pane" id="tab4">

= form_for @ndocs , :html =>{:multipart => true}  do |f|
  <div class="sbh bld">Uploads, Technical Capability And Information</div>
  <div class="alert alert-success">
  <strong>Acceptable Files!</strong>'.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx,.ppsx,.pps,.png,.jpg,.gif' &nbsp; &nbsp; &nbsp;  Max Size Of Each File : 2.9 MB.
  </div>
  %p{:class => "alert alert-block"} To replace/modify any document just upload a new one and it'll  be overwritten.
  
  <div class="sbh bld">Financial Statement</div>
  <div class="alert alert-info">
  Please provide a copy of the NGO's most recent annual or audited financial report.
  [the last three years financial statement]
  </div>
  
  
  
  = f.file_field :financial , :class => 'span6'
  - if !@ngo.n_technical_document.nil?
    = f.hidden_field :ngo_id
  - else
    = hidden_field_tag "n_technical_document[ngo_id]" , @ngo.id
  
  <div class="sbh bld">Evidence Of Jobs</div>
  <div class="alert alert-info">
  Evidence Of Major Jobs Undertaken, Organization Worked For, 
  contact Details Of The Company Contact Telephone Number And Values Of Contract Amount
  </div>                  
  = f.file_field :job_evidence , :class => 'span6'
  <div class="sbh bld">Written Statement Policy</div>
  <div class="alert alert-info">
  Does Your Company Have A Written Statement Of Its Environmental Policy?
  </div>
  %span
    No
    = f.radio_button :written_statement_policy_status , "No"
  %span
    Yes
    = f.radio_button :written_statement_policy_status , "Yes"
  
  
  = f.file_field :written, :class => 'span6'
  
  <div class="nosredna">&nbsp;</div>
  <input type="submit" name="" class="btn-primary btn" value="Submit Uploads" />
 
</div>
<div class="tab-pane" id="tab5">
= form_for @ncontract do |f|
 
  <div class="sbh bld">Recent Contracts With The United Nations And/Or Other International Aid Organizations</div>
  <label>Organization </label>
  = f.text_field :organization , :class => 'span6'
  
  <label>Value in US$ </label>
  = f.text_field :value , :class => 'span6' 
  
  <label>Year </label>
  = f.select :year , Time.now.year.downto(1900).map{|y| [y, y]} , :include_blank=>true
  
  

  <label>Nature of service </label>
  
  = f.text_area :nature_of_service,:class=>'span6' ,:size => "10x10"
   
  <label>Contact details </label>
  
  = f.text_area :contact_details,:class=>'span6' ,:size => "10x10"
  
  <div class="sbh bld">Others</div>
  <label>Please List Any Disputes Your Company Has Been Involved In With The United Nations Organizations Over The Last 3 Years </label>
  
  = f.text_area :disputes,:class=>'span6' ,:size => "10x10"
  
  <label>List Any National, Or International Trade Or Professional Organizations Of Which Your Company Is A Member</label>
  = f.text_field :membership_of,:class=>'span6' 
  - if @ngo.n_contract.nil?
    = hidden_field_tag "n_contract[ngo_id]" ,@ngo.id
  - else
    = f.hidden_field :ngo_id
    
  
  
  <div class="nosredna">&nbsp;</div>
  <input type="submit" name="" value="Save Contract Details" id = "quickContractDetails" class="btn btn-primary" />

</div>
<div class="tab-pane" id="tab6">
<div class="sbh bld">Certification</div>
%div
  = form_for @ncertification do |f|
    - if @ngo.n_certification.nil?
      = hidden_field_tag "n_certification[ngo_id]" ,@ngo.id
    - else
      = f.hidden_field :ngo_id
    
    <div class="alert alert-info">                  
    I, the undersigned, warrant that the information provided in this form is correct and, in the event of changes, details will be provided as soon as possible:
    </div>
      
    <label>Name</label>
    = f.text_field :name  , :class => 'span6'
    
    <label>Function</label>
    = f.text_field :function  , :class => 'span6'
      
    <label>Title</label>
    
    = f.text_field :title  , :class => 'span6'   
    %p
    %span
      No
      = f.radio_button :certify , "No"
    %span
      Yes
      = f.radio_button :certify , "Yes"
    
    
    <div class="nosredna">&nbsp;</div>
    <input type="submit"   value="Save Certification" class="btn btn-primary"   name="submit"/>
    
  

</div>
</div>
</div>
</div>
 












<script type="text/javascript">



$(function() {



$(".datepicker").datepicker({
changeMonth: true,
changeYear: true, dateFormat:'yy-mm-dd',yearRange: "1940:#{DateTime.now.year}"
    
});

//

$('#hidden_input').hide(); 


$("#may_remove").change(function(){
get_vl = $("#may_remove").val() ;
//alert(get_vl);
if(get_vl == "Others"){

$('#can_remove').hide();
$('#hidden_input').show(); 
}
else
{
$('#hidden_input').hide(); 
}


});

//
});
</script>