<div class="row-fluid">
<div class="sframe">
<div class="row-fluid">
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">NGO Profile</a></li>
<li><a href="#tab2" data-toggle="tab">Regulatory Documents</a></li>
</ul>
<div class="tab-content">
%div{:class=>"tab-pane active" ,:id=>"tab1"}
  - n = @ngo
  <div class="sbh">Basic Details</div>
   
  <div class="dblk"><strong> Name</strong> &raquo;
  = n.name
  </div>
  
   
   
  
  <div class="dblk"> <strong>Street Address</strong> &raquo; #{n.street_address}</div>
  
   
  
  - if n.postal_code
    <div class="dblk">     <strong>Postal Code</strong> &raquo; #{n.postal_code}  </div>      
   
  
  
  
  
  <div class="dblk">     <strong>City</strong> &raquo; #{n.city}</div>  
  
  
   
   
  
  <div class="dblk">     <strong>State</strong>  &raquo; #{n.state}</div>  
  
     
   
  
   
  
  <div class="dblk">
  <strong>Country</strong>  &raquo; #{n.country}
  
  </div>  
  
  
  - if !n.mailing_address.nil? || n.mailing_address != ""
  
    <div class="dblk">
    <strong>Mailing Address</strong>  &raquo;#{n.mailing_address}
    </div>  
  
  
  
  - if !n.ntelephone.nil?
  
    <div class="dblk">
    <strong>Mobile Phone</strong>  &raquo; #{n.ntelephone.mobile}
    </div>  
    
     
     
     
    <div class="dblk">   
    <strong>Office Phone</strong>  &raquo; #{n.ntelephone.office}
    </div>  
     
    
     
    
    
    <div class="dblk">  
    <strong>Fax</strong>  &raquo; #{n.ntelephone.fax}
    </div>  
    
    
    
    
    <div class="dblk">  <strong>Email Address</strong> &raquo; #{n.ntelephone.email}
    </div>  
    
    
    
    
    <div class="dblk">   <strong>Internet Address</strong> &raquo; #{n.ntelephone.website}
    
    </div>          
   
  - if !n.n_contact.nil?
    <div class="sbh">Contact Detail</div>
    <div class="dblk"><strong>Contact's Title </strong> &raquo;  #{n.n_contact.title} </div>
    <div class="dblk"><strong>Contact's First Name  </strong>&raquo; #{n.n_contact.firstname} </div>
    <div class="dblk"><strong>Contact's Last Name </strong>&raquo;    #{n.n_contact.lastname}
    </div>
    
    
    
    
  <div class="sbh">Other Information</div>
  
  - if !n.parent_ngo.blank?
    <div class="blk"><strong>Parent NGO</strong> &raquo; #{n.parent_ngo}</div>
  
   
  
  - if !n.subsidiaries.blank?
  
    <div class="blk"><strong>Subsidiaries, Associates and/or Overseas Representative(s)</strong> &raquo; </div>
    %p
    <div class="blk">
    = n.subsidiaries
    </div>
  
   
  <div class="blk">   
  <strong>Objectives of NGO</strong> &raquo; </div>
  <div class="blk">
  = n.objectives
  </div>
   
  
  <div class="blk"><strong>Date of Establishment</strong> &raquo; 
  -if !n.doe.blank? || !n.doe.nil? || n.doe !=""
    = n.doe 
  </div>
  
  
  <div class="blk">    <strong>Number of Full-time Employees</strong> &raquo; 
  = n.num_of_employees 
  </div>
  
  
  
  
  <div class="blk">    <strong>Licence number</strong> &raquo; #{n.license_number}
  
  </div>
  - if n.registration_type != "Others"
    <div class="blk"><strong>Type of Registration</strong> &raquo; #{n.registration_type} 
    </div>
  - else
    <div class="blk"><strong>Type of Registration</strong> &raquo; #{n.registration_type_other} 
    </div>
  
  <div class="blk"><strong>State where Registered</strong> &raquo; #{n.state_where_regd} 
  </div>
  
  
  
  
  
  <div class="blk">  <strong>Registration Date </strong> &raquo; 
  - if !n.dor.blank? || !n.dor.nil? || n.dor != ""
    =   n.dor
  </div>
  
  
  
  
  <div class="sbh">Area(s) Of Expertise </div>
  
  
  - if !n.ngo_services.nil?
    <div class="blk">
    - n.ngo_services.sort.each do |srv| 
      %p
        - if !srv.vss.nil?
          <b style="color:#2255bb;font-size:11px;"> 
          = srv.vss.name
          </b> [<i>
          = srv.vss.vpa.name 
          </i>]
      
    </div>
  
  
   
    <div class="blk">
    - if !n.undpuser.vss.nil? 
      %p <b style="color:#2255bb;font-size:11px;"> #{n.undpuser.vss.name}</b>[<i> #{n.undpuser.vpa.name}</i>] 
    </div>
    
   
    
  <div class="nosredna"></div>
  
  
  
  
  <div class="sbh">  Financial Information Annual Value Of Total Income For The Last 3 Years</div> 
  - if !n.n_financial.nil?
    <div class="blk">    <strong>1. Year</strong> &raquo;  #{n.n_financial.year_1}</div>
    
    
    
    
    <div class="blk">   <strong>US$ Million</strong> &raquo; #{n.n_financial.year_1_amount}
    </div>
    
    
    
    
    <div class="blk"><strong>2. Year</strong> &raquo;  #{n.n_financial.year_2}
    </div>
    
    
    
    <div class="blk">    <strong>US$ Million</strong> &raquo;  #{n.n_financial.year_2_amount}
    </div>
    
    
    
    <div class="blk">   <strong>3.  Year</strong> &raquo;  #{n.n_financial.year_3}
    </div>
    
    
    <div class="blk">    <strong>US$ Million</strong> &raquo;  #{n.n_financial.year_3_amount}</div>
    
    
  
   
  
  
  
  - if !n.n_bank_info.nil?
    <div class="sbh">Bank Information </div>
    
    <div class="blk"> <strong>Bank Name</strong>&raquo; #{n.n_bank_info.bank_name}</div>
    
    
    
    
    <div class="blk">  <strong>Bank Address</strong> &raquo;  #{n.n_bank_info.bank_address}
    
    </div>
    
    <div class="blk">
    <strong>Bank Swift Address</strong> &raquo;  #{n.n_bank_info.bank_swift_code}
    
    
    </div>    
    
    <div class="blk">  <strong>Bank Account Number</strong> &raquo;  #{n.n_bank_info.bank_account_number}
    
    
    
    </div>
    <div class="blk">     <strong>Bank Account Name</strong> &raquo;  #{n.n_bank_info.bank_account_name}
    
    </div>
  
   
  
  
  - if !n.n_contract.nil?
    <div class="sbh"> Recent Contracts with the United Nations and/or Other International Aid Organizations  </div>
    
    
    <div class="blk">    <strong>Organisation</strong> &raquo; #{n.n_contract.organization}
    
    </div>
    
    
    <div class="blk">    <strong>Value in US$</strong> &raquo; #{n.n_contract.value}
    
    
    </div>
    
    
    <div class="blk">      <strong>Year</strong> &raquo; #{n.n_contract.year}
    
    
    </div>  
    
    <div class="blk">    <strong>Nature of Service</strong> &raquo; </div>
    <div class="blk"> #{n.n_contract.nature_of_service} </div>
    
    
     
    
    <div class="blk">   <strong>Contact Details</strong> &raquo; </div>
    <div class="blk">
    = n.n_contract.contact_details
    </div>
    
    
    
    <div class="sbh"> Others </div>
    
    - if !n.n_contract.disputes.blank?
      <div class="blk">
      <strong>  Any Dispute(s) Involved In With The United Nations Organizations Over The Last 3 Years
      </div>
      <div class="blk"></strong> &raquo;
      = n.n_contract.disputes  
      </div>
    
    - if !n.n_contract.membership_of.blank?
      <div class="blk"> <strong>Any National, Or International  Or Professional Organizations Of Which Your Organization Is A Member</strong>&raquo; 
      = n.n_contract.membership_of
      </div>            
    
     

%div{:class=>"tab-pane", :id=>"tab2"}
  - if !n.n_technical_document.nil?
    <div class="sbh bld">Uploaded Documents</div>                
    <div class="sframe bld">Financial Statement  </div>
    <div class="blk">
     
    - if n.n_technical_document.financial.url  != "/financial/original/missing.png"  
      = link_to "Financial Statement" , n.n_technical_document.financial.url ,:target => "_blank"
    - else
      Not Uploaded
     
    
    
    <div class="sframe bld">Evidence of Major Jobs </div>
    <div class="blk">
     
    - if n.n_technical_document.job_evidence.url != "/job_evidences/original/missing.png" 
      = link_to "Evidence of Major Jobs", n.n_technical_document.job_evidence.url ,:target => "_blank"
    - else
      Not Uploaded
     
    </div>
    <div class="sframe bld">Written Statement on Environmental Policy</div>
    <div class="blk">    
    - if(n.n_technical_document.written_statement_policy_status != "No") 
      = link_to "Written Statement on Environment" , n.n_technical_document.written.url ,:target => "_blank"
    - else
      None
    
   
    </div>            
  - else
    %p{:class=>'alert alert-danger'} Please Provide all relevant document to help the UNDP review and approval process 
</div>            
</div>            
</div>            
</div>            
 