- opts = [["Excellent",5],["Very Good",4],["Fair",3],["Poor",2],["Unsatisfactory",1]]
<div class="span8" style="margin:0;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>Supplier Vendor Performance Rating Form</strong> </div>


<table   width="800" border="0" class="dataform">
= form_for @s_rating do |f|

  <tr>
  <th scope="col"><div align="left"><b>Supplier Name:</b>    </div></th>
  <th scope="col"><div align="left">
  
   
  = f.select(:supplier_id,@suppliers.map{|c| ["#{c.name} ",c.id]},'class'=>'flexselect',:include_blank=>true)
  
  
   
  </div></th>
  </tr>
  <tr>
  <td><b>Contract/PO Number:</b></td>
  <td><span id="vacanciesHolder1">
  = f.text_field('project_number');
  
  </span></td>
  </tr>
  
  <tr>
  <td><b>Project Title:</b></td>
  <td>
  = f.text_field('project_title')
  
  </td>
  </tr>
  
  
  
  <tr>
  <td><b>Goods or Services Provided:</b></td>
  <td>
  = f.text_area('goods_services',:size=>"10x5")
  
  </td>
  </tr>
  <tr>
  <td><b>Start Date:</b></td>
  <td>
  = f.text_field :start_date ,:class=>'griddates' 
  </td>
  </tr>
  <tr>
  <td><b>End Date:</b></td>
  <td>
  = f.text_field :end_date ,:class=>'griddates'
  </td>
  </tr>
  
  
   
  <tr><td colspan="2"><b style="color:red;">**Please Rate the vendor's following attribute**</b></td></tr>
   
  
   
  
  <tr><td><b> Overall Quality of Deliverable Good/ Services ? </b></td><td><label>
  
   
  = f.select :question_1 ,opts
  </label></td>
  
  </tr>
  <tr><td><b> Were the Good/ Services delivered on time ? </b></td><td><label>
  
   
  = f.select :question_2 ,opts
  </label></td>
  
  </tr>  
  
  <tr><td><b> Responsiveness to queries/modifications (if applicable)  </b></td><td><label>
  
   
  = f.select :question_3 ,opts
  </label></td>
  
  </tr> 
  
  <tr><td><b>Contractor Overall Performance  </b></td><td><label>
  
   
  = f.select :question_4 ,opts
  
  </label></td>
  
  </tr> 
  
  <tr><td><b> Would you consider re-engaging the Contractor? </b></td><td>
  
  Yes 
  = f.radio_button :question_5 , "Yes"
  No
  = f.radio_button :question_5 , "No"
  
  </td>
  
  </tr> 
  
  <tr><td><b>  If No, Please provide with detail expalanation </b></td><td><label>
  
   
  = f.text_area :question_6 , :size => "10x5"
  </label></td>
  
  </tr> 
  
   
   
   
  <tr>
  <td><b>Evaluated By:</b></td>
  <td>
  = f.text_field :evaluated_by
  </td>
  </tr>
  
  <tr>
  <td><b>Organization:</b></td>
  <td>
  = f.text_field :organization
  </td>
  </tr>
  <tr>
  <td><b>Designation:</b></td>
  <td>
  = f.text_field :designation
 
  </td>
  </tr>
  <tr>
  <td><b>Date:</b></td>
  <td>
  = f.text_field :thedate,  :class=>"griddates" 
  </td>
  </tr>
  <tr>
  <td><b> </b></td>
   
  </tr>
  
  <tr>
  
  <td><input type="submit" name="button" class="btn btn-primary" id="button" value="Submit" /></td>
  <td height="33">
  = link_to "Cancel", select_sups_s_ratings_url(:cancel=>"1") , :class=> 'btn btn-danger'
  </td>
  </tr>
</table>



</div>


</div></div>
= render "shared/navtree"
 
<div class="clear"></div>
  
= stylesheet_link_tag '/js/uniForm jq/css/uniform.aristo'


<script type="text/javascript">
$(function(){

$('#vacanciesHolder').empty();
// $("select.flexselect").flexselect();

//$('#vacanciesHolder').append('<select name="data[ConsultantRating][job_id]" id="VacanciesList">'+
//'  </select><br/>No Vacancy ? <a href="http://'+ <?php echo '"'. $_SERVER['SERVER_NAME'].PORT.'"' ;?>+'/vmsb/vacancies">Create New</a>');
//bindVacancy();



$('.griddates').datepicker({changeMonth:true, changeYear:true ,dateFormat:'yy-mm-dd'});


});

function addOptions(cl,id) {
//enable child select and clear current child options
//$("#prog").removeAttr("disabled");
$("#"+id).html('');
//repopulate child list with array from helper page
var prog = document.getElementById(id);
for(var i = 0; i < cl.length; i++) {
prog.options[i] = new Option(cl[i].text, cl[i].value);
}
}var vid=0;
function bindVacancy()
{
$("#VacanciesList").append(new Option('Getting Vacancies list ...'));
//declare options array and populate
var progOptions = new Array();

vid="<?php if($session->read('vacancy')){echo $session->read('vacancy');} else{echo 0;} ?>";


$.post('http://'+"<?php echo  $_SERVER['SERVER_NAME'].PORT;?>"+"/vmsb/vacancies/getVacancies/1/"+vid,null, function(data)
{eval(data);if(progOptions.length > '0'){addOptions(progOptions,"VacanciesList");}});



}
</script>