<div class="sframe span8">
= link_to '<i class="icon-th-list"></i> Export to Excel'.html_safe , export_to_excel_logins_url(:format => :xls ) , :class=>'btn btn-success pull-right', :title => 'Export Audit to Excel'
%br
%h3= @title 

%table{:class=>'datatable fnrd'}
  %tr
    
    %th Name 
    %th Login Counts
    %th Action
    
    
  - @logins.each do |audit|
    %tr 
      
      %td
        %strong{:class=>"success"}= audit.fullname
      %td= audit.times
      %td= link_to '<i class="icon-list-alt"></i>'.html_safe , {:controller=>:logins,:action=>:view,:user_id=>audit.user_id},:title=>'View '+ audit.fullname+'\'s Login History'
      - #%td= time_tag audit.time_out.to_time unless audit.time_out.nil?
      - #%td= time_length audit.session_duration
        

  
= render "shared/paginate"
</div> 

<div class="span3">
<div class="sdnav">
<div class="row-fluid">

      
= render "shared/nav_tree"
</div>            
</div>
</div>
</div>