<div class="sframe span8">
= link_to '<i class="icon-th-list"></i> Export to Excel'.html_safe , export_to_excel_logins_url(:format => :xls ,:user_id => @user_id ) ,:class=>'btn btn-success pull-right', :title => 'Export Audit to Excel for this user'
%br
%h3
  = @title
  %span{:class=>'alert-error'}=@user 

%table{:class=>'datatable fnrd'}
  %tr
    
     
    %th Date & Time : In
    %th Date & Time : Out
    %th Session Duration
    %th Action
    
    
  - @logins.each do |audit|
    %tr 
      
      %td=  time_tag audit.time_in.to_time unless audit.time_in.nil? 
      %td= time_tag audit.time_out.to_time unless audit.time_out.nil?
      %td= time_length audit.session_duration    
      %td= link_to '<i class="icon-list-alt"></i>'.html_safe , {:controller=>:logins,:action=>:view,:user_id=>audit.user_id},:target=>"_blank"
      
        

  
= render "shared/paginate"


</div> 

<div class="span3">
<div class="sdnav">
<div class="row-fluid">

      
= render "shared/nav_tree"

</div>            
</div>
</div>
</div>
