removeForm('conserviceAdd');

-# content = escape_javascript(render(@conservice))

appendContent('conservice_add_info',"#{@content}")

$('#closed_adding_services').click(function(e){
window.location.reload()
	
});
