%div{:class=> 'sframe row-fluid'}
  <div class="sbh"><h5 class="bdbf"><i class=" icon-map-marker"></i> Edit Recruitment</div>
  = form_for @vpa  do |f|

    <label for="Statusname">  Recruitment Title or Label </label>
    = f.text_field :name ,{:class=>'span6'}
    
    <label for="StatusDesc">Description</label>
    = f.text_field :description ,{:class=>'span6'}
    
      
    
    <input type="submit" class="btn btn-primary" value="Save Programme" />
     