<div class="dfff">
- if @vacancies.blank? && !signed_in?
  Vacancies do not exist in our database. But, Hey leave your profile in our database.
  <a href="#{signup_url}">Signup</a> or <a href="#{login_url}">Login</a>  to update your profile.
- elsif @vacancies.blank? && signed_in?
  search returned an empty result.
-else


  <ul class="nav nav-tabs nav-stacked">
  - @vacancies.each do |v|
    %li= link_to(v.name,vacancy_url(v.id)) 
     
    
  </ul>
</div>
  
  
<!-- Shows the page numbers -->
  
= render "shared/paginate"
  
  
  
  
<div class="nosredna">&nbsp;</div>
</div>




  










