<div class="mframe fnplus">
<div class="sframe fnplus1 pbtm">Advance Search</div>

= form_for @vacancy,:url => adv_search_vacancies_url do |f|


  <label>Job Vendor</label>
  - vendors = [["Consultants",1],["Suppliers",3],["Ngos",2]]
  = f.select :vendor_id,vendors, 'class'=>'span4', :include_blank =>true  
  <label>Programme Area</label>
  
  <select name="vacancy[vpa_id]" id="undpuser_vpa_id" class="span4" disabled  >
  <option value=""> Select Vendor Programme</option>
  
  
  </select>
  
  <label> Specialization Area</label>
  
  
  <select class="span4" name="vacancy[vss_id]" class="span4" id="undpuser_vss_id" disabled>
  <option value=""> Please Select Vendor Programme Specialization</option>
  
  
  </select>
  
  <label for="submit">
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button></label>
- if @vacancies
  %p{:class=>'alert alert-info'} Search result
  = render "view"

- if !signed_in?
  </div></div></div>
<script>
$(function(){
$('#vacancy_vendor_id').change(function(){
   
  
vid = $('#vacancy_vendor_id').val();
if(vid == '')
{
alert("Job Vendor  Cannot be empty");
} 
else{
   

$.get("/vpas/listed/"+vid ,function(data){
eval(data);
$("#undpuser_vpa_id").removeAttr("disabled");
$("#undpuser_vpa_id").html('');
if(data.length > 0) {
addOptions(data,'undpuser_vpa_id');}
},"json");

}});

// to get special area
$('#undpuser_vpa_id').change(function(){
 

vid = $('#vacancy_vendor_id').val();
vpa_id = $('#undpuser_vpa_id').val();


if(vid == '')
{
alert(" Job Vendor  Cannot be empty");
}
 
if(vpa_id == '')
{
alert("Programme Area Cannot be empty");
}
 
else{
$.get("/vsses/listed"+'/'+vid + "/"+vpa_id,
function(data){
eval(data);
$("#undpuser_vss_id").removeAttr("disabled");
$("#undpuser_vss_id").html('');
if(data.length > 0) {
addOptions(data,'undpuser_vss_id');}
},"json") ;
}});

});
</script>