<div class="span8">
<div class="sframe">
= render "shared/vac_mgr"
<div class="row-fluid">
<div class="tabbable" style="margin-bottom: 18px;">
<ul class="nav nav-tabs">    
<li class="active"><a href="#tab1" data-toggle="tab">Create Job</a></li>
<li><a href="#tab2" data-toggle="tab">Job Background</a></li>
<li><a href="#tab3" data-toggle="tab">Job Competencies</a></li>
<li><a href="#tab4" data-toggle="tab">Attachment</a></li>
</ul>
<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
<div class="tab-pane active" id="tab1">
<div class="sframe">

= form_for @vacancy  ,:html =>{:multipart => true} do |f|
  <table class="table  table-condensed" >
  <tr><td><label for="name">Vacancy Name</label></td><td>
  = f.text_field :name ,:class=>'span8'
  </td></tr>
  <tr><td> <label for="name">Job Vendor</label></td><td>
  = f.select :vendor_id , @vendor_types.map{|c| [c.name,c.id]}, {:include_blank=>true} , {'id'=>'jobVendors','onchange'=>'bindProg()'}
  </td></tr>
  <tr><td> <label for="Qualname">Vendor Programme Area</label></td><td>
   
  <select name="vacancy[vpa_id]" id="prog" disabled onchange="bindSpec()">
  <option value=""> Select Vendor Programme</option>
  
  
  </select>
  </td></tr>
  <tr><td>   <label for="Qualname">Vendor Programme Specialization</label></td><td>
  <select name="vacancy[vss_id]" id="spec" disabled>
  <option value=""> Select Vendor Programme Specialization</option>
  
  
  </select>
  </td></tr>
  <tr><td>  <label for="name">Job Location</label></td><td>
  = f.text_field :location , :class=> 'span8','id'=>'jobLocation' 
  </td></tr>
  <tr><td><label for="description">Application Deadline</label></td><td>
  = f.text_field :deadline, 'id'=>'jobDeadline','class'=>'datedrops span3' 
  </td></tr>
  
  <tr><td>
  <label for="name">Contract Type</label> 
  </td><td>
  - cts = [["100 Series","100 Series"],["200 Series","200 Series"],["ALD/300 Series","ALD/300 Series"],["Permanent","Permanent"],["Indefinite","Indefinite"],["Continuing","Continuing"],["FTA","FTA"],["TA","TA"],["SSA/IC","SSA/IC"],["SC","SC"],["UNV","UNV"],["Other","Other"]]
  = f.select('contract_type',cts.sort, 'id'=>'jobContractType')
  </td></tr>
  
  <tr><td> <label for="description">Languages Required</label></td><td>
  = f.text_field('language_required','id'=>'jobLanguagesRequired')
  </td></tr>
  
  <tr><td><label for="name">Starting Date</label> </td><td>
  = f.text_field('starting_date', 'id'=>'jobStartingDate','class'=>'datedrops')
  </td></tr>
  <tr><td> <label for="name">End Date</label></td><td>
  = f.text_field('end_date', 'id'=>'jobEndDate','class'=>'datedrops')
  </td></tr>
  <tr><td> <label for="description">Duration of  Contract</label> </td><td>
  = f.text_field('duration_of_contract','id'=>'jobContractDuration')
  </td></tr>
  
  </table>
  </div></div>

  <div class="tab-pane" id="tab2">
  <div class="sframe">
  <table class="vac" border="0" style="border:0;" cellpadding="0" cellspacing="0">
  <tr><td>
  <label for="description">Background</label></td><td>
  =f.text_area('job_background','id'=>'jobBackground',:size=>'10x5')
  </td></tr>
  <tr><td><label for="name">Duties and Responsibilities</label> </td><td>
  = f.text_area('job_duties','id'=>'jobDutyResponsibility',:size=>'10x5')
  </td></tr>
  <tr><td> <label for="description">Deliverables/Output</label> </td><td>
  = f.text_area('job_deliverables','id'=>'jobDeliverablesOutput',:size=>'10x5') 
  </td></tr>
  </table>
  </div></div>
  <div class="tab-pane" id="tab3">
  <div class="sframe">
  <fieldset><legend>Competencies</legend>
  <table class="vac" border="0" style="border:0;" cellpadding="0" cellspacing="0">
  <tr><td>
  <label for="name">Technical Competencies</label> </td><td>
  = f.text_area('technical_competence','id'=>'jobTechnicalCompetence' ,:size=>'10x5')
  </td></tr>  
  <tr><td> <label for="description">Corporate Competencies</label>  </td><td>
  = f.text_area('corporate_competence', 'id'=>'jobCorporateCompetence',:size=>'10x5')
  </td></tr>  
  <tr><td> <label for="name">Functional Competencies</label> </td><td>
  = f.text_area('functional_competence','id'=>'jobFunctionalCompetence',:size=>'10x5') 
  </td></tr>
  <tr><td>  <label for="description">Management and Leadership</label>
  </td><td>
  = f.text_area('management' ,'id'=>'jobManagementLeadership',:size=>'10x5') 
  </td></tr>
  <tr><td><label for="name">Required Skills and Experience</label>  </td><td>
  = f.text_area('required_skills_experience', 'id'=>'jobSkillSets',:size=>'10x5') 
  </td></tr>
  
  </fieldset>
  
  
  
  </table>
  </div>
  </div>

  <div class="tab-pane" id="tab4">
  <div clas="sframe">
  <table class="vac" border="0" style="border:0;" cellpadding="0" cellspacing="0">
  <fieldset><legend style="color:red;font-size:11px;">Attachment(s) |
  **Acceptable File types:'.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx,.ppsx,.pps,.png,.jpg,.gif'
  Max Size of each File : 2 MB**</legend>
  
  %tr
    %td
      = f.label "Does this Vacancy require the Applicant to upload attachment(s) ?"
      = f.select :requires_attachment, [["No",0],["Yes",1]],:include_blank=>true
  
  %tr
    %td
      = f.label "How many attachment(s) ?"
      = f.select :minimum_attachment, (0..5).map{|i| [i,i]} ,:include_blank=>true
  

  
  
  %tr
    %td
      = f.label :file_description
      = f.text_field :file_1_description
  %tr
    %td
      = f.file_field :file_1 ,'title'=>'**A File must not exceed 2MB in size**'
      
  %tr
    %td
      = f.label :file_description
      = f.text_field :file_2_description
  %tr
    %td
      = f.file_field :file_2 ,'title'=>'**A File must not exceed 3MB in size**'
      
  %tr
    %td
      = f.label :file_description
      = f.text_field :file_3_description
  %tr
    %td
      = f.file_field :file_3 ,:value=>@vacancy.file_3.url ,'title'=>'**A File must not exceed 3MB in size**'
      
  %tr
    %td
      = f.label :file_description
      = f.text_field :file_4_description
  %tr
    %td
      = f.file_field :file_4 ,'title'=>'**A File must not exceed 3MB in size**'
      
  %tr
    %td
      = f.label :file_description
      = f.text_field :file_5_description
  %tr
    %td
      = f.file_field :file_5 ,'title'=>'**A File must not exceed 2MB in size**'
      
  
  
  
  
   
  
  </fieldset>
  
  <tr><td>     <input type="submit" value="Save" class="btn btn-primary" name="submit" id="quickAddVacancy"  />
   
  </td></tr>
  </table>
  </div>
  
  
  </div></div>

</div></div>

</div></div>

= render 'shared/navtree'

<script type="text/javascript">
$(function() {

$('.datedrops').datepicker({changeMonth:true,changeYear:true,dateFormat: 'mm-dd-yy'});



$('#quickAddVacanc1y').click(function(){

$('#VacancyAddForm').ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}

});
$('#VacancyAddForm').resetForm();
return false;

}).appendTo('form div.submit');









});

function bindProg() {
//disable child select list
$("#prog").attr("disabled", true);
//clear child select list's options
$("#prog").html('');

//querystring value is selected value of parent drop down list
var qs = $("#jobVendors").val();
//if user selected a separator, show error
if(qs == '') {
alert('You cannot select this option. Please make a different selection.');
}
else {
//show message indicating we're getting new values
$("#prog").append(new Option('Getting Programmes list ...'));
//declare options array and populate

$.get('/vpas/listed/'+qs, function(data) {
eval(data);

addOptions(data,'prog');

 
}
);
}}
function bindSpec() {
//disable child select list
$("#spec").attr("disabled", true);
//clear child select list's options
$("#spec").html('');

//querystring value is selected value of parent drop down list
var qs = $("#prog").val();
//if user selected a separator, show error
if(qs == '') {
alert('You cannot select this option. Please make a different selection.');
}
else {
//show message indicating we're getting new values
$("#spec").append(new Option('Getting Specialization list ...'));
//declare options array and populate
var qss = $("#jobVendors").val();
$.get("/vsses/listed/"+qss +"/"+qs, function(data) {
eval(data);
 
addOptions(data,'spec');
 
}
);
}
}
//function addOptions(cl,id) {
//enable child select and clear current child options
//$("#"+id).removeAttr("disabled");
//$("#"+id).html('');
//repopulate child list with array from helper page
//var prog = document.getElementById(id);
//for(var i = 0; i < cl.length; i++) {
//prog.options[i] = new Option(cl[i].text, cl[i].value);
//}
//}
</script>

