<div class="sframe span8" style="margin:0"><div class="sbh">Vacancies 

= render('shared/vac_mgr')

</div>
%br
.sbh
  = link_to "Show Opened Vacancies",vacancies_url(:sort=>params[:sort],:filter=>"status = 0"),:class=>"btn btn-success"
  = link_to "Show Closed Vacancies",vacancies_url(:sort=>params[:sort],:filter=>"status = 1"),:class=>"btn btn-danger"
  = link_to "Show All Vacancies",vacancies_url,:class=>"btn btn-primary"

<br/>


<table class="datatable fnrd" width="1000"> 	 	 	 	

<tr>

<th>
= link_to "Title",vacancies_url(:sort=>"name desc",:filter=>params[:filter])
</th>
<th>
= link_to "Location",vacancies_url(:sort=>"location asc",:filter=>params[:filter])

</th>
<th>
= link_to "Deadline",vacancies_url(:sort=>"deadline",:filter=>params[:filter])

</th>
<th>

= link_to "Vendor Category",vacancies_url(:sort=>"vendor_id",:filter=>params[:filter])
</th>
<th>Actions</th>
</tr>
- @vacancies.each do |v|
  %tr
    %td= v.name
    %td= v.location
    - if !v.deadline.blank? and v.deadline.kind_of? Date
      %td= time_tag Date.parse v.deadline 
    - else
      %td= v.deadline
    %td= v.vendor_type.name unless v.vendor_type.blank?
    %td
      = token_tag(nil)
      = link_to '<i class="icon-list-alt"></i>'.html_safe,vacancy_url(v),:class=>'btn btn-small'
      = link_to '<i class="icon-pencil"></i>'.html_safe,edit_vacancy_url(v),'class'=>'btn btn-small' 
      = link_to '<i class="icon-trash"></i>'.html_safe, vacancy_url(v),:method=>:delete,:data=>{:confirm=>"Are you sure to delete #{v.name} ?"}, 'class'=>'btn btn-small'
      - if v.status.to_i == 0
        = link_to('<i class="icon-folder-close"></i>'.html_safe, vacancy_url(:id=>v.id,"status"=>1),:data=>{:remote=>true,:method=>:put ,:confirm=> "Do you want to close this vacancy?"} ,'class'=>'statusChanger btn btn-small',:id=>"statusChanger",:task=>'open',:vid=>vacancy_url(:id=>v.id))
         
      - else
        = link_to('<i class="icon-folder-open"></i>'.html_safe, vacancy_url(:id=>v.id,"status"=>0),:data=>{:method=>:put ,:remote=>true,:confirm=> " Do you want to open this vacancy?"}, :class=>'statusChanger btn btn-small',:id=>"statusChanger", :task=>'close',:vid=>vacancy_url(:id=>v.id))
         
	
     

  
   
 
 



</table>
<br/> 
= render "shared/paginate"
 
</div>
 

= render ('shared/navtree') if signed_in?

<script type="text/javascript">

$(function(){

$('.statusChanger').bind('ajax:success',function(){

cl= $(this).attr('task') ;
vid = $(this).attr('vid');
//alert(cl);
//alert(vid);

if(cl == "open")
{
 

$(this).attr('href',"");
$(this).attr('href',vid+"?status=0");
$(this).attr('task',"close") ;
$(this).html(cl);

}
else
{


$(this).attr('href',"");
$(this).attr('href',vid+"?status=1");
$(this).attr('task',"open") ;
$(this).html(cl);
}

 

 

 
});

});
 
</script>