- v = @vacancy
<div class="mframe fnplus">

- if !signed_in? || @current_user.group_id ==4 
  <div class="pull-right"><a href="#{new_vac_application_url(:id=>@vacancy.id)}" class="btn btn-primary"><i class="icon-white icon-briefcase"></i> Apply for Position</a></div>
- else
  = render "shared/vac_mgr"
  
<div class="nosredna">&nbsp;</div>
 
 
<div class="sframe fnplus1 pbtm" style="margin-top:-15px;">#{@vacancy.name} </div>                               
<div class="nosredna" style="margin-top:-10px;">&nbsp;</div>
<div class="blk fnplus">Vendor Type <i class="icon-arrow-right"></i> #{@vacancy.vendor_type.name}</div>
<div class="blk fnplus">Vendor Programme Area <i class="icon-arrow-right"></i> #{@vacancy.vpa.name unless @vacancy.vpa.blank?}</div>
<div class="blk fnplus">Vendor Special Area <i class="icon-arrow-right"></i> #{@vacancy.vss.name unless @vacancy.vss.blank?}</div>

<div class="blk">Application Deadline <i class="icon-arrow-right"></i>
- if !@vacancy.deadline.nil? 
  #{@vacancy.deadline}
</div>
<div class="blk">Type of Contract <i class="icon-arrow-right"></i> #{@vacancy.contract_type}</div>
<div class="blk">Languages Required <i class="icon-arrow-right"></i>#{@vacancy.language_required} </div>
<div class="blk">Starting Date <i class="icon-arrow-right"></i>
- if !@vacancy.starting_date.blank?
  #{@vacancy.starting_date}
</div>
<div class="blk">Ending Date <i class="icon-arrow-right"></i> 
-if !@vacancy.end_date.blank?
  #{@vacancy.end_date}
</div>
<div class="blk">Duration of Contract <i class="icon-arrow-right"></i>
#{@vacancy.duration_of_contract}</div>

- if !v.job_background.blank?
  <div class="sframe">Background</div>
  <div class="well">
  #{@vacancy.job_background.html_safe}
  </div>

- if !v.job_duties.blank?
  <div class="sframe">Duties &amp; Responsibilities</div>
  <div class="well">
  #{@vacancy.job_duties.html_safe}
  </div>

- if !v.job_deliverables.blank?
  <div class="sframe">Deliverables &amp; Output</div>
  <div class="well">
  #{@vacancy.job_deliverables.html_safe}
  </div>
 
 



- if !v.technical_competence.blank? 
  <div class="sframe">Technical Competence</div>
  <div class="well">
  #{@vacancy.technical_competence.html_safe}
  </div>

 


- if !v.corporate_competence.blank?
  <div class="sframe">Corporate Competence</div>
  <div class="well">
  #{@vacancy.corporate_competence.html_safe}
  </div>
 
- if !v.functional_competence.blank?
  <div class="sframe">Functional Competence</div>
  <div class="well">
  #{@vacancy.functional_competence.html_safe}
  </div>
 
 



- if !v.management.blank?
  <div class="sframe">Management & Leadership</div>
  <div class="well">
  #{@vacancy.management.html_safe}
  </div>

 

- if !v.required_skills_experience.blank?
  <div class="sframe">Required Skills</div>
  <div class="well">
  #{@vacancy.required_skills_experience.html_safe}
  </div>

 

%br
%br

- if !@vacancy.file_1_file_name.nil? || !@vacancy.file_2_file_name.nil?||!@vacancy.file_3_file_name.nil? || !@vacancy.file_4_file_name.nil? || !@vacancy.file_5_file_name.nil?
  <div class="alert alert-info">
  The Following is/are attachment(s) for this vacancy in **e-copy format** 
  </div>
  <div class="sframe"> 
  -if !@vacancy.file_1_file_name.nil?
    <a class="btn btn-primary" href="#{@vacancy.file_1.url}" target=_blank><i class="icon-white icon-file"></i>#{@vacancy.file_1_description}</a><br/>
    %p
  -if !@vacancy.file_2_file_name.nil?
    <a class="btn btn-primary" href="#{@vacancy.file_2.url}" target=_blank><i class="icon-white icon-file"></i>#{@vacancy.file_2_description}</a><br/>
    %p
  -if !@vacancy.file_3_file_name.nil?
    <a class="btn btn-primary" href="#{@vacancy.file_3.url}" target=_blank><i class="icon-white icon-file"></i>#{@vacancy.file_3_description}</a><br/>
    %p 
  -if !@vacancy.file_4_file_name.nil?
    <a class="btn btn-primary" href="#{@vacancy.file_4.url}" target=_blank><i class="icon-white icon-file"></i>#{@vacancy.file_4_description}</a><br/>
    %p
  -if !@vacancy.file_5_file_name.nil?
    <a class="btn btn-primary" href="#{@vacancy.file_5.url}" target=_blank><i class="icon-white icon-file"></i>#{@vacancy.file_5_description}</a><br/>
    %p
  </div>

 
 
</div> 
