<div class="mframe fnplus">
<div class="sframe fnplus1 pbtm">UNDP Vacancies </div>  
= form_for :vacancy , :method=> :get do |f|
  <label>View by Category <i class="icon-chevron-down"></i></label>
  - vendors = [["Consultants",1],["Suppliers",3],["Ngos",2]]
  = f.select :vendor_id,vendors, 'class'=>'span4', :include_blank =>true
  
  <button class="btn btn-primary tnp1">Display</button> 
  
  <a href="#{adv_search_vacancies_url}" class="btn btn-primary tnp1"><i class="icon-search icon-white"></i> Advance Search</a>

<!--<div class="sframe"><i class="icon-ok"></i> Current Search</div>-->

= render "view"
- if !signed_in?
  </div></div></div>
