- opts = {"Excellent"=>"5","Very Good"=>"4","Fair"=>"3","Poor"=>"2","Unsatisfactory"=>"1"}

<div class="span8" style="margin:0;">

= link_to "Edit Rating", edit_n_rating_url(params[:id]) , :class=> 'btn btn-primary'
= link_to "Delete Rating", n_rating_url(params[:id]),:data=>{:method=>:delete,:confirm =>"Delete this rating?"} , :class=> 'btn btn-danger'
%p 
<table class="table-striped table-bordered " style="width:95%; background: center; margin:0 auto;" width="500">



%tr
  %td 
    %b NGO Name
  %td= @rating.ngo_name
%tr
  %td Organizational Unit Providing Reference
  %td= @rating.organizational_unit
%tr
  %td Contract Sum
  %td= @rating.contract_sum

%tr
  %td Contract Title
  %td= @rating.project_title
 
%tr
  %td Contract Ref. Number
  %td= @rating.contract_number

- r = @rating 



<tr>
<td> Additional Information</td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.additional_information.html_safe
 
</td>
</tr>
<tr>
<td>Start Date</td>
<td>
= time_tag Date.parse r.start_date
</td>
</tr>
<tr>
<td>End Date</td>
<td>
= time_tag Date.parse r.end_date

</td>
</tr>


<tr>
<td><b> A. PROJECT IMPLEMENTATION</b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.question_1.html_safe
 
</td>
</tr>


<tr>
<td><b> B. MEETING DELIVERY SCHEDULES</b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
=  r.question_2.html_safe 
 
</td>
</tr>


<tr>
<td><b>C. FINANCIAL MANAGEMENT OF PROJECT FUNDS</b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.question_3.html_safe
 
</td>
</tr>

<tr>
<td><b>   
D. MONITORING AND EVALUATION</b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.question_4.html_safe
 
</td>
</tr>


<tr>
<td><b>   
  
E. MANAGEMENT OF PROJECT PERSONNEL </b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.question_5.html_safe
 
</td>
</tr>

<tr>
<td><b>   
  
F. REPORTING  </b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.question_6.html_safe
 
</td>
</tr>

<tr>
<td><b> Quality of Work  </b></td>
<td>
= opts.key(r.question_7)
</td>

</tr>
<tr><td><b> Technical Skills  </b></td>
<td>
= opts.key(r.question_8)

</td>

</tr>  

<tr><td><b> Value of Money  </b></td>
<td>
= opts.key(r.question_9)
</td>

</tr> 

<tr><td><b> Meeting Time Schedule </b></td>
<td>
= opts.key(r.question_10)

</td>

</tr> 

<tr><td><b> Overall Performance Rating  </b></td>
<td>
= opts.key(r.question_11)

</td>

</tr> 

<tr>
<td><b>   
  
Recommendation  </b></td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.question_12.html_safe
 
</td>
</tr>

<tr>
<td></td>
<td>
= r.question_6.html_safe

</td>

</tr> 

 


<tr>
<td>Evaluated By</td>
<td>
= r.evaluated_by
</td>
</tr>

<tr>
<td> Organization</td>
<td>
= r.organization
</td>
</tr>
<tr>
<td><b>Designation:</b></td>
<td>
= r.designation
 
</td>
</tr>
<tr>
<td><b>Date:</b></td>
<td>
= time_tag Date.parse r.thedate
</td>
</tr>
 
  
</table>
%br
= link_to('Ratings Home', search_vendor_c_ratings_url, 'class' => 'btn btn-primary pull-right','style'=>'width:auto;')

</div>
<br/>

= render "shared/navtree"

<style type="text/css">
tr{height:2.5em; font-size:1.0em;}
</style>
