- opts = [["Excellent",5],["Very Good",4],["Fair",3],["Poor",2],["Unsatisfactory",1]]
<div class="span8" style="margin:0;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>NGO Performance Rating Form</strong> </div>

 
<table width="800"  class="dataform">
= form_for @n_rating do |f|

  <tr>
  <th width="355" scope="col"><div align="left">&nbsp;   </div></th>
  
  </tr>
  <tr>
  <th width="355" scope="col"><div align="left">Part I:    </div></th>
  
  </tr>
  
  <tr>
  <td width="355" scope="col"><div align="left">Name of NGO:    </div></td>
  <td width="429" scope="col"><div align="left">
  = f.select('ngo_id',@ngos.map{|c| [c.name,c.id]} , 'class'=>'flexSelect',:include_blank=>true)
  </div></td>
  </tr>
  
  <tr>
  <td width="355" scope="col"><div align="left">Organizational Unit Providing Reference:    </div></td>
  <td width="429" scope="col"><div align="left">
  = f.text_field :organizational_unit
  </div></td>
  </tr>
  <tr>
  <td width="355" scope="col"><div align="left">Contract Sum (NGN):    </div></td>
  <td width="429" scope="col"><div align="left">
  = f.text_field('contract_sum')
  </div></td>
  </tr>
  <tr>
  <th width="355" scope="col"><div align="left">&nbsp;   </div></th>
  
  </tr>
  <tr>
  <th width="355" scope="col"><div align="left">Part II:    </div></th>
  
  </tr>
  <tr>
  <td> Title of Contract </td>
  <td>
  = f.text_field :project_title
  </td>
  </tr>
  
  <tr>
  <td>Contract Reference Number</td>
  <td>
  = f.text_field :contract_number
  </td>
  </tr>
  <tr>
  <td>Contract Period (From)</td>
  <td>
  = f.text_field :start_date , :class => 'griddates'
  </td>
  </tr>
  <tr>
  <td>Contract Period (To)</td>
  <td>
  = f.text_field :end_date , :class => 'griddates'
  
  </td>
  </tr>
  <tr>
  <td>Additional Information</td>
  <td>
  = f.text_area :additional_information , :size => "10x5"
  </td>
  </tr>
  
  
  
  <tr>
  <th width="355" scope="col"><div align="left">&nbsp;   </div></th>
  
  </tr>
  <tr>
  <th width="355" scope="col"><div align="left">Part III:    </div></th>
  
  </tr>
  
  <tr>
  <td>
  A. <b>PROJECT IMPLEMENTATION</b> <pre>How do you rate the NGO in terms of project management?
  (Please provide narrative in the box on your right)</pre>
  </td>
  <td>
  = f.text_area :question_1 , :size => "10x5"
  </td>
  </tr>
  
  
  
  <tr>
  <td>
  B. <b>MEETING DELIVERY SCHEDULES</b> <pre>To what extent did the NGO adhere to timelines?
  (Please provide narrative in the box on your right)</pre>
  </td>
  <td>
  = f.text_area :question_2 , :size => "10x5"
  </td>
  </tr>
  
  
  <tr>
  <td>
  C. <b>FINANCIAL MANAGEMENT OF PROJECT FUNDS </b> <pre>How effective did the NGO manage funds,<br/> financial controls,  systems of tracking payment,<br/> financial reports e.t.c.
  (Please provide narrative in the box on your right)</pre>
  </td>
  <td>
  = f.text_area :question_3 , :size => "10x5"
  </td>
  </tr>
  <tr>
  <td>
  D. <b>  MONITORING AND EVALUATION  </b> <pre>To what extent did the NGO utilize effective tools  and<br/>systems; human and material and methods to appraise <br/>the milestones during the project implementation?  <br/> (Please provide narrative in the box on your right)</pre>
  </td>
  <td>
  = f.text_area :question_4 , :size => "10x5"
  </td>
  </tr>
  
  <tr>
  <td>
  E. <b>MANAGEMENT OF PROJECT PERSONNEL  </b> <pre>How do you rate the NGO's approach at meeting the <br/> project staff to achieve results?<br/>
  (Please provide narrative in the box on your right)</pre>
  </td>
  <td>
  = f.text_area :question_5 , :size => "10x5"
  </td>
  </tr>
  
  
  <tr>
  <td>
  F. <b>REPORTING  </b> <pre>Did NGO provide comprehensive progress report and final 
  report as at when due? <br/> <br/>
  (Please provide narrative in the box on your right)</pre>
  </td>
  <td>
  = f.text_area :question_6 , :size => "10x5"
  </td>
  </tr>
  
  <tr>
  <th width="355" scope="col"><div align="left">&nbsp;   </div></th>
  
  </tr>
  <tr>
  <th width="355" scope="col"><div align="left">Part IV:    </div></th>
  
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr><td><b>Quality of Work </b></td><td><label>
  
   
  = f.select :question_7, opts
  </label></td>
  
  </tr>
  
  <tr><td><b>Technical Skills </b></td><td><label>
  
   
  = f.select :question_8, opts
  </label></td>
  
  </tr>
  
  <tr><td><b>Value of Money </b></td><td><label>
  
   
  = f.select :question_9, opts
  </label></td>
  
  </tr>
  
  <tr><td><b>Meeting Time Schedule </b></td><td><label>
  
   
  = f.select :question_10, opts
  </label></td>
  
  </tr>
  
  <tr><td><b>Overall Performance Rating</b></td><td><label>
  
  = f.select :question_11, opts 
  </label></td>
  
  </tr>
  
  
  
  <tr>
  <th width="355" scope="col"><div align="left">&nbsp;   </div></th>
  
  </tr>
  <tr>
  <th width="355" scope="col"><div align="left">Part V:    </div></th>
  
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td><strong> Recommendation </strong>
  
  </td>
  
  
  
  <td>
  = f.text_area :question_12 , :size => "10x5"
  </td>
  <td></td>
  </tr>  
  
  
   
   
   
   
  
  
  
  
  
  
  
  
  <tr>
  <td><b>Evaluated By:</b></td>
  <td>
  = f.text_field :evaluated_by
  </td>
  </tr>
  <tr>
  <td><b>Organization:</b></td>
  <td>
  = f.text_field :organization
  </td>
  </tr>
  <tr>
  <td><b>Designation:</b></td>
  <td>
  = f.text_field :designation
  </td>
  </tr>
  <tr>
  <td><b>Date:</b></td>
  <td>
  = f.text_field :thedate, :class=>"griddates"
  </td>
  </tr>
   
   
  <tr>
  
  <td><input type="submit" name="button" class="btn btn-primary" id="button" value="Submit" /></td>
  <td height="33">
  = link_to "Cancel", select_ngos_n_ratings_url(:cancel=>"1") , :class=> 'btn btn-danger'
  </td>
  </tr>

</table>
</div></div></div>
= render "shared/navtree"

<script type="text/javascript">
$(function(){


$('.griddates').datepicker({changeMonth:true, changeYear:true ,dateFormat:'yy-mm-dd'});


});
</script>