Dear #{@message[:firstname]}  #{@message[:lastname]}  ,

<p>This is an automatic system generated acknowledgement of your application for the the <br/>
<b> #{@message[:vacancy]} </b>position.</p>

<p>Please ensure to update your C.V. to enable proper assessment of your suitability for the position!</p>


<p>N.B: <br/>
Mails from this server may be in your spam/junk mails, always check your spam/junk mails.
</p>
%p You may also click 'NOT SPAM' on one any of this System email(s) to you to whitelist this server.

%p DO NOT REPLY THIS EMAIL
%p Thank you.

