- opts = [["Excellent",5],["Very Good",4],["Fair",3],["Poor",2],["Unsatisfactory",1]]
<div class="span8" style="margin:0;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>Consultant Performance Rating Form</strong> </div>



 



<table   width="800" border="0" class="formdata table">
= form_for @c_rating do |f|

  <tr>
  <th scope="col"><div align="left"><b>Consultant Staff Name:</b>    </div></th>
  <th scope="col"><div align="left">
  
   
  = f.select(:consultant_id,@consultants.map{|c| ["#{c.firstname}  #{c.lastname}",c.id]},'class'=>'flexselect',:include_blank=>true)
  
  
   
  </div></th>
  </tr>
  <tr>
  <td><b>Project Number:</b></td>
  <td><span id="vacanciesHolder1">
  = f.text_field('project_number');
  
  </span></td>
  </tr>
  
  <tr>
  <td><b>Project Title:</b></td>
  <td>
  = f.text_field('project_title')
  
  </td>
  </tr>
  
  <tr>
  <td><b>Project Duty Station:</b></td>
  <td>
  = f.text_field('project_duty_station')
  
  </td>
  </tr>
  
  <tr>
  <td><b>Brief Description of Project:</b></td>
  <td>
  = f.text_area('project_description',:size=>"10x5")
  
  </td>
  </tr>
  <tr>
  <td><b>Start Date:</b></td>
  <td>
  = f.text_field :start_date ,:class=>'griddates' 
  </td>
  </tr>
  <tr>
  <td><b>End Date:</b></td>
  <td>
  = f.text_field :end_date ,:class=>'griddates'
  </td>
  </tr>
  
  
  <tr>
  <td><b>Countries Visited during assignment:</b></td> 
   
   
  <td>
  = f.text_field('countries_visited')
  
  </td>
  </tr>
  <tr><td colspan="2"><b style="color:red;">**Please Rate the staff's following attribute**</b></td></tr>
   
  
   
  
  <tr><td><b> Initiative </b></td><td><label>
  
   
  = f.select :question_1, opts
  
  </label></td>
  
  </tr>
  <tr><td><b> Interpersonal skills </b></td><td><label>
  
   
  = f.select :question_2, opts
  
  
  </label></td>
  
  </tr>  
  
  <tr><td><b> Quality of Reports submitted </b></td><td><label>
  
   
  = f.select :question_3, opts
  
  </label></td>
  
  </tr> 
  
  <tr><td><b> Timeliness of reports submitted </b></td><td><label>
  
   
  = f.select :question_4, opts
  
  
  </label></td>
  
  </tr> 
  
  <tr><td><b> Technical expertise in the area of Assignment </b></td><td><label>
  
   
  = f.select :question_5, opts
  
  </label></td>
  
  </tr> 
  
  <tr><td><b> Imagination </b></td><td><label>
  
   
  = f.select :question_6, opts
  
  </label></td>
  
  </tr> 
  
  <tr><td><b> Linguistic skills </b></td><td><label>
  
   
  = f.select :question_7, opts
  
   
  
  </label></td>
  
  </tr> 
  <tr><td><b> Please Explain below any Ratings that were Assigned in the above parts or Attributes and Performance in relation to the Terms of Reference.  </b></td>
  
  <td>
  = f.text_area :extra_detail ,:size=>"10x5"
  
  <tr><td><b> Should this Staff remain on the Roster </b></td>
  <td>
  %span Yes
  = f.radio_button :should_this_vendor_remain_on_roster , "Yes"
  %span No
  = f.radio_button :should_this_vendor_remain_on_roster , "No"
  
  <tr>
  <td><b>Evaluated By:</b></td>
  <td>
  = f.text_field :evaluated_by
  </td>
  </tr>
  
  <tr>
  <td><b>Organization:</b></td>
  <td>
  = f.text_field :organization
  </td>
  </tr>
  <tr>
  <td><b>Designation:</b></td>
  <td>
  = f.text_field :designation
 
  </td>
  </tr>
  <tr>
  <td><b>Date:</b></td>
  <td>
  = f.text_field :thedate,  :class=>"griddates" 
  </td>
  </tr>
   
  
  <tr>
  
  <td><input type="submit" name="button" class="btn btn-primary" id="button" value="Update" /></td>
  <td height="33">
  = link_to "Cancel", select_cons_c_ratings_url(:cancel=>"1") , :class=> 'btn btn-danger'
  </td>
  </tr>
</table>



</div>


</div></div>
= render "shared/navtree"
 
<div class="clear"></div>
  
= stylesheet_link_tag '/js/uniForm jq/css/uniform.aristo'


<script type="text/javascript">
$(function(){

$('#vacanciesHolder').empty();
// $("select.flexselect").flexselect();

//$('#vacanciesHolder').append('<select name="data[ConsultantRating][job_id]" id="VacanciesList">'+
//'  </select><br/>No Vacancy ? <a href="http://'+ <?php echo '"'. $_SERVER['SERVER_NAME'].PORT.'"' ;?>+'/vmsb/vacancies">Create New</a>');
//bindVacancy();



$('.griddates').datepicker({changeMonth:true, changeYear:true ,dateFormat:'mm-dd-yy'});


});

function addOptions(cl,id) {
//enable child select and clear current child options
//$("#prog").removeAttr("disabled");
$("#"+id).html('');
//repopulate child list with array from helper page
var prog = document.getElementById(id);
for(var i = 0; i < cl.length; i++) {
prog.options[i] = new Option(cl[i].text, cl[i].value);
}
}var vid=0;
function bindVacancy()
{
$("#VacanciesList").append(new Option('Getting Vacancies list ...'));
//declare options array and populate
var progOptions = new Array();

vid="<?php if($session->read('vacancy')){echo $session->read('vacancy');} else{echo 0;} ?>";


$.post('http://'+"<?php echo  $_SERVER['SERVER_NAME'].PORT;?>"+"/vmsb/vacancies/getVacancies/1/"+vid,null, function(data)
{eval(data);if(progOptions.length > '0'){addOptions(progOptions,"VacanciesList");}});



}
</script>