<div class="span8" style="margin:0;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>Enter Vendor to search </strong> </div>







<table   width="800" border="0" class="formdata">
= form_for :c_rating ,:method=>:put,:url => {:action=>'search_vendor',:controller=>:c_ratings} do 

  <tr>
  <th scope="col"><div align="left"><b>Vendor Name:</b>    </div></th>
  <th scope="col"><div align="left">
  
    
  = text_field_tag "name" 
  
  
  </div></th>
  </tr>
  
  <tr>
  <th scope="col"><div align="left"><b>Vendor Type:</b>    </div></th>
  <th scope="col"><div align="left">
  
  %span Consultant  
  = radio_button_tag "vendor_type" , 1 
  %span Supplier  
  = radio_button_tag "vendor_type" , 3 
  
  %span NGO 
  = radio_button_tag "vendor_type" , 2 
  
  
  </div></th>
  </tr>
   
  
   
  
  <tr>
  <td height="33">&nbsp;</td>
  <td><input type="submit" name="button" class="btn btn-primary" id="button" value="Search" /></td>
  </tr>
</table>
%br
%p{:class=>"alert alert-success"} Alternatively
%div{:class=>'pull-right'}
  = link_to "View Ratings for Consultants " ,cons_ratings_url,:class=>'btn btn-primary'
  = link_to "View Ratings for NGOs " ,ng_ratings_url,:class=>'btn btn-primary'
  = link_to "View Ratings for Suppliers " ,sp_ratings_url,:class=>'btn btn-primary'

</div>


</div></div>
= render "shared/navtree"
 
<div class="clear"></div>
  
 
<script type="text/javascript">
$(function(){

 


$('.griddates').datepicker({changeMonth:true, changeYear:true });


});

 
</script>