<div class="span8" style="margin:0;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>Enter Consultant for Rating</strong> </div>







<table   width="800" border="0" class="formdata">
= form_for @c_rating , :url => new_c_rating_url do |f|

  <tr>
  <th scope="col"><div align="left"><b>Consultant Staff Firstname:</b>    </div></th>
  <th scope="col"><div align="left">
  
    
  = text_field_tag "c_rating[firstname]" 
  
  
  </div></th>
  </tr>
  <tr>
  <th scope="col" class="danger"><div align="left"><b> OR</b>    </div></th>
  <th scope="col"><div align="left">
  
    
   
  
  
  </div></th>
  </tr>
  <tr>
  <th scope="col"><div align="left"><b>Consultant Staff Lastname:</b>    </div></th>
  <th scope="col"><div align="left">
  
    
  = text_field_tag "c_rating[lastname]" 
  
  
  </div></th>
  </tr>
  
  <tr>
  <td height="33">&nbsp;</td>
  <td><input type="submit" name="button" class="btn btn-primary" id="button" value="Submit" /></td>
  </tr>
</table>



</div>


</div></div>
= render "shared/navtree"
 
<div class="clear"></div>
  
 
<script type="text/javascript">
$(function(){

 


$('.griddates').datepicker({changeMonth:true, changeYear:true });


});

 
</script>