- u = @message.symbolize_keys!
- if u[:vendor_id] == 1
  Dear #{u[:firstname]} ,
  %br
  %p We have recently performed a system upgrade on our database at (http://rosters.ng.undp.org).
  
  %p Your password was discarded during this upgrade ,Please reset your password using the below link.

  - u_id = #{u[:uni_id]}
  - if Rails.env.development?
    = link_to "Click Here to Reset your password >>" , url_for(:host => 'rosters.ng.undp.org',:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>u[:uni_id])
  - else
    = link_to "Click Here to Reset your password >>" , url_for(:host => 'rosters.ng.undp.org',:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>u[:uni_id])
  
  %br
  %p Whilst at it,Please take out time to review and update your information with us by reviewing the C.V section and Personal History Form.
  
  
  

- elsif u[:vendor_id] == 2

- elsif u[:vendor_id] == 3
  Dear #{u[:firstname]} ,
  %br
  %p We have recently performed a system upgrade on our database at (http://rosters.ng.undp.org).
  
  %p Your password was discarded during this upgrade,Please reset your password using the below link.

  - u_id = #{u[:uni_id]}
  - if Rails.env.development?
    = link_to "Click Here to Reset your password >>" , url_for(:host => 'rosters.ng.undp.org',:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>u[:uni_id])
  - else
    = link_to "Click Here to Reset your password >>" , url_for(:host => 'rosters.ng.undp.org',:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>u[:uni_id])
  
  %br
  %p Whilst at it,Please take out time to review and update your information with us by reviewing the Supplier details Form.
  

- elsif u[:vendor_id].nil?
  Dear #{u[:firstname]} ,
  %br
  %p We have recently performed a system upgrade on our database at (http://rosters.ng.undp.org).
  
  %p Your password was discarded during this upgrade,Please reset your password using the below link.

  - u_id = #{u[:uni_id]}
  - if Rails.env.development?
    = link_to "Click Here to Reset your password >>" , url_for(:host => 'rosters.ng.undp.org',:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>u[:uni_id])
  - else
    = link_to "Click Here to Reset your password >>" , url_for(:host => 'rosters.ng.undp.org',:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>u[:uni_id])
  
  %br
  %p Whilst at it,Please take out time to review and update your information with us by selecting your vendor category, Fill the vendor details Form and upload relevant document(s) where required.

  
%p Updating and providing all required information as a vendor on the system ensures that you get considered during recruitment reviews and vacancy applications.

%p remember to use the Feedback Link to submit your complaints and suggestions. 

%p 
  %br 
  There is a new feature that allows you deactivate your account under the utilities section of your dashboard.
  %br
  %p If for some reasons the link provided in your email does not work, please use the 'Forgot Password' link provided on the Login form to reset your password.

%p
  Thank you!
    
%br
VDMS Admin
%p vmdssupport.ng@undp.org
%br
http://rosters.ng.undp.org