- options = [["none", "none"],["limited","limited"],["working knowledge","working knowledge"],["proficient","proficient"]]
- if !session[:tim] 
  - session[:tim] = [] 
  - tim = Time.now
  - session[:tim] << tim
  - t = session[:tim].last
%tr{:class =>'extraLang' , :id =>"#{t}"}
  
  
  %tr{:class =>"#{t}" } 
    %td Language  
    %td{:colspan=>3}= text_field_tag "c_language[][language]"  
     
  %tr{:class =>"#{t}" } 
    %td Read
    %td Write 
    %td Speak
    %td Understand 
  %tr{:class =>"#{t}"}
    %td= select_tag "c_language[][read_status]" ,options_for_select(options) 
    %td= select_tag "c_language[][write_status]" ,options_for_select(options) 
    %td= select_tag "c_language[][speak_status]" ,options_for_select(options) 
    %td
      = select_tag "c_language[][understand_status]" ,options_for_select(options) 
      = hidden_field_tag "c_language[]consultant_id]" ,session[:cid]