- options = [["none", "none"],["limited","limited"],["working knowledge","working knowledge"],["proficient","proficient"]]
%table{:class => 'fnrd datatable',:id => "addLang"}
  %caption <h5>If Yes, Enter</h5>                  
  %tr 
    %td Language  
    %td{:colspan=>3}= text_field_tag "c_language[][language]"  
     
  %tr 
    %td Read
    %td Write 
    %td Speak
    %td Understand 
  %tr
    %td= select_tag "c_language[][read_status]" ,options_for_select(options) 
    %td= select_tag "c_language[][write_status]" ,options_for_select(options) 
    %td= select_tag "c_language[][speak_status]" ,options_for_select(options) 
    %td
      = select_tag "c_language[][understand_status]" ,options_for_select(options) 
      = hidden_field_tag "c_language[]consultant_id]" ,session[:cid]
<div class="nosredna">&nbsp;</div>
<div class="pull-right">
= link_to '<i class="icon-white icon-plus-sign"></i> Add language '.html_safe, add_c_languages_url(:format=>:js) ,:remote=>true ,:class=>"btn btn-success" 
= link_to '<i class="icon-white icon-minus-sign"></i> Remove language'.html_safe, remove_c_languages_url(:format=>:js) ,:remote=>true ,:class=>"btn btn-danger" 
</div>
<div class="nosredna">&nbsp;</div>