- options = [["none", "none"],["limited","limited"],["working knowledge","working knowledge"],["proficient","proficient"]]
%table{:class => 'fnrd datatable',:id => "addLang"}
  %caption                   
  
    
  = form_for @consultant  do |f|
    
    %tr 
      %td Language  
      %td{:colspan=>4}= f.text_field :language  
       
    %tr 
      %td Read
      %td Write 
      %td Speak
      %td Understand
      %td 
        
    %tr
      %td= f.select :read_status ,options_for_select(options) 
      %td= f.select :write_status ,options_for_select(options) 
      %td= f.select :speak_status ,options_for_select(options) 
      %td
        = f.select :understand_status ,options_for_select(options) 
        = f.hidden_field :consultant_id
      %td <input type="submit" class="btn btn-primary" value="update" />
      
<div class="nosredna">&nbsp;</div>
