no_of_extras = $('tr[class*=extraLang]').length ;
 
if(no_of_extras !=0){
<%= t = session[:tim].last %>
$('#addLang').find("tr:gt(2)").remove();
$('tr[class*=extraLang]:last').find('tr').remove();
$('#<%= t %>').find("tr:gt(0)").remove();
<%= session[:tim].pop %>
$('tr[class*=extraLang]:last').remove();
}
else
{
alert("No Extra language block was added!");	
}
$('.datepicker').datepicker({changeMonth: true,changeYear: true}); 