= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Group
    %th Desc 
    
     
    %th Actions
  - @groups.each do |e|
    %tr
      
      %td= e.name.upcase
      %td= e.description
      
       
            
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_group_url(e.id) ,:title =>'Edit' ,:class=>"btn"
        = link_to('<i class="icon-lock"></i>'.html_safe, new_aco_aro_url(:atype  => "g",:group_id => e.id),:method => :post ,'class'=>'btn','target'=>'_blank','title'=>'Manage Privileges For  this group'  ) 
        

%p
  
= render "shared/paginate"
%div{:class=>"nosredna"}
 
</div>
= render "shared/navtree"
