<div  class="sframe span7 minpad" style="margin:0px 20% 20% 20%;" align="center">
<div class="sbh"><i class="icon-list-alt"></i> System Summary </div>
<div class="blk"> All  Vendors <i class="icon-arrow-down"></i> #{@vendors} <div id="bar"></div></div>

<div class="blk">Consultants <i class="icon-arrow-down"></i> #{@consultants}  /  #{@vendors} <div id="consultants"></div></div>
<div class="blk">NGO <i class="icon-arrow-down"></i> #{@ngos} / #{@vendors} <div id="ngos"></div> </div>
<div class="blk">Suppliers <i class="icon-arrow-down"></i> #{@suppliers} /  #{@vendors} <div id="suppliers"></div></div>

<div class="blk"> Current Vacancies <i class="icon-arrow-down"></i> #{@vacancies_opened} / #{@vacancies_all} <div id="va"> </div></div>
<div class="nosredna">&nbsp;</div>
<div class="blk">
= link_to('Continue to dashboard',login_url , :class=>'btn btn-primary')
</div>

</div>


<script type="text/javascript">

- v=  (@vendors / @vendors * 100).ceil
- c = ((@consultants.to_f/@vendors.to_f).to_f * 100).to_i
- n = ((@ngos.to_f/@vendors.to_f).to_f * 100).to_i
- s = ((@suppliers.to_f/@vendors.to_f).to_f * 100).to_i
- va = ((@vacancies_opened.to_f/@vacancies_all.to_f).to_f * 100).to_i
- if va == 'NaN'
  - va = 0
vendors = #{v} ;
c= #{c} ;
n= #{n};
s= #{s};
va= #{va};


$(function(){

$( "#bar" ).progressbar({ 
value: parseInt(100)
}); 
$( "#consultants" ).progressbar({ 
value: parseInt(c)
});
$( "#ngos" ).progressbar({
value: parseInt(n)
});
$( "#suppliers" ).progressbar({
value: parseInt(s)
});

$( "#v" ).progressbar({
value: parseInt(va)
});
$( "#va" ).progressbar({
value: parseInt(va)
});
});

</script>