<div class="row-fluid">
<div class="nosredna">&nbsp;</div>
<div class="sbh">List any significant publications you have written(do not attach them) or any special recognitions you have received</div>

<div class="nosredna">&nbsp;</div>
<div class="span3" style="margin-left:0;">
<label>Name </label>
= text_field_tag "c_publication[][name]" , nil ,:class=>'span12'
</div>
<div class="span3">
<label>Details</label>
- options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
= text_area_tag "c_publication[][details]" ,nil ,:class=>'span12', :size=>"10x5"
= hidden_field_tag "c_publication[][consultant_id]",session[:cid]
</div>
 
<div class="nosredna">&nbsp;</div>
<div id="AddedPubs"></div>