Hi #{@message[:firstname]}  #{@message[:lastname]}  ,
%p You  requested for a password reset link for your account on the UNDP Nigeria Vendor Database Management System
<br /> 
<p>
%br
- u_id = #{@message[:uni_id]}
- if Rails.env.development?
  = link_to "Click Here to Reset your password >>" , url_for(:host => "localhost",:port=>3000,:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>@message[:uni_id])
- else
  = link_to "Click Here to Reset your password >>" , url_for(:host => CONFIG[:host],:port=>80,:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>@message[:uni_id])

</p>
<br/>
Thank you.
