Hi #{@message[:firstname]}  #{@message[:lastname]}  ,
%p You have received this email because you requested for an activation link for your account on the UNDP Nigeria Vendor Database Management System
<br /> 
<p>
%br
- u_id = #{@message[:uni_id]}
- if Rails.env.development?
  = link_to "Click Here to Complete Your Signup >>" , url_for(:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>@message[:uni_id])
- else
  = link_to "Click Here to Complete Your Signup >>" , url_for(:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>@message[:uni_id])

</p>
<br/>
Thank you.
