- if !@current_user.nil?
  - if !@message[:lastname].blank?
    Hi #{@message[:firstname]}  #{@message[:lastname]}  ,
    %p You have been added as a #{@message[:usertype].capitalize} to the UNDP Nigeria Vendor Database Management System.
 
  - else
    %p #{@message[:firstname]}  has been added as a #{@message[:usertype].capitalize} to the UNDP Nigeria Vendor Database Management System.
  <br />
  <p> Kindly,find your Login details below <br />

  <table>
  <tr><td> Username : </td><td>#{@message[:username]}</td></tr
  <tr><td> Password : </td><td> #{@message[:pass_to_send]} </td></tr>
  </table>
  <p style="color:red;">***You are strongly advised to change your password after first login***</p>
  <p>
  %br
  - u_id = #{@message[:uni_id]}
  
  - if Rails.env.development?
    = link_to "Click here to login >>" , url_for(:host => "localhost",:port=>3000,:protocol=>"http",:only_path=>false,:action => 'new', :controller => 'sessions')
  - else
    = link_to "Click here to login >>" , url_for(:host => CONFIG[:host],:port=>80,:protocol=>"http",:only_path=>false,:action => 'new', :controller => 'sessions')
  
  </p>
  <br/>
  Thank you.
- else
  - if !@message[:lastname].blank?
    Hi #{@message[:firstname]}  #{@message[:lastname]}  ,
    %p You have received this email because you signed up on the UNDP Nigeria Vendor Database Management System
 
  - else
       
    %p #{@message[:firstname]} has been signed up on the UNDP Nigeria Vendor Database Management System
  <br /> 
  <p>
  %br
  - u_id = #{@message[:uni_id]}
  
  - if Rails.env.development?
    = link_to "Click Here to Complete Your Signup >>" , url_for(:host => "localhost",:port=>3000,:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>@message[:uni_id])
  - else
    = link_to "Click Here to Complete Your Signup >>" , url_for(:host => "rosters.ng.undp.org",:port=>80,:protocol=>"http",:only_path=>false,:action => 'confirmation', :controller => 'undpusers',:uni_id=>@message[:uni_id])
  
  </p>
  <br/>
  Thank you.
