%style
  select{width:5em;}
<div class = "frameback span8" style="margin:0;">
 

<table  class="datatable" style="width:100%;">
<caption> Search Criteria Options
</caption>
<tr>
<th>Select
</th>
<th colspan="2">Name</th>
<th>Work Experience</th>
<th>Age</th>
<th>Gender</th>
<th> Education</th>
<th>Service</th>
<th>Action</th>


</tr>
= form_for @consultant_report , :url=> {:action=>:index,:controller=>:consultant_reports}  do |rf|
  
  <tr>
  <th>
  
  <input type="checkbox"  name="empty"  id = "selectAll"/>
  
  
  </th>
  <th colspan="2">&nbsp;</th>
  
  
  <th> <select  class="griddate span8" name="consultant_report[experience]" id="Conrpt.experience">
  <option value="-1"> --</option>
  <option value="0__5">0-5 Years</option>
  <option value="5__10">5-10 Years</option>
  <option value="10__15">10- 15 Years</option>
  <option value="15__20" >15-20 Years</option></select>
  
  
  </th>
  <th>
  
  <select class="griddate span8" id="Conrpt.age" name="consultant_report[c_age]"><option value="-1" >--</option>
   
  <option value="21__30">21 - 25 Years </option>
   
  
  <option value="30__40">30 - 40 Years</option>
  <option value="40__50">40 - 50 Years</option>
  <option value="50__100">Above 50 Years</option></select>
 
  
  </th>
  <th>
  
  <select  class="griddate span8" name="consultant_report[gender]"><option value="-1">--</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  
  </select>
   
  </th>
  <th> 
  = rf.select(:qualification,@c_eds.map{|e| [e,e]},:class => "span6", :include_blank=>true)
  </th>
  <th> 
  = rf.select(:vss_name,@c_services.map{|e| [e,e]},:class=>'span6 griddate', :include_blank=>true)
 
  </th>
  <th><input type="submit" value="search" class="btn btn-primary"/>
   
  </th>
  
  
  
  
  </tr>
= form_for :export_selected ,:url => collate_for_export_system_wide_index_path ,:html=>{:id =>'exportForm'}  do |ff|
  = ff.hidden_field "types" , :value => 'consultants'
  - @consultant_reports.each do |r|
       
    %tr
       
      %td &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  name="consultants[]" value="#{r.consultant_id}" class="chkBxs"/>
  
      %td{:colspan=>2}= "#{r.c_fname}  #{r.c_lname}" 
       
      %td
        - if r.experience.blank?
          
        - else
          
          = get_time_in_string? r.experience.to_i 
      - if r.c_age.blank?
      - else
          
        %td
          = r.c_age / 365 
           
           
      %td= r.gender
      %td
        = r.qualification
        ,
        = r.c_post_qual unless r.c_post_qual.blank?
      
      %td
        = r.vss_name
        ,
        = r.service unless r.service.blank?
      %td
        = link_to '<i class="icon-list-alt"></i>'.html_safe, consultant_url(:consultant_id=>r.consultant_id,:id=>r.consultant_id),'target'=>'_blank','class'=>'btn btn-small','title'=>'Personal History Form',:target=>"_blank"
        = link_to '<i class="icon-envelope"></i>'.html_safe, new_e_mail_url(:user_id=>r.undpuser_id),:method=>:post,'class'=>'btn btn-small','title'=>'Email' ,:target=>"_blank"
        = link_to '<i class="icon-list"></i>'.html_safe, c_upload_url(:consultant_id=>r.consultant_id,:id=>r.consultant_id), :class=>'btn btn-small','title'=>'View CV' ,:target=>"_blank"
    
     
      - #e('<td>' . $html->link('[ CV ]', array('controller' => 'consultants', 'action' => 'printConsultantCv', $result[$i]['Consultant']['id']), array('class' => 'details','target'=>'_blank')) . '</td></tr>');
</table>

= render "shared/paginate"



<div>

<!-- <input type ="submit" value="Export the Selected" class="newvac"/>-->
<span style="margin-left:55px;float: right;">

-#= link_to('Preview Selected',"#",'class' => 'btn btn-primary', 'id' => 'previewSel')
<a id = "exportSelected" href= "#{export_to_excel_consultants_url(:format=>:xls,:consultants=>'selected')}" style="margin-left:10px;" class="btn btn-primary pull-right">Export the Selected</a> 
 
<a id = "emailSelected" href= "#{new_e_mail_url(:user_id=>'group')}" style="margin-left:10px;" class="btn btn-primary pull-right">Email Selected vendors</a> 


= link_to('Search Home', new_report_url,'class' => 'btn btn-primary', 'id' => 'searchReport')

</span>

</div>
</div>

= render "shared/navtree"
<script type="text/javascript">


$(function() {

$('#selectAll').change(function() {

var group = '.chkBxs:checkbox';
if($('#selectAll').attr('checked'))
{
$(group).attr('checked', $(this).attr('checked'));

}
else
{
$(group).attr('checked', false);

}
});

 
$('#exportSelected , #emailSelected ,.previous_page,.current,.next_page,a[rel*=prev],a[rel*=start],a[rel*=next], .previous a,.next a,.current a,.span-24 div.span-24 a,.span-24 div.span-24 span a, div.paging div a,.paging span a,.paging a,.disabled,.disabled a').click(function(e)
{
e.preventDefault();
var url=$(this).attr('href');
//var submit_url = $('#exportForm').attr('action');
var form = $('#exportForm').serialize();
//alert(url);


$.ajax({type:'post',url:"#{collate_for_export_system_wide_index_url}",data:form,
success: function(responseText,responseCode) {
//alert(responseText);
window.location.href = url;
}
});
});
 


});


 
</script>