- if signed_in? && current_user.group_id != 4
  <div class="pull-right" style="margin-top:-4px;">

  <div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  Browse
  <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <li>  <a href="#{vac_applications_url(:show=>'cons')}"> Consultants Position(s)</a>
  </li>
  
  <li>  <a href="#{vac_applications_url(:show=>'ngos')}"></i>NGOs Position(s)</a>
  </li>
  
  
  <li  > <a href="#{vac_applications_url(:show=>'supp')}" >Suppliers Position(s)</a></li>
  
  <li > <a href="#{vac_applications_url}" > All Applications</a></li>
  <li > <a href="#{vacancies_url}" > All Vacancies</a></li>
   
  </ul>
  </div></div>
