- if !identify_vendor.nil?
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Other Actions <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li><a href="#{edit_consultant_url(@consultant.id)}"><i class="icon-user"></i> Update Personal Details</a></li>
  
  <li><a href="#{c_education_url(:consultant_id => @consultant.id)}"><i class="icon-home"></i> Update Education</a></li>
  <li><a href="#{c_employment_record_url(identify_vendor)}"><i class="icon-briefcase"></i> Update Employment Record</a></li>
  <li><a href="#{c_misc_url(identify_vendor)}"><i class="icon-briefcase"></i> Update Miscellaneous</a></li>
  
  <li><a href="#{c_reference_url(:id=>@consultant.id,:consultant_id=>@consultant.id)}"><i class="icon-hand-right"></i> Update Referees</a></li>
  <li><a href="#{c_upload_url(:consulant_id =>@consultant.id)}"><i class="icon-hand-right"></i> Update Uploads</a></li>
  <li><a href="#{c_certification_url(:consultant_id => @consultant.id , :id=>@consultant.id)}"><i class="icon-certificate"></i> Update Certification</a></li>
  </ul>
- else
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Other Actions <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li><a href="#{consultant_url(:consultant_id=>@consultant.id)}"><i class="icon-user"></i> Basic info</a></li>
  <li>
  = link_to '<i class="icon-book"></i> Education'.html_safe , c_education_path(:consultant_id  => @consultant.id)
  </li>
  <li><a href="
  = c_employment_record_path(:consultant_id => @consultant.id)
  "><i class="icon-briefcase"></i> Employment</a></li>
  <li><a href="
  = c_misc_path :consultant_id  => @consultant.id
  "><i class="icon-list"></i> Miscellaneous</a></li>
  <li><a href="
  = c_reference_path :consultant_id  => @consultant.id
  "><i class="icon-hand-right"></i> Reference</a></li>
  <li><a href="
  = c_upload_path :consultant_id  => @consultant.id
  "><i class="icon-hand-right"></i> Uploads</a></li>
  
  <li><a href="
  = c_certification_path :consultant_id  => is_vendor?
  "><i class="icon-certificate"></i> Certification</a></li>
  <li><a href="
  = new_consultant_path(:undpuser_id  => @consultant.undpuser_id)
  "><i class="icon-user"></i> Consultant Personal History Form</a></li>
  <li><a href="
  = new_recruitment_url(:undpuser_id  => @consultant.undpuser_id)
  "><i class="icon-play"></i> Recruit this vendor</a></li>
  
  </ul>