- if identify_vendor.nil?
  <div class="btn-group">
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Other Actions <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li><a href="#{edit_consultant_url(@consultant.id)}"><i class="icon-user"></i> Update Personal Details</a></li>
  
  <li><a href="#{c_education_url(:consultant_id =>@consultant.id)}"><i class="icon-home"></i> Update Education</a></li>
  <li><a href="#{c_employment_record_url(:consultant_id => @consultant.id)}"><i class="icon-briefcase"></i> Update Employment Record</a></li>
  <li><a href="#{c_misc_url(:consultant_id =>@consultant.id)}"><i class="icon-briefcase"></i> Update Miscellaneous</a></li>
  
  <li><a href="#{c_reference_url({:consultant_id => @consultant.id})}"><i class="icon-hand-right"></i> Update Referees</a></li>
  <li><a href="#{c_upload_url(:consultant_id => @consultant.id)}"><i class="icon-hand-right"></i> Update Uploads</a></li>
  <li><a href="#{c_certification_url(:consultant_id=>@consultant.id)}"><i class="icon-certificate"></i> Update Certification</a></li>
  <li><a href="
  = new_consultant_path(:undpuser_id  => @consultant.undpuser_id)
  "><i class="icon-open"></i> Consultant Personal History Form</a></li>
  </ul>
  </div>
 