<!--<?php
echo '<div id="page-wrap">
<ul class="dropdown">
<li class="left"><a href="#{dashboard_url}">Dashboard</a></li>


<li><a href="#">Setup and Administration</a>

<ul class="submenu">
<li><a href="#">Thematic Area </a>
<ul class="submenu">

<li><a href="'.$html->url(array('controller'=>'vendor_types','action'=>'index')).'">Create New</a></li>

<li><a href="'.$html->url(array('controller'=>'dashboard','action'=>'beforeVpaVssVtype')).'">View </a></li>

</ul> 
</li>
<li><a href="#">Employees</a>
<ul class="submenu">

<li><a href="'.$html->url(array('controller'=>'undpusers','action'=>'addUser')).'">New</a></li>
<li><a href="'.$html->url(array('controller'=>'undpusers','action'=>'view','active')).'">Edit </a></li>
<li><a href="'.$html->url(array('controller'=>'undpusers','action'=>'view','active')).'">View  </a></li>

</ul> </li>

<li><a href="'.$html->url(array('controller'=>'mails','action'=>'beforeMails')).'">Email Manager</a>
</li>
';
 
if($session->read('Auth.Undpuser.group_id')==1)
{
echo
'<li><a href="#">Admin Operations</a>



<ul class="submenu">
<li>
<a href="#" title="Please Use with caution as it is irreversible">Delete User</a>
<ul class="submenu">
<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforePurge',4,1)).'" title="Please Use with caution as it is irreversible">Consultant</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforePurge',4,2)).'" title="Please Use with caution as it is irreversible">Ngo</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforePurge',4,3)).'" title="Please Use with caution as it is irreversible">Supplier</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforePurge',3)).'" title="Please Use with caution as it is irreversible">Staff</a></li>
<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforePurge',2)).'" title="Please Use with caution as it is irreversible">Manager</a></li>

</ul>



</li>
<li>

 


<a href="#" title="When you want to re-activate the user just edit the user. It is reversible">Suspend User</a>
<ul class="submenu">
<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforeSuspend',4,1)).'" title="When you want to re-activate the user just edit the user. It is reversible">Consultant</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforeSuspend',4,2)).'" title="When you want to re-activate the user just edit the user. It is reversible">Ngo</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforeSuspend',4,3)).'" title="When you want to re-activate the user just edit the user. It is reversible">Supplier</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforeSuspend',3)).'" title="When you want to re-activate the user just edit the user. It is reversible">Staff</a></li>
<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'beforeSuspend',2)).'" title="When you want to re-activate the user just edit the user. It is reversible">Manager</a></li>

 


</ul>



</li>

<li>
<a href="#" title="When you want to re-activate the user just edit the user. It is reversible">View Suspended User</a>
<ul class="submenu">
<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'viewSuspendedUser',4,1)).'" title="When you want to re-activate the user just edit the user. It is reversible">Consultant</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'viewSuspendedUser',4,2)).'" title="When you want to re-activate the user just edit the user. It is reversible">Ngo</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'viewSuspendedUser',4,3)).'" title="When you want to re-activate the user just edit the user. It is reversible">Supplier</a></li>

<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'viewSuspendedUser',3)).'" title="When you want to re-activate the user just edit the user. It is reversible">Staff</a></li>
<li>
<a href="'.$html->url(array('controller'=>'undpusers','action'=>'viewSuspendedUser',2)).'" title="When you want to re-activate the user just edit the user. It is reversible">Manager</a></li>
</ul>
</li>
</ul>

</li>
';

}

echo   '</ul></li>

<li><a href="#">Vacancies</a>

<ul class="submenu">
<li><a href="'.$html->url(array('controller'=>'vacancies','action'=>'index')).'">Create Vacancy</a></li>

<li><a href="'.$html->url(array('controller'=>'vacancies','action'=>'backIndex')).'">Vacancy Manager</a>

</li>
      
<li><a href="'.$html->url(array('controller'=>'applications','action'=>'index','active')).'">Applications </a></li>
 
<li><a href="'.$html->url(array('controller'=>'recruitments','action'=>'index','active')).'">Recruitments </a></li>

</ul>
</li>
 
<li><a href="#">Vendors</a>

<ul class="submenu">
<li><a href="'.$html->url(array('controller'=>'super_users_firsts','action'=>'signUp')).'">Create Vendor</a></li>

<li><a href="'.$html->url(array('controller'=>'vendor_types','action'=>'beforeVendor')).'">Vendors Manager</a></li>

</ul></li>


        

        
<li><a href=#">Performance Evaluation </a>

<ul class="submenu">
<li><a href="'.$html->url(array('controller'=>'consultant_ratings','action'=>'index')).'">Consultants</a></li>
<li><a href="'.$html->url(array('controller'=>'supplier_ratings','action'=>'index')).'">Suppliers</a></li>
<li><a href="'.$html->url(array('controller'=>'ngo_ratings','action'=>'index')).'">NGOs</a></li>
 
</ul></li>
               
<li><a href="'.$html->url(array('controller'=>'reports','action'=>'index')).'">Reports</a>

<ul class="submenu">
<li><a href="'.$html->url(array('controller'=>'reports','action'=>'index')).'">Search Report</a></li>

<li><a href="'.$html->url(array('controller'=>'ratings','action'=>'index')).'">Perfomance Ratings </a></li>
<li><a href="'.$html->url(array('controller'=>'undpusers','action'=>'viewCvs')).'">Uploaded CV</a></li>

</ul>
</li>
<li><a href="'.$html->url(array('controller'=>'mails','action'=>'staffReport')).'">Feedback</a></li>

<li><a href="#">Settings</a>
<ul class="submenu">
<li><a href="'.$html->url(array('controller'=>'undpusers','action'=>'personalDetails/'.$session->read('Auth.Undpuser.id'))).'">Personal Details</a></li>
<li><a href="'.$html->url(array('controller'=>'undpusers','action'=>'changePassword/'.$session->read('Auth.Undpuser.id'))).'">Change Password</a></li>
<li><a href="'.$html->url(array('controller'=>'documentations','action'=>'documentation')).'">How Do I ?</a></li>

</ul>
</li>

         
     
<li class="right"><a href="'.$html->url(array('controller'=>'undpusers','action'=>'logout')).'">Logout</a></li>
 

</ul>
</div>
';
?>-->
 
<div class="navbar">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>        
<div class="nav-collapse">
<a class="brand" href="#">Hi,  #{current_user.firstname}   #{current_user.lastname} </a>
  

<ul class="nav pull-right">            
<li class="divider-vertical"></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
<ul class="dropdown-menu">
<li>    <a href="#{edit_profile_undpuser_url current_user}"> 
<i class="icon-user"></i> Personal Details</a></li>
<li>   
<a href="#{change_password_undpuser_url current_user.id}">
<i class="icon-barcode"></i> Change Password</a></li>
 
<li class="divider"></li>
<li><a href="#{logout_url}"><i class="icon-off"></i> Logout</a></li>
</ul>
</li>
</ul>
</div><!-- /.nav-collapse -->
</div>
</div><!-- /navbar-inner -->
</div>
</div><!--/row--> 