<div class="span12"><div class="sframe"><h5 class="bdbf"><i class="icon-list-alt"></i> Browse System</h5></div>
<div id="tree" class="treeview">
<ul id="treeData" style="display: none;">

<li><a href="#{login_url}">Dashboard</a></li>

<li class="folder"><div class="hitarea expandable-hitarea"></div><span><strong>Setup and Admin</strong></span>
<ul style="display: none;">
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Thematic Area</a></strong></span>
<ul style="display: none;">
<li><a href="#{new_vendor_type_url}">Create New</a></li>
<li> <a href="#{t_view_mgr_vendor_types_url}">View</a></li>
</ul>
</li>
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#x">Employees</a></strong></span>
<ul style="display: none;">
<li><a href="#{create_staff_undpusers_url}">New</a></li>
<li><a href="#{undpusers_url(:type=>'staff')}">Manage Employees</a></li>
<li><a href="#{groups_url}"> Groups</a></li>
</ul>
</li>

<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#x">Departments/Agencies</a></strong></span>
<ul style="display: none;">
<li> <a href="#{new_agency_department_url}">New</a></li>

<li> <a href="#{agency_departments_url}">View</a></li>
</ul>
</li>
<li><a href="#{e_mails_url}">Email</a></li>
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Admin Operations</a></strong></span>
<ul style="display: none;">
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Delete User</a></strong></span>
<ul style="display: none;">
<li><a href="#{undpusers_url(:type=>'consultants')}">Consultant</a></li>
<li><a href="#{undpusers_url(:type=>'ngos')}">NGO</a></li>
<li><a href="#{undpusers_url(:type=>'suppliers')}">Supplier</a></li>
<li><a href="#{undpusers_url(:type=>'vendors')}">Uncategorized Vendor</a></li>

<li><a href="#{undpusers_url(:type=>'staff')}">Staff</a></li>
<li><a href="#{undpusers_url(:type=>'manager')}">Manager</a></li>
      
</ul>
</li>
-#continue pruning from ere
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Suspend User</a></strong></span>
<ul style="display: none;">
<li><a href="#{undpusers_url(:type=>'consultants')}">Consultant</a></li>
<li><a href="#{undpusers_url(:type=>'ngos')}">NGO</a></li>
<li><a href="#{undpusers_url(:type=>'suppliers')}">Supplier</a></li>
<li><a href="#{undpusers_url(:type=>'vendors')}">Uncategorized Vendor</a></li>
<li><a href="#{undpusers_url(:type=>'staff')}">Staff</a></li>
 
<li><a href="#{undpusers_url(:type=>'manager')}">Manager</a></li>
</ul>
</li>
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">View Suspended User</a></strong></span>
<ul style="display: none;">
<li><a href="#{undpusers_url(:type=>'consultants',:suspend=>1)}">Consultant</a></li>
<li><a href="#{undpusers_url(:type=>'ngos',:suspend=>1)}">NGO</a></li>
<li><a href="#{undpusers_url(:type=>'suppliers',:suspend=>1)}">Supplier</a></li>
<li><a href="#{undpusers_url(:type=>'vendors',:suspend=>1)}">Uncategorized Vendor</a></li>
<li><a href="#{undpusers_url(:type=>'staff',:suspend=>1)}">Staff</a></li>
<li><a href="#{undpusers_url(:type=>'manager',:suspend=>1)}">Manager</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong>Vacancies</strong></span>
<ul style="display: none;">
<li><a href="#{new_vacancy_url}">Create Vacancy</a></li>
<li><a href="#{vacancies_url}">Vacancy Manager</a></li>
<li><a href="#{vac_applications_url}">Applications</a></li>
<li><a href="#{recruitments_url}">Recruitments</a></li>
</ul>
</li>

<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong>Vendors</strong></span>
<ul style="display: none;">
<li><a href="#{create_vendor_undpusers_url}">Create Vendors</a></li>
<li><a href="#{vendor_manager_vendor_types_url}">Vendor Managers</a></li>
</ul>
</li>
  
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong>Performance Evaluation</strong></span>
<ul style="display: none;">
<li><a href="#{select_cons_c_ratings_url}">Consultants</a></li>
<li><a href="#{select_sups_s_ratings_url}">Suppliers</a></li>
<li><a href="#{select_ngos_n_ratings_url}">NGO</a></li>
</ul>
</li>

<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong>Reports</strong></span>
<ul style="display: none;">
<li><a href="#{new_report_url}">Search Report</a></li>
<li><a href="#{search_vendor_c_ratings_url}">Performance Ratings</a></li>

</ul>
</li>


<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong>Funds ,Contracts / LTAs</strong></span>
<ul style="display: none;">
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Funding Sources</a></strong></span>
<ul style="display: none;">
<li> <a href="#{new_fund_url}">Add New Fund Source</a></li>
<li> <a href="#{funds_url}">Manage</a> </li>
</ul>
</li>


<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Projects</a></strong></span>
<ul style="display: none;">
<li><a href="#{new_project_url}">Create New</a></li>
<li><a href="#{projects_url}">Manage</a></li>
</ul>

</li>

<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Contracts/LTAs</a></strong></span>
<ul style="display: none;">
<li> <a href="#{select_project_account_un_contracts_url}">Create New</a></li>
<li> <a href="#{un_contracts_url}">Manage</a></li>
</ul>

</li>
</ul>
</li>
<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong> Utilities </strong></span>
<ul style="display: none;">

<li class="expandable folder"><div class="hitarea expandable-hitarea"></div><span><strong>Audit Trail</strong></span>
<ul style="display: none;">
<li><a href="#{logins_url}">Logins</a> </li>
<li><a href="#{audit_trails_url}">System</a></li>
</ul>
</li>
</ul>
</li>

 

<li><a href="#{feedback_url}" target="_blank">Feedback</a></li>  


<!--continue-->
</ul>
</div></div>
