<div class="span12"><div class="sframe"><h5 class="bdbf"><i class="icon-list-alt"></i> Browse System</h5></div>
<div id="sidetree">
<div class="treeheader">&nbsp;</div>
<div id="sidetreecontrol"> <a href="?#" class="btn btn-small btn-info">Collapse All</a> | <a href="?#" class="btn btn-small btn-success">Expand All</a> </div>

<ul class="treeview" id="tree">

<li><span><strong><a href="#{login_url}">Dashboard</a></strong></span></li>

<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Setup and Admin</strong></span>
<ul style="display: none;">
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Thematic Area</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{new_vendor_type_url}">Create New</a></strong></span></li>
<li><span><strong><a href="#{t_view_mgr_vendor_types_url}">View</a></strong></span></li>
</ul>
</li>
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#x">Employees</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{create_staff_undpusers_url}">New</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'staff')}">Manage Employees</a></strong></span></li>
<li><span><strong><a href="#{groups_url}"> Groups</a></strong></span></li>
</ul>
</li>

<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#x">Departments/Agencies</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{new_agency_department_url}">New</a></strong></span></li>

<li><span><strong><a href="#{agency_departments_url}">View</a></strong></span></li>
</ul>
</li>
<li><span><strong><a href="#{e_mails_url}">Email</a></strong></span></li>
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Admin Operations</a></strong></span>
<ul style="display: none;">
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Delete User</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{undpusers_url(:type=>'consultants')}">Consultant</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'ngos')}">NGO</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'suppliers')}">Supplier</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'vendors')}">Uncategorized Vendor</a></strong></span></li>

<li><span><strong><a href="#{undpusers_url(:type=>'staff')}">Staff</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'manager')}">Manager</a></strong></span></li>
      
</ul>
</li>
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Suspend User</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{undpusers_url(:type=>'consultants')}">Consultant</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'ngos')}">NGO</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'suppliers')}">Supplier</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'vendors')}">Uncategorized Vendor</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'staff')}">Staff</a></strong></span></li>
 
<li><span><strong><a href="#{undpusers_url(:type=>'manager')}">Manager</a></strong></span></li>
</ul>
</li>
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">View Suspended User</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{undpusers_url(:type=>'consultants',:suspend=>1)}">Consultant</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'ngos',:suspend=>1)}">NGO</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'suppliers',:suspend=>1)}">Supplier</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'vendors',:suspend=>1)}">Uncategorized Vendor</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'staff',:suspend=>1)}">Staff</a></strong></span></li>
<li><span><strong><a href="#{undpusers_url(:type=>'manager',:suspend=>1)}">Manager</a></strong></span></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Vacancies</strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{new_vacancy_url}">Create Vacancy</a></strong></span></li>
<li><span><strong><a href="#{vacancies_url}">Vacancy Manager</a></strong></span></li>
<li><span><strong><a href="#{vac_applications_url}">Applications</a></strong></span></li>
<li><span><strong><a href="#{recruitments_url}">Recruitments</a></strong></span></li>
</ul>
</li>

<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Vendors</strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{create_vendor_undpusers_url}">Create Vendors</a></strong></span></li>
<li><span><strong><a href="#{vendor_manager_vendor_types_url}">Vendor Managers</a></strong></span></li>
</ul>
</li>
  
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Performance Evaluation</strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{select_cons_c_ratings_url}">Consultants</a></strong></span></li>
<li><span><strong><a href="#{select_sups_s_ratings_url}">Suppliers</a></strong></span></li>
<li><span><strong><a href="#{select_ngos_n_ratings_url}">NGO</a></strong></span></li>
</ul>
</li>

<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Reports</strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{new_report_url}">Search Report</a></strong></span></li>
<li><span><strong><a href="#{search_vendor_c_ratings_url}">Performance Ratings</a></strong></span></li>

</ul>
</li>


<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Funds ,Contracts / LTAs</strong></span>
<ul style="display: none;">
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Funding Sources</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{new_fund_url}">Add New Fund Source</a></strong></span></li>
<li><span><strong><a href="#{funds_url}">Manage</a></strong></span></li>
</ul>
</li>


<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Projects</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{new_project_url}">Create New</a></strong></span></li>
<li><span><strong><a href="#{projects_url}">Manage</a></strong></span></li>
</ul>

</li>

<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong><a href="#">Contracts/LTAs</a></strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{select_project_account_un_contracts_url}">Create New</a></strong></span></li>
<li><span><strong><a href="#{un_contracts_url}">Manage</a></strong></span></li>
</ul>

</li>
</ul>
</li>
<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong> Utilities </strong></span>
<ul style="display: none;">

<li class="expandable"><div class="hitarea expandable-hitarea"></div><span><strong>Audit Trail</strong></span>
<ul style="display: none;">
<li><span><strong><a href="#{logins_url}">Logins</a></strong></span></li>
<li><span><strong><a href="#{audit_trails_url}">System</a></strong></span></li>
</ul>
</ul>
</li>
</ul>
</li>

</ul>
</li>
<li><span><strong><a href="#{feedback_url}" target="_blank">Feedback</a></strong></span></li>  


<!--continue-->
</ul>
</div></div>
= javascript_include_tag "jquery.cookie.js"
= javascript_include_tag "jquery.treeview.js"

<script type="text/javascript">
//   jQuery.noConflict();
$(function() {
$("#tree").treeview({
collapsed: true,
animated: "medium",
control:"#sidetreecontrol",
prerendered: true,
persist: "location"
});
})    ;
</script>