<div class="sframe bld" >Quick Links</div>
<ul class="nav nav-list" style="height:180px;">  
                    
<li class="active padh">  <a href="#{root_path}"><i class="icon-white icon-home"></i> Home</a></li>
<li class="padh">
- if signed_in? 
  <a href="#{logout_path}"><i class="icon-user"></i> Logout</a>
-else
  <a href="#{login_path}"><i class="icon-user"></i> Login</a>

<li class="padh"><a href="#{signup_path}"><i class="icon-plus"></i> Sign Up</a></li>
<li class="padh">
<a href="#{view_vacancies_url}"><i class="icon-briefcase"></i> Vacancies</a></li>
<!--<li class="padh">
<a href="#"><i class="icon-search"></i> Search Vacancies</a></li>-->
<li class="padh">
<a href="#{faq_path}"><i class="icon-comment"></i> FAQ</a></li>

</ul>
 
