<div class="navbar">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>        
<div class="nav-collapse">
<ul class="nav">
<li class="active"><a href="#{shome_url}"><i class="icon-white icon-th"></i> Dashboard</a></li>
<li><a href="#{view_vacancies_url}">UNDP Vacancies</a></li>           
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplier Information <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#{new_supplier_url :id=>identify_vendor}"><i class="icon-th-list"></i> Supplier Details</a></li>
<li><a href="#{new_supplier_url :id=>identify_vendor}"><i class="icon-pencil"></i> Edit Supplier Details</a></li>
</ul>
</li>
<li><a href="#{supplier_url(identify_vendor)}"> Supplier Report</a></li>
<li><a href="#{feedback_url}" target="_blank">Report a Problem</a></li>
</ul>

<ul class="nav pull-right">
<a class="brand" href="#"> #{current_user.firstname} </a>
<li class="divider-vertical"></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
<ul class="dropdown-menu">
<li>    <a href="#{edit_profile_undpuser_url current_user}"> 
<i class="icon-user"></i> Personal Details</a></li>
<li>   
<a href="#{change_password_undpuser_url current_user.id}">
<i class="icon-barcode"></i> Change Password</a></li>
 
<li><a href="#{logout_url}"><i class="icon-off"></i> Logout</a></li>
</ul>
</li>
</ul>
</div><!-- /.nav-collapse -->
</div>
</div><!-- /navbar-inner -->
</div>
</div><!--/row-->