<div class="span8"  >
<div class="sbh"><h5 class="bdbf"><i class="icon-pencil"></i> Utilities </h5></div>

<ul class="nav nav-tabs nav-stacked dfx" >
<li class="span5" ><a href="#{undpuser_url(:id=>current_user,:task =>'delete',:type=>params[:type])}" data-method="delete"   title ="Deactivate My Account" class="btn btn-success"><i class="icon-trash"></i> Deactivate My Account</a>   
</li>
 
</ul>

</div><!--/span-->
