<div class="navbar">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a> 

<div class="nav-collapse">
<ul class="nav">
<li class="active"><a href="#{chome_url}"><i class="icon-white icon-th"></i> Dashboard</a></li>
<li><a href="#{view_vacancies_url}">Vacancies</a></li>
<li><a href="
= new_consultant_url #{identify_vendor}
">Personal History Form</a></li>            
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">C.V <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#{consultant_url current_user}"><i class="icon-user"></i> Basic info</a></li>
<li>
= link_to '<i class="icon-book"></i> Education'.html_safe , c_education_path(identify_vendor)
</li>
<li><a href="
= c_employment_record_path(identify_vendor)
"><i class="icon-briefcase"></i> Employment</a></li>
<li><a href="
= c_misc_path identify_vendor
"><i class="icon-list"></i> Miscellaneous</a></li>
<li><a href="
= c_reference_path identify_vendor
"><i class="icon-hand-right"></i> Reference</a></li>
<li><a href="
= c_upload_path identify_vendor
"><i class="icon-hand-right"></i> Uploads</a></li>

<li><a href="
= c_certification_path identify_vendor
"><i class="icon-certificate"></i> Certification</a></li>
</ul>
</li>

<li><a href="#{feedback_url}" target="_blank">Report a Problem</a></li>
</ul>

<ul class="nav pull-right">
<a class="brand" href="#">Hi,#{current_user.firstname}  #{current_user.lastname}</a>
<li class="divider-vertical"></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
<ul class="dropdown-menu">
<li>    <a href="#{edit_profile_undpuser_url current_user}"> 
<i class="icon-user"></i> Personal Details</a></li>
<li>   

<a href="#{change_password_undpuser_url current_user}">
<i class="icon-barcode"></i> Change Password</a></li>

<li><a href="#{logout_url}"><i class="icon-off"></i> Logout</a></li>
</ul>
</li>
</ul>
</div>
</div><!-- /navbar-inner -->
</div> </div><!--/row-->