- if signed_in? && current_user.group_id != 4
  <div class="pull-right" style="margin-top:-4px;">

  <div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  Browse
  <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <li>  <a href="#{@back}"> <i class="icon-step-backward"></i>Previous Page</a>
  </li>
  
  <li>  <a href="#{new_vacancy_url}"  > <i class="icon-map-marker"></i>New Vacancy</a>
  </li>
  
  
  <li  > <a href="#{vac_applications_url}" title="View  Applications/ Applicants"><i class="icon-list"></i>Applications</a></li>
  
  <!--<li > <a href="#" title="Preferential Restriction"> <i class="icon-ban-circle"></i>Defer Vacancy</a></li>-->
  <!--<li > <a href="#" title="Blast Vacancy Notification"><i class="icon-envelope"></i>Send Notification</a></li>-->
  
  </ul>
  </div></div>
