= form_for @sfinancial do |f|
  - if !@sfinancial.id.nil?
    = f.hidden_field "supplier_id" 
  - else
    = hidden_field_tag "s_financial[supplier_id]" , @ngo.id 
  
   
  
  <div class="sbh bld"> Annual Value Of Total Income For The Last 3 Years</div>
  <label>1. Year</label>  
  = f.text_field :year1_ti ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year1_ti_amount , :class => 'span6'
  <label>2. Year</label>
  = f.text_field :year2_ti ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year2_ti_amount , :class => 'span6'
  
   
  <label>3. Year</label>
  = f.text_field :year3_ti ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year3_ti_amount , :class => 'span6'
 
  <div class="sbh bld"> Annual Value Of Export Sales For The Last 3 Years</div>
  <label>1. Year</label>  
  = f.text_field :year1_es ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year1_es_value , :class => 'span6'
  <label>2. Year</label>
  = f.text_field :year2_es ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year2_es_value , :class => 'span6'
  
   
  <label>3. Year</label>
  = f.text_field :year3_es ,:class=> 'datepicker span6', :minYear=>1900, :maxYear =>Time.now.year
  <label>US$ Million</label>
  
  = f.text_field :year3_es_value , :class => 'span6'
 
  
  
  <div class="sbh bld">Bank Information</div>
  <label>Bank Name</label>
  - if @ngo.s_bank_info.nil?
    = text_field_tag "s_bank_info[bank_name]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "s_bank_info[bank_name]" ,@ngo.s_bank_info.bank_name,:class=> 'span6'
  
 
  <label>Address</label>
  - if @ngo.s_bank_info.nil?
    = text_field_tag "s_bank_info[bank_address]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "s_bank_info[bank_address]" ,@ngo.s_bank_info.bank_address,:class=> 'span6'
  <label>Swift/Bic Address</label>
  - if @ngo.s_bank_info.nil?
    = text_field_tag "s_bank_info[bank_swift_code]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "s_bank_info[bank_swift_code]" ,@ngo.s_bank_info.bank_swift_code,:class=> 'span6'
  <label>Bank Account Number</label>
  - if @ngo.s_bank_info.nil?
    = text_field_tag "s_bank_info[bank_account_number]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "s_bank_info[bank_account_number]" ,@ngo.s_bank_info.bank_account_number,:class=> 'span6'
  
  <label>Bank Account Name</label>
  - if @ngo.s_bank_info.nil?
    = text_field_tag "s_bank_info[bank_account_name]", nil ,:class =>'span6' 
  - else 
    = text_field_tag "s_bank_info[bank_account_name]" ,@ngo.s_bank_info.bank_account_name,:class=> 'span6'
  - if @ngo.s_bank_info.nil?
    = hidden_field_tag "s_bank_info[supplier_id]", @ngo.id ,:class =>'span6' 
  - else 
    = hidden_field_tag "s_bank_info[supplier_id]" ,@ngo.s_bank_info.supplier_id,:class=> 'span6'
  
  <div class="nosredna">&nbsp;</div>
  <input type="submit" id="" class="btn-primary btn" value="Save Financial Information" />
 