= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    
    %th Alias  
     
     
    %th Actions
  - @funds.each do |e|
    %tr
      
       
      %td= e.alias
      
       
            
      

%p
  
= render "shared/paginate"
%div{:class=>"nosredna"}
 
</div>
= render "shared/navtree"
