%tr{:class=>'extraFam'}
  %td= text_field_tag "c_family_in_undp[][name]" ,nil 
  %td= text_field_tag "c_family_in_undp[][relationship]" ,nil 
  %td= text_field_tag "c_family_in_undp[]name_of_unit]" ,nil 
  %td
    = text_field_tag "c_family_in_undp[]duty_station]" ,nil 
    = hidden_field_tag "c_family_in_undp[]consultant_id]" ,session[:cid]