%table{:class => 'fnrd datatable',:id => "addFamily"}
                  
  %tr 
    %td Name  
    %td Relationship 
    %td Name of Organization
    %td Duty Station
    %td Action
  = form_for @consultant do    |f|
    %tr
      %td= f.text_field "name"  
      %td= f.text_field "relationship"  
      %td= f.text_field "name_of_unit"  
      %td
        = f.text_field "duty_station" 
        = f.hidden_field "consultant_id"
      %td <input type="submit" class="btn btn-primary" value="update" />
     
    