.extraUNC
  <div class="nosredna">&nbsp;</div>
  <div class="sbh">UNDP Certification Programmes Block</div>
  <div class="span3" style="margin-left:0;">
  <label>Name of Institution</label>
  = text_field_tag "cundp_certificate[][institution]" , nil ,:class=>'span12'
  
  <label>Qualification</label>
  - options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
  = text_field_tag "cundp_certificate[][qualification]" ,nil ,:class=>'span12'
  
  <label>To (Month)</label>
  = date_select("cundp_certificate[][attended_to]","" ,{ :discard_day=>true ,:include_blank =>true,:start_year=>Time.now.year - 50,:end_year=>Time.now.year-1 ,:order=>[:month,:year]},{:class=>'span3',:style=>'float:left;margin-left:2px;width:90px;'})
  </div>
  <div class="span3">
  <label>Place</label>
  = text_field_tag "cundp_certificate[][place]" , nil ,:class=>'span12'
  
  <label>Course of Study</label>
  = text_field_tag "cundp_certificate[][course_of_study]" , nil ,:class=>'span12'
   
  <label> In Person or Online/Remote</label>
  - options = [["",""],["In Person","In Person"],["Online","Online/Remote"] ]
  = select_tag "cundp_certificate[][study_type]" , options_for_select(options) ,:class=>'span12'
  </div>
  <!--/span-->
  <div class="span3">
  <label>Country</label>
  = text_field_tag "cundp_certificate[][country]" , nil ,:class=>'span12'
  
  <label>From (Month)</label>
  = date_select("cundp_certificate[][attended_from]","" ,{ :discard_day=>true ,:include_blank =>true,:start_year=>Time.now.year - 50,:end_year=>Time.now.year-1 ,:order=>[:month,:year]},{:class=>'span3',:style=>'float:left;margin-left:2px;width:90px;'})
  = hidden_field_tag "cundp_certificate[][consultant_id]",session[:cid]
  </div><!--/span-->