<div class="row-fluid">
<div class="nosredna">&nbsp;</div>
<div class="sbh">Post Qualification/Training Course</div>

<div class="nosredna">&nbsp;</div>
<div class="span3" style="margin-left:0;">
<label>Name of Institution</label>
= text_field_tag "c_post_qualification[][institution]" , nil ,:class=>'span12'

<label>Qualification</label>
- options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
= text_field_tag "c_post_qualification[][qualification]" ,nil ,:class=>'span12'

<label>To (Month)</label>
= date_select("c_post_qualification[][attended_to]","" ,{ :discard_day=>true ,:include_blank =>true,:start_year=>Time.now.year - 50,:end_year=>Time.now.year-1 ,:order=>[:month,:year]},{:class=>'span3',:style=>'float:left;margin-left:2px;width:90px;'})
</div>
<div class="span3">
<label>Place</label>
= text_field_tag "c_post_qualification[][place]" , nil ,:class=>'span12'

<label>Course of Study</label>
= text_field_tag "c_post_qualification[][course_of_study]" , nil ,:class=>'span12'
 
<label> In Person or Online/Remote</label>
- options = [["",""],["In Person","In Person"],["Online","Online/Remote"] ]
= select_tag "c_post_qualification[][study_type]" , options_for_select(options) ,:class=>'span12'
</div>
<!--/span-->
<div class="span3">
<label>Country</label>
= text_field_tag "c_post_qualification[][country]" , nil ,:class=>'span12'

<label>From (Month)</label>
= date_select("c_post_qualification[][attended_from]","" ,{ :discard_day=>true ,:include_blank =>true,:start_year=>Time.now.year - 50,:end_year=>Time.now.year-1 ,:order=>[:month,:year]},{:class=>'span3',:style=>'float:left;margin-left:2px;width:90px;'})
= hidden_field_tag "c_post_qualification[][consultant_id]",session[:cid]
</div><!--/span-->
</div><!--/span-->
<div class="nosredna">&nbsp;</div>
<div id="AddedPQs"></div>