%table{:class => 'fnrd datatable',:id => "addDependents"}
  %caption <h5>If Yes, Enter</h5>                  
  %tr 
    %td Name  
    %td Date of Birth  
    %td Relationship  
  %tr
    %td= text_field_tag "c_de_pendent[][name]" ,nil 
    %td= text_field_tag "c_de_pendent[][dob]" ,nil , :class=>"datepicker" 
    %td
      = text_field_tag "c_de_pendent[]relationship]" ,nil 
      = hidden_field_tag "c_de_pendent[]consultant_id]" ,session[:cid]
   
<div class="nosredna">&nbsp;</div>
<div class="pull-right">
= link_to '<i class="icon-white icon-plus-sign"></i> Add dependents'.html_safe, add_c_de_pendents_url(:format=>:js) ,:remote=>true ,:class=>"btn btn-success" 
= link_to '<i class="icon-white icon-minus-sign"></i> Remove dependents'.html_safe, remove_c_de_pendents_url(:format=>:js) ,:remote=>true ,:class=>"btn btn-danger" 
</div>
<div class="nosredna">&nbsp;</div>