%tr{:class=>"extraDep"}
  %td= text_field_tag "c_de_pendent[][name]" ,nil 
  %td= text_field_tag "c_de_pendent[][dob]" ,nil , :class=>"datepicker" 
  %td
    = text_field_tag "c_de_pendent[]relationship]" ,nil 
    = hidden_field_tag "c_de_pendent[]consultant_id]" ,session[:cid]