%table{:class => 'fnrd datatable',:id => "addDependents"}
                  
  %tr 
    %td Name  
    %td Date of Birth  
    %td Relationship 
    %td
  = form_for @consultant do |f| 
    %tr
      %td= f.text_field :name 
      %td= f.text_field :dob , :class=>"datepicker" 
      %td
        = f.text_field :relationship 
        = f.hidden_field :consultant_id
      %td <input type="submit" value="update" class="btn btn-primary" />
     

<div class="nosredna">&nbsp;</div>