 


<div class="span8 sframe" style="margin:0;">





<div class="tabbable" style="margin-bottom: 18px;">
<ul class="nav nav-tabs">  
<li class="active"><a href="#tab1">Access Control Manager  </a></li>



</ul>

<!-- tab "panes" -->

<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
<div class="tab-pane active" id="tab1">
<div class="sframe">



<!--<span><a id="selectAllRadios" href="#">Allow All</a> &nbsp; | &nbsp;<a id="deSelectAllRadios" href="#">Deny All</a></span>
<table>
<tr> 
<th style="padding:0;" class="module" colspan="2">Permissions manager for  <a><b><?php //echo $this->data['Undpuser']['username']?></b></a></th>
</tr> -->

= form_for :aco_aro , :url => aco_aro_url , :method=>:put do |f|

  <table  class=" table datatable">
  <thead><tr>
  
  <th class="module" colspan="2" >System Access  Permissions for  &nbsp;
  - if @user.undpuser_id.nil?
    <i style="color:#c32700;font-size:1.2em;">#{pluralize("",@user.alias.capitalize)}</i></th>
  - else
     
    <i style="color:#c32700;font-size:1.2em;">#{@user.alias}</i> :: #{Group.find(@user.group_id).name}s</th>
   
   
  
  </tr></thead>
  <tbody>
  
  - @modules.each do |s|
    <tr class="even" > <td class="module btn-success" colspan="3">#{s.name}</td></tr>
    
    - Aco.select("*").where("sys_module_id = ?",s.id).each do |c|
      - @ac_ar = AcoAro.get_aco_aro(params[:aro_id].to_i,c.id)
      - session[:c] = nil
      - session[:ac_ar] =  @ac_ar
      <tr>
      <td class="permission" >#{c.alias}</td>
      <td class="option" >
      = hidden_field_tag "aco_aro[id][#{c.id}]" , @ac_ar.id
     
     
      - if @ac_ar.allow == "Yes"
        Allow
        = radio_button_tag "aco_aro[aco_id][#{c.id}]", "Yes" ,:checked=>"checked"
        
        Deny
        = radio_button_tag "aco_aro[aco_id][#{c.id}]", "No"  
      - elsif @ac_ar.allow == "No"
        Allow
        = radio_button_tag "aco_aro[aco_id][#{c.id}]", "Yes" 
        
        Deny
        = radio_button_tag "aco_aro[aco_id][#{c.id}]", "No"  ,:checked=>"checked"
        
      </tr>
        
     
    
     
    
     
    
    
       
      
        
     
    
   
  
 
   
  = hidden_field_tag "aco_aro[group_id]" ,@user.group_id
  = hidden_field_tag "aco_aro[undpuser_id]" ,@user.undpuser_id
  = hidden_field_tag "aco_aro[alias]" ,@user.alias
  = hidden_field_tag "aco_aro[aro_id]" ,@user.id
 
 
   
   
  <tr class="clear"></tr>
  <tr  > <td  >&nbsp;</td> <td   ><input type="submit" class="btn btn-primary" value="Save Changes"/> 
   
  </td></tr>
  
  </tbody>
  <tfoot></tfoot>
  
  </table>






</div></div> </div></div></div>





= render "shared/navtree"

<script type="text/javascript">
$(document).ready(function(){


//$('input[type=radio]').attr('checked','Yes');
});
</script>
