= form_tag c_educations_url , :remote => true  do 
      
     
  <div class="alert alert-block">Give Full Details - NB (*Give Exact Titles Of Degrees In Original Language*)
  %p Degrees claimed in the job application(even if they are not a requirement for the post) must be completed at the time of the application.
  %p Use the <code>Add</code> buttons to add Extra Blocks.
  </div>
  <div class="alert alert-info">List all institutions attended since age 14 and diplomas/degrees or equivalent qualifications obtained (highest education first). 
  Give the exact name of institution and the title of degrees, diplomas, etc. (Please do not translate or equate to other degrees).</div>
  
  
  <div class="row-fluid">
  <div class="sbh">Institution</div>
  <div class="span3" style="margin-left:0;">
  <label>Name of Institution</label>
  = text_field_tag "c_educations[][institution]" , nil ,:class=>'span12'
  
  <label>Qualification</label>
  - options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
  = select_tag "c_educations[][qualification]" , options_for_select(options) ,:class=>'span12'
  
  <label>To (Month)</label>
  = date_select("c_educations[][attended_to]","" ,{ :discard_day=>true ,:include_blank =>true,:start_year=>Time.now.year - 50,:end_year=>Time.now.year-1 ,:order=>[:month,:year]},{:class=>'span3',:style=>'float:left;margin-left:2px;width:90px;'})
  </div>
  <div class="span3">
  <label>Place</label>
  = text_field_tag "c_educations[][place]" , nil ,:class=>'span12'
  
  <label>Course of Study</label>
  = text_field_tag "c_educations[][course_of_study]" , nil ,:class=>'span12'
   
  <label> In Person or Online/Remote</label>
  - options = [["",""],["In Person","In Person"],["Online","Online/Remote"] ]
  = select_tag "c_educations[][study_type]" , options_for_select(options) ,:class=>'span12'
  </div>
  <!--/span-->
  <div class="span3">
  <label>Country</label>
  = text_field_tag "c_educations[][country]" , nil ,:class=>'span12'
  
  <label>From (Month)</label>
  = date_select("c_educations[][attended_from]","" ,{ :discard_day=>true ,:include_blank =>true,:start_year=>Time.now.year - 50,:end_year=>Time.now.year-1 ,:order=>[:month,:year]},{:class=>'span3',:style=>'float:left;margin-left:2px;width:90px;'})
  = hidden_field_tag "c_educations[][consultant_id]",session[:cid]
  </div><!--/span-->
  
  <div id="addInstitutions"> </div>
  %p
  <div class="nosredna">&nbsp;</div>
  
   
  <div class="pull-right">
  = link_to '<i class="icon-white icon-plus-sign"></i> Add Institute'.html_safe ,add_c_educations_url(:format=>:js), :remote => true,  :class=>"btn btn-success"
  = link_to '<i class="icon-white icon-minus-sign"></i> Remove Institute'.html_safe ,remove_c_educations_url(:format=>:js), :remote => true,  :class=>"btn btn-danger"
  <div class="nosredna">&nbsp;</div>
  
  </div><!--/row-->
  = render 'c_post_qualifications/new'
  
  <div class="pull-right">
  
  = link_to '<i class="icon-white icon-plus-sign"></i> Add Course'.html_safe ,add_c_post_qualifications_url(:format=>:js), :remote => true,  :class=>"btn btn-success"
  = link_to '<i class="icon-white icon-minus-sign"></i> Remove Course'.html_safe ,remove_c_post_qualifications_url(:format=>:js), :remote => true,  :class=>"btn btn-danger"
  <div class="nosredna">&nbsp;</div></div>
  
  = render 'cun_languages/new'
  
  <div class="pull-right">
  
  = link_to '<i class="icon-white icon-plus-sign"></i> Add UN Language'.html_safe ,add_cun_languages_url(:format=>:js), :remote => true,  :class=>"btn btn-success"
  = link_to '<i class="icon-white icon-minus-sign"></i> Remove UN Language'.html_safe ,remove_cun_languages_url(:format=>:js), :remote => true,  :class=>"btn btn-danger"
  <div class="nosredna">&nbsp;</div></div>
  
  = render 'cundp_certifications/new'
  
  <div class="pull-right">
  
  = link_to '<i class="icon-white icon-plus-sign"></i> Add UNDP Certificate'.html_safe ,add_cundp_certifications_url(:format=>:js), :remote => true,  :class=>"btn btn-success"
  = link_to '<i class="icon-white icon-minus-sign"></i> Remove UNDP Certificate'.html_safe ,remove_cundp_certifications_url(:format=>:js), :remote => true,  :class=>"btn btn-danger"
  <div class="nosredna">&nbsp;</div></div>
  
  = render 'c_pro_societies/new'
  
  <div class="pull-right">
  
  = link_to '<i class="icon-white icon-plus-sign"></i> Add Society '.html_safe ,add_c_pro_societies_url(:format=>:js), :remote => true,  :class=>"btn btn-success"
  = link_to '<i class="icon-white icon-minus-sign"></i> Remove Society'.html_safe ,remove_c_pro_societies_url(:format=>:js), :remote => true,  :class=>"btn btn-danger"
  <div class="nosredna">&nbsp;</div></div>
  
  = render 'c_publications/new'
  
  <div class="pull-right">
  
  = link_to '<i class="icon-white icon-plus-sign"></i> Add Publication '.html_safe ,add_c_publications_url(:format=>:js), :remote => true,  :class=>"btn btn-success"
  = link_to '<i class="icon-white icon-minus-sign"></i> Remove Publication'.html_safe ,remove_c_publications_url(:format=>:js), :remote => true,  :class=>"btn btn-danger"
  <div class="nosredna">&nbsp;</div></div>
  
  
  <div class="nosredna">&nbsp;</div>
  = label_tag " "
  <input class="btn btn-primary" type="submit"  value="Save Education" />
  </div></div></div>  