<div class="row-fluid">
<div class="sbh">Institution</div>
<div class="span3" style="margin-left:0;">
- c = @consultant
= form_for @consultant do |f|
  <label>Name of Institution</label>
  = f.text_field :institution ,:class=>'span12'
  
  <label>Qualification</label>
  - options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
  = f.select :qualification , options_for_select(options,c.qualification) ,:class=>'span12'
  
  <label>To (Month)</label>
  = f.text_field :attended_to ,{:class=>'span12 datepicker'}
  </div>
  <div class="span3">
  <label>Place</label>
  = f.text_field :place ,:class=>'span12'
  
  <label>Course of Study</label>
  = f.text_field :course_of_study ,:class=>'span12'
   
  <label> In Person or Online/Remote</label>
  - options = [["",""],["In Person","In Person"],["Online","Online/Remote"] ]
  = f.select :study_type ,  options_for_select(options,c.study_type) ,:class=>'span12'
  </div>
  <!--/span-->
  <div class="span3">
  <label>Country</label>
  = f.text_field :country  ,:class=>'span12'
  
  <label>From (Month)</label>
  = f.text_field :attended_from ,{:class=>'span12 datepicker'}
  = f.hidden_field :consultant_id 
  <input type="submit" class="btn btn-primary" value ="Update Institution" />
</div><!--/span-->

<script type="text/javascript">
 
$(function() {

$(".datepicker").datepicker({
changeMonth: true,
changeYear: true, dateFormat:'yy-mm-dd',yearRange: "1940:#{DateTime.now.year}"
});   

 

 
 
 

});
</script>