= render "shared/themes/admin_header"
<div class="sframe bld">Educational Qualification #{render "shared/themes/user_title"} 
<div class="pull-right" style="margin-top:-5px;">
<div class="btn-group">
= render 'shared/cons-actions'
</div>
</div>
</div>
<table class="datatable tbsfnt">

<caption style="font-size:11pt;">Institution</caption>
<tr>
<th>Institution </th>
<th>Place </th>
<th>Country </th>
<th>Qualification</th>
<th>Course </th>
<th>From </th>
<th>To </th>
<th>Study Type </th>
<th>Action </th>
</tr>               

- @consultant.c_educations.each do |c|
  %tr


    %td= c.institution
    %td= c.place
    %td= c.country
    %td= c.qualification
    %td= c.course_of_study
    %td= c.attended_from
    %td= c.attended_to
    %td= c.study_type
    %td
      <a href="#{edit_c_education_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
      = link_to '<i class="icon-trash"></i>'.html_safe ,c_education_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.institution}" }}  
     
    

</table>

<table class="datatable tbsfnt">
 
 
<caption style="font-size:11pt;">Post Qualification</caption>
<tr>
<th>Institution </th>
<th>Place </th>
<th>Country </th>
<th>Qualification Type </th>
<th>Certificate Obtained </th>
<th>From </th>
<th>To </th>
<th>Study Type </th>
<th>Action </th>
</tr>
- @consultant.c_post_qualifications.each do |c|
  
  %tr


    %td= c.institution
    %td= c.place
    %td= c.country
    %td= c.qualification
    %td= c.course_of_study
    %td= c.attended_from
    %td= c.attended_to
    %td= c.study_type
    %td
      <a href="#{edit_c_post_qualification_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
      = link_to '<i class="icon-trash"></i>'.html_safe ,c_post_qualification_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.institution}" }}  
     
    
 





</table>
<table class="datatable tbsfnt">
<caption style="font-size:11pt;">UN Languages</caption>
<tr>
<th>Institution </th>
<th>Place </th>
<th>Country </th>
<th>Qualification Type </th>
<th>Certificate Obtained </th>
<th>From </th>
<th>To </th>
<th>Study Type </th>
<th>Action </th>
</tr>
- @consultant.cun_languages.each do |c|  
  %tr


    %td= c.institution
    %td= c.place
    %td= c.country
    %td= c.qualification
    %td= c.course_of_study
    %td= c.attended_from
    %td= c.attended_to
    %td= c.study_type
    %td
      <a href="#{edit_cun_language_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
      = link_to '<i class="icon-trash"></i>'.html_safe ,cun_language_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.institution}" }}  
     
    
 
 
</table>
<table class="datatable tbsfnt">
<caption style="font-size:11pt;">UNDP Certifications</caption>
<tr>
<th>Institution </th>
<th>Place </th>
<th>Country </th>
<th>Qualification Type </th>
<th>Certificate Obtained </th>
<th>From </th>
<th>To </th>
<th>Study Type </th>
<th>Action </th>
</tr>
- @consultant.cundp_certifications.each do |c|  
  %tr


    %td= c.institution
    %td= c.place
    %td= c.country
    %td= c.qualification
    %td= c.course_of_study
    %td= c.attended_from
    %td= c.attended_to
    %td= c.study_type
    %td
      <a href="#{edit_cundp_certification_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
      = link_to '<i class="icon-trash"></i>'.html_safe ,cundp_certification_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.institution}" }}  
     
    
 
 
</table>

<table class="datatable tbsfnt">
 
<caption style="font-size:11pt;">Professional Societies</caption>
<tr>
<th>Name </th>
<th>Details </th>
<th>Action </th>
</tr>
- @consultant.c_pro_societies.each do |c|
  %tr
    %td= c.name
    %td= c.details
    %td
      <a href="#{edit_c_pro_society_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
      = link_to '<i class="icon-trash"></i>'.html_safe ,c_pro_society_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.name}" }}  


</table>

<table class="datatable tbsfnt">
  
<caption style="font-size:11pt;">Publications</caption>
<tr>
<th>Name </th>
<th>Details </th>
<th>Action </th>
</tr>
- @consultant.c_publications.each do |c|
  %tr
    %td= c.name
    %td= c.details
    %td
      <a href="#{edit_c_publication_url c.id,:consultant_id=>c.consultant_id}" title="Edit" class="btn"><i class="icon-pencil"></i></a> |
      = link_to '<i class="icon-trash"></i>'.html_safe ,c_publication_url(:id=>c.id,:consultant_id=>c.consultant_id),{:class=>'btn',:title=>"Delete",:method=>:delete,:data=>{:confirm=> "Are you sure you want to delete #{c.name}" }}  


</table>
<div class="nosredna">&nbsp;</div>
</div>

= render "shared/navtree"
