 <div class="span9">
          <div class="mframe fnplus">
          	<div class="sframe fnplus1 pbtm">Frequently Asked Questions</div>
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#faq1" data-toggle="modal">How do I apply for a vacancy?</a></li>
                <li><a href="#faq2" data-toggle="modal">How do I register?</a></li>
                <li><a href="#faq3" data-toggle="modal">Where would my signup confirmation be?</a></li>
                <li><a href="#faq4" data-toggle="modal"> Why did I not receive a signup confirmation email? </a></li>
                <li><a href="#faq5" data-toggle="modal">What is the Dashboard page?</a></li>
                <li><a href="#faq6" data-toggle="modal">Do I need to register or login to view vacancy?</a></li>
                <li><a href="#faq7" data-toggle="modal">Can I update my User Account after I have registered?</a></li>
            </ul>
<div class="nosredna">&nbsp;</div>
          </div>
          <!--/row-->
          <!--/row-->
        </div><!--/span-->
      </div><!--/row-->
<div id="faq1" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Q.	How do I apply for a vacancy?</h3>
        </div>
        <div class="modal-body">
		In order to apply for a vacancy, you must follow the following instructions
            <ul>
                <li class="tick"><i class="icon-chevron-right"></i> Register,</li>
                <li class="tick"><i class="icon-chevron-right"></i> Complete the Personal History Profile(PHP),</li>
                <li class="tick"><i class="icon-chevron-right"></i> Go to the vacancy list,</li>
                <li class="tick"><i class="icon-chevron-right"></i> Select the vacancy of interest,</li>
                <li class="tick"><i class="icon-chevron-right"></i> Submit your application for the vacancy selected.</li>
            </ul>
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
    <div id="faq2" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Q. How do I register?</h3>
        </div>
        <div class="modal-body">
        	
        <p>Click on "Sign up". You will be asked to enter information, including Email address, Username Firstname and Lastname. A confirmation code would be sent to your email. </p>
        <p>You can then continue the signing up by clicking on the link in the email sent to your email address, you provided. </p>
        <p>You need this information to login in the future and to complete the Personal History Profile (PHP) so that you can apply for a vacancy. if your username is not available, you would be prompted to provide another. </p>
        <p>After you have successfully registered, your User Account will be created and your "Dashboard" page will be displayed.</p>
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
    <div id="faq3" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Q.	Where would my signup confirmation be?</h3>
        </div>
        <div class="modal-body">
        	Your signup confirmation is sent to your email address as entered when you signed up on UNDP VDMS. It is possible that this mail is received in your junk/spam mail. The confirmation mail will provide a link. Double click the link to complete your signup.

        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
    <div id="faq4" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Q.	Why did I not receive a signup confirmation email?</h3>
        </div>
        <div class="modal-body">
        This case is most likely due to a typo-error on your part during signup and in some cases Yahoo based emails experience noticeable delays.
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
    <div id="faq5" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Q.	What is "Dashboard" page?</h3>
        </div>
        <div class="modal-body">
        	This is a panel, where you can select what you want to do, you can navigate the system 
	from here, create reports, vendor, etc. You can also change your password here and view your personal details. You can successfully log out when you're done.
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
    <div id="faq6" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Q.	Do I need to register or login to view vacancy?</h3>
        </div>
        <div class="modal-body">
        	No, view the vacancies by clicking on vacancies menu.
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
    <div id="faq7" class="modal hide fade">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>              
        <h3>Can I update my User Account after I have registered?</h3>
        </div>
        <div class="modal-body">
        	Yes, just login and click on personal information, then you can edit your information.
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
    
</div>