 
          <div class="mframe fnplus">
          	<div class="sframe fnplus1 pbtm">Welcome to the UNDP Nigeria Vendor Database Management System.</div>
            <p class="lnh1">This is a System built to collect and help UNDP Nigeria Vendor (s) Recruitment Process. These include the enlistment of Companies, NGOs and Individuals that wish to do business with UNDP Nigeria.</p>
<p class="lnh1">The information you provide will be used to create a roster of vendors. Take time out to
	 <a href="<%= signup_path %>" title="Click Here to Sign up" class="vtip">Signup</a> if you are a prospective vendor. </p>
<p class="lnh1"><a href="<%= login_path %>" class="vtip" title="Click Here to Login">Login</a>
if you have signed up already and want to access currently available vacancy and openings. Or better still, 
go through our <a href="<%= faq_path %>" title="Go to FAQ" class="vtip">F.A.Q</a> Sections before heading here.</p>
<div class="nosredna">&nbsp;</div>
          </div>
          <!--/row-->
          <!--/row-->
        </div><!--/span-->
      </div><!--/row-->