= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Project Name
    %th Project Account #
    %th Project Account Value
    %th Project Account Balance
    %th financial Period
    %th Operating Unit
    %th Approving Officer
    %th Actions
  - @funds.each do |e|
    %tr
      
      %td= e.name
      %td= e.fund.account_number
      %td= number_to_currency e.fund.available_fund_usd
      - if e.fund.balance < 0
        %td{:class=>"alert-error"}= number_to_currency e.fund.balance
      - else
        %td= number_to_currency e.fund.balance
         
      %td
        = e.fund.financial_year_start 
        \--
        = e.fund.financial_year_end
      %td= e.agency_department.name
      %td= e.fund.approving_officer
      
            
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_project_url(e.id) ,:title =>'Edit' 
        = link_to '<i class="icon-trash"></i>'.html_safe, project_url(e.id) ,:method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 


%p
=link_to 'New Contract/LTA'.html_safe , {:controller=>:un_contracts,:action=>:select_project_account} ,:class=>"pull-right btn-danger btn"

</div>
= render "shared/navtree"
