<div class="span8" style="margin:0;">
<div class="sframe"><div class="sbh"><strong> New Project Form</strong> </div>
<div class="row-fluid">
<table style="width:100%;" cellpadding="5">

= form_for @project do |u|
  %caption{:class=>"dblk bdrb btn btn-success disabled pull-left"} Project Details
  %tr
    %td Project Name:  
    %td= u.text_field :name ,:class=>"span9"
  
  %tr
    %td Project Funding Account
    %td= u.select :fund_id , @accounts.map{|a| ["#{a.account_number}",a.id]} ,:include_blank => true  
  
  
  
   
  %tr
    %td Agency / Department 
    %td
      = u.select :agency_department_id , AgencyDepartment.select("id,name").map{|a| [a.name , a.id]} ,:class=>'span9',:include_blank =>true
  
  %tr
    %td Date
    %td= u.text_field :thedate ,:class=>"span9 griddates"
                       
                                                                            
  %tr
    %td
    %td
      <input type="submit" value="Save Project" class="btn btn-primary" />
      = link_to "Cancel" , un_contracts_url,:class=>"btn btn-danger"
    

 
   
</table>
</div>
</div>
</div>

= render "shared/navtree"


<script>

$(function() {
$('.griddates').datepicker({changeMonth:true, changeYear:true });

});


</script>