.extraPro
  <div class="nosredna">&nbsp;</div>
  <div class="sbh">List Membership of professional societies and activities in civil,public or international affairs</div>

  <div class="nosredna">&nbsp;</div>
  <div class="span3" style="margin-left:0;">
  <label>Name </label>
  = text_field_tag "c_pro_society[][name]" , nil ,:class=>'span12'
  </div>
  <div class="span3">
  <label>Details</label>
  - options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
  = text_area_tag "c_pro_society[][details]" ,nil ,:class=>'span12', :size=>"10x5"
  = hidden_field_tag "c_pro_society[][consultant_id]",session[:cid]
  </div>
   
  <div class="nosredna">&nbsp;</div>