<div class="row-fluid">
<div class="nosredna">&nbsp;</div>
<div class="sbh">List Membership of professional societies and activities in civil,public or international affairs</div>

<div class="nosredna">&nbsp;</div>
<div class="span3" style="margin-left:0;">
= form_for @consultant do |f|
  <label>Name </label>
  = f.text_field "name"  ,:class=>'span12'
  </div>
  <div class="span3">
  <label>Details</label>
  - options = [["",""],["PhD","PhD"],["M.Sc","M.Sc"] ,["B.Sc","B.Sc"],["OND","OND"],["HND","HND"],["O\'Levels","O\'Levels"],["Primary School Certificate"," Primary School"],["Other","Other"]]
  = f.text_area "details" ,:class=>'span12', :size=>"10x5"
  = f.hidden_field "consultant_id"
  </div>
   
  <div class="nosredna">&nbsp;</div>
  <input type="submit" class ="btn btn-primary" value="update" />
 