<div class="sframe">
<div class="row-fluid"><!--/span--><!--/span--><!--/span-->

</div>
<div class="sbh"><h5> Change  Password</h5></div>
<div class="nosredna">&nbsp;</div>  

= form_for :undpuser , :url => change_password_undpuser_url , :method => :put  do |f|

  <label for="newPassword">New Password</label>
  = f.password_field :password
  <label for="newPassVerify">New Password (Verify)</label> 
  = f.password_field :password_confirmation
  <div class="nosredna">&nbsp;</div>
  <button type="submit"   class="btn btn-primary">  Change Password </button>
 

<div class="nosredna">&nbsp;</div>