<div class="xdr">

= form_for @user, {:method=>:put,:url=>signup_change_password_undpusers_url} do |f|
  <label for="username">Username</label>
  <input type="text" class="input" readonly name="undpuser[username]" title="Non Editable!" value="#{@user.username}"/>
  - if !@user.lastname.blank? && @user.vendor_id == "1"
    <label for="firstname">Firstname</label> <input class="input" type="text" title="Non Editable!" readonly name="data[Undpuser][firstname]" value="#{@user.firstname}"/>
    <label for="lastname">Lastname</label> <input class="input" type="text" readonly title="Non Editable!" name="data[Undpuser][lastname]" value="#{@user.lastname}"/>
  - else
    <label for="firstname">Organization </label> <input class="input" type="text" title="Non Editable!" readonly name="data[Undpuser][firstname]" value="#{@user.firstname}"/>
   
     
  <label for="email">Email</label>
  <input type="text" name="undpuser[email]" readonly title="Non Editable!" value="#{@user.email}"/>
  <br/>
  <input type="hidden" value="#{@user.id}" name="undpuser[id]"/>
  <input type="hidden" value="0" name="undpuser[suspend]"/>
  <input type="hidden" value="vendor" name="undpuser[usertype]"/>
  
  <fieldset>
  <legend>Set Your Password</legend>
  <label for="password">Password</label> <input class="input" type="password"  name="undpuser[password]"  />
  <label for="passwordv">Confirm Password  </label>
  <input type="password" name="dundpuser[password_confirmation]" class="input"    />
  <br/>
  
  </fieldset>
   
  <button type="submit" class="btn btn-primary">Finish Signup</button>



  <span style="margin:-268px 0px 0 400px; float: left;" >
  <input type="hidden" value="4" name="data[Undpuser][group_id]"/>
  <input type="hidden" value="1" name="data[Undpuser][added_by]"/>
  </span>

                 
       

</div>