<div class="mframe span8 fnplus" style="margin-left:0;">
<div class="sframe fnplus1 pbtm"> Create / Edit Vendor </div>           
 


= form_for @user do |f|

  
   
  - if params[:undpuser].nil?
    <label>Username</label>
    <input type="text" class="input span6" placeholder="Enter a Username..." name="undpuser[username]"  />
    - #<?php  echo $form->error('Undpuser.username',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else
    - #<input type="text" class="input span6" placeholder="Enter a Username..." name="undpuser[username]" value="#{params[:undpuser][:username]}"  />
      
  <label>First Name or Organization Name</label>
  - if params[:undpuser].nil?
    <input type="text" class="input span6" name="undpuser[firstname]"  placeholder="Enter your First Name or Organization Name...">
    - #<?php  echo $form->error('Undpuser.firstname',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else 
    <input type="text" class="input span6" name="undpuser[firstname]" value="#{params[:undpuser][:firstname]}"  placeholder="Enter your First Name or Organization Name...">
  
  <label>Last Name</label>
  
  - if params[:undpuser].nil?
    <input type="text" class="input span6" placeholder="Enter your Last Name..." name="undpuser[lastname]" value="" /> 
    - #<?php  echo $form->error('Undpuser.lastname',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else
    <input type="text" class="input span6" placeholder="Enter your Last Name..." name="undpuser[lastname]" value="#{params[:undpuser][:lastname]}" /> 
     
  <label>Email</label>
  - if params[:undpuser].nil?
    <input type="text" class="inpu span6" placeholder="Enter your Email..."  name="undpuser[email]" value=""/>
    - #<?php  echo $form->error('Undpuser.email',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else
    <input type="text" class="inpu span6" placeholder="Enter your Email..."  name="undpuser[email]" value="#{params[:undpuser][:email]}"/>
  
  <label> Select Vendor Category </label>
  
  - @vendors = Array.new
  - @vendor.each { |key|  @vendors << [key.name ,key.id ] }
  - if params[:undpuser][:vendor_id].nil?
    = f.select(:vendor_id , options_for_select(@vendors) ,{:include_blank=>true})
  - else
    = f.select(:vendor_id , options_for_select(@vendors,"#{params[:undpuser][:vendor_id]}"))
    
  <label>Vendor Programme Area</label>
  
  - if params[:undpuser][:vpa_id].nil?
    <select name="undpuser[vpa_id]" id="undpuser_vpa_id" class="span4" disabled  >
    <option value=""> Select Vendor Programme</option>
    </select>
  - else
    <input type="hidden" value = "#{params[:undpuser][:vpa_id]}" name="undpuser[vpa_id]"/>
  
  - if params[:undpuser][:vss_id].nil?
    <label>Vendor Programme Specialization</label>
    <select class="span4" name="undpuser[vss_id]" class="span4" id="undpuser_vss_id" disabled>
    <option value=""> Please Select Vendor Programme Specialization</option>  
    </select>
  - else
    <input type="hidden" value = "#{params[:undpuser][:vss_id]}" name="undpuser[vss_id]"/>
  - if @remove_password_fields == 0  
    - pass= generate_password
    <input type="hidden" value="#{pass}" name="undpuser[password]"/>
    <input type="hidden" value="#{pass}" name="undpuser[password_confirmation]"/>
    <input type="hidden" value="#{pass}" name="undpuser[pass_to_send]"/>
   
    <input type="hidden" value="0" name="undpuser[suspend]"/>
    <input type="hidden" value="vendor" name="undpuser[usertype]"/>
    <input type="hidden" value="4" name="undpuser[group_id]"/> 
  - else
    = f.hidden_field :id 
    
  <input type="hidden" value="#{current_user.id}" name="undpuser[added_by]"/>
   
  <button type="submit" class="btn btn-primary">Save</button>

<div class="nosredna">&nbsp;</div>
</div>
<!--/row-->
<!--/row-->

= render 'shared/navtree'

%script{:type=>"text/javascript"}
  $('#undpuser_vendor_id').change(function(){
   
  
  vid = $('#undpuser_vendor_id').val();
  if(vid == '')
  {
  alert("Vendor Type Category Cannot be empty");
  } 
  else{
     
  
  $.get("/vpas/listed/"+vid ,function(data){
  eval(data);
  $("#undpuser_vpa_id").removeAttr("disabled");
  $("#undpuser_vpa_id").html('');
  if(data.length > 0) {
  addOptions(data,'undpuser_vpa_id');}
  },"json");
  
  }});
  
  // to get special area
  $('#undpuser_vpa_id').change(function(){
   
  
  vid = $('#undpuser_vendor_id').val();
  vpa_id = $('#undpuser_vpa_id').val();
  
  
  if(vid == '')
  {
  alert("Vendor Type Category Cannot be empty");
  }
   
  if(vpa_id == '')
  {
  alert("Programme Area Cannot be empty");
  }
   
  else{
  $.get("/vsses/listed"+'/'+vid + "/"+vpa_id,
  function(data){
  eval(data);
  $("#undpuser_vss_id").removeAttr("disabled");
  $("#undpuser_vss_id").html('');
  if(data.length > 0) {
  addOptions(data,'undpuser_vss_id');}
  },"json") ;
  }});
  
