- if current_user.group_id != 4
  %div{:class=>"span9" ,:style=>"margin: 0;"}
    <div class="sframe">
    <div class="row-fluid">
    - if !@user.nil?
      <h4 class ="alert alert-danger">Remove #{@user.firstname}  #{@user.lastname}  ?</h4>
      <p style="font:20px bold;">
      Just so we are clear! you are initiating an irreversible request.
      This user will be completely deleted/delisted from the system.
      </p>
      %p
        = link_to "Yes, Proceed and delete ?" , undpuser_url(:id=>@user.id,:delete=>1,:type=>@type)  ,:data=> {:method=>:delete},:class=>'btn btn-danger'
        = link_to "Alright then, never mind ?" , request.env["HTTP_REFERER"],:class=>'btn btn-success'
    
    </div>
    
    </div>
    %div{:class=>"clear"}
- else 
  <div class="sframe">
  <div class="row-fluid">
  - if !@user.nil?
    <h4 class ="alert alert-danger">Remove #{@user.firstname}  #{@user.lastname}  ?</h4>
    <p style="font:20px bold;">
    Just so we are clear! you are initiating an irreversible request.
    Your account will be completely <i class="danger">Deleted</i> from the system.
    </p>
    %p
      = link_to "Yes, Proceed and delete ?" , undpuser_url(:id=>@user.id,:delete=>1,:type=>@type)  ,:data=> {:method=>:delete},:class=>'btn btn-danger'
      = link_to "Alright then, never mind ?" , request.env["HTTP_REFERER"],:class=>'btn btn-success'
    
  
  </div>
  %div{:class=>"clear"}
   