<div class="sframe">

<?php echo $html->link(__('List Staffs', true), array('action' => 'view','all'),array('class'=>'btn btn-primary'));?>



<div class="sbh"><a href="#">Edit Employee  </a></div>


<div class="nosredna"></div>


<div class="row-fluid">
<?php
echo $form->create('Undpuser',array('action'=>'edit'));
?>


<label for="username">Username</label> 
<input type="text" name="data[Undpuser][username]" value="<?php if(!empty($this->data['Undpuser']['username'])){ echo $this->data['Undpuser']['username'];} ?>"/>

<?php  echo $form->error('Undpuser.username',null,array('class'=>'error','escape'=>true,'wrap'=>'span'));?>

<label for="firstname">Firstname</label> <input type="text" name="data[Undpuser][firstname]" value="<?php if(!empty($this->data['Undpuser']['firstname'])){ echo $this->data['Undpuser']['firstname'];} ?>"/>
<?php  echo $form->error('Undpuser.firstname',null,array('class'=>'error','escape'=>true,'wrap'=>'span'));?>

<label for="lastname">Lastname</label> <input type="text" name="data[Undpuser][lastname]" value="<?php if(!empty($this->data['Undpuser']['lastname'])){ echo $this->data['Undpuser']['lastname'];} ?>"/>
<?php  echo $form->error('Undpuser.lastname',null,array('class'=>'error','escape'=>true,'wrap'=>'span'));?>

<label for="email">Email</label> <input type="text" name="data[Undpuser][email]" value="<?php if(!empty($this->data['Undpuser']['email'])){ echo $this->data['Undpuser']['email'];} ?>"/>
<?php  echo $form->error('Undpuser.email',null,array('class'=>'error','escape'=>true,'wrap'=>'span'));?>

<input type="hidden" value="<?php echo $session->read('Auth.Undpuser.id');?>" name="data[Undpuser][added_by]"/>
<input type="hidden" value="1234" name="data[Undpuser][password]"/>
<label for="group">Group</label>

<?php
//$options= array('Staff','Administrator','Manager');
$options= array('3'=>'Staff','1'=>'Administrator','2'=>'Manager','5'=>'Renewable Energy');

echo $form->select('group_id',$options);?>

<?php  echo $form->error('Undpuser.group_id',null,array('class'=>'error','escape'=>true,'wrap'=>'span'));?>
<input type="hidden" value="<?php echo $session->read('Auth.Undpuser.id');?>" name="data[Undpuser][added_by]"/>
<?php if($session->read('Auth.Undpuser.group_id')!= '4'):?>

<?php echo $form->hidden('id',array('value'=>$this->data['Undpuser']['id']));?>

<label for="group">Employee Number</label>  <input type="text" name="data[Undpuser][employee_no]" value="<?php if(!empty($this->data['Undpuser']['employee_no'])){ echo $this->data['Undpuser']['employee_no'];} ?>"/>
<?php endif; ?>

 
<label></label>
<input type="submit" value="Save" class="btn btn-primary" name="submit"/> 
<?php
echo $form->end();
?>

</div>


</div>

<!-- single pane. it is always visible -->


<script type="text/javascript">


$(function() {

});
</script>

