<div class="sframe">
<div class="sbh"><h5> Personal Details</h5></div>
<div class="nosredna">&nbsp;</div>  
= form_for @user ,  :method => :put do |f|
  
  = f.hidden_field :group_id , :value=>"#{@user.group_id}"
    
  - if current_user.group_id != 4
    <label for="username">Username</label> 
    = f.text_field :username , :value =>  @user.username , :readonly =>true,:class=>'span6'
     
    <label for="firstname">Firstname</label> 
    = f.text_field :firstname , :value=> @user.firstname , :class=>'span6' 
    <label for="lastname">Lastname</label> 
    = f.text_field :lastname , :value=> @user.lastname , :class=>'span6'
    <label for="email">Email</label> 
    = f.text_field :email , :value=> @user.email , :class=>'span6' 
    = f.hidden_field :added_by , :value=> current_user.id , :class=>'span6'
     
    
    
    - group= {1=>'Administrator',2=>'Managers',3=>'Staffs',4=>'Vendors'}
    %p Group:  #{group[@user.group_id]}
     
    
    
     
    
    <div class="nosredna">&nbsp;</div>
    <input type="submit" value="Save"  class="btn btn-primary" name="submit"/> 
    
  
  
    <div class="nosredna">&nbsp;</div>
     
  - else
 
    <label for="username">Username</label> 
    = f.text_field :username , :value =>  @user.username , :readonly =>true,:class=>'span6'
     
    <label for="firstname">Firstname</label> 
    = f.text_field :firstname , :value=> @user.firstname , :class=>'span6' 
    <label for="lastname">Lastname</label> 
    = f.text_field :lastname , :value=> @user.lastname , :class=>'span6'
    <label for="email">Email</label> 
    = f.text_field :email , :value=> @user.email , :class=>'span6' 
    = f.hidden_field :added_by , :value=> current_user.id , :class=>'span6'
    
    <div class="nosredna">&nbsp;</div>
    <input  type="submit" value="Save" name="submit" class="btn btn-primary"/> 
    
    
  
  
  