%div{:class=>"mframe"}
  <div class="row-fluid">
  <p class="sframe fnplus1 pbtm">Password Recovery Tool</p>
  
  %p{:class=>"alert alert-info"} Enter the Email provided during signup and we would send you a link where you can reset your password!
  
  = form_for :undpuser, :url=>forgot_password_undpusers_url do |f|
    
    - #= f.label :username
    
    -#= f.text_field :username 
    
    = f.label :email 
    = f.text_field :email
    %p 
    <input type="submit" value="Request Password" class="btn-primary" />
    </div>
</div> </div>