<div class="span9" style="margin: 0;">
<div class="sframe">
<div class="row-fluid">
        	 
        	 <div class="span7 sframe" style="width:100%;">
        	 

<% fields = ["","firstname","lastname","username"] %>
<%=  form_for :undpuser ,:method=>:get do %>
  
  <%= select_tag 'field',options_for_select(fields.map{|cc| [cc.capitalize,cc]}),'class'=>'span4' %>
  <input type="text" placeholder =" Enter Search Value" id="searchBox" name="searchString" />
  <br/>
  <button class="btn btn-primary" name="" style="margin-top:-5px;"><i class="icon-white icon-search"></i> Search</button>
<%end %>
</div> 
 </div><br/>
<p style="clear:both;">
<a href="<%= vendor_manager_vendor_types_url %>" class="btn pull-left"><i class="icon-chevron-left" style="margin: 1px;"></i> Return to Vendor Manager</a>  
<%= link_to '<i class="icon-th-list"></i>Export  Vendors'.html_safe,export_to_excel_undpusers_url(:format =>'xls'), :class=>'btn pull-left','style'=>'margin:1px' %>
<%=  link_to '<i class="icon-th-list"></i>Export Consultants'.html_safe,export_to_excel_undpusers_url(:format =>'xls',:type=>'consultants'),'class'=>'btn pull-left','style'=>'margin:1px;'%>
<%=  link_to ' <i class="icon-th-list"></i>Export Suppliers'.html_safe,export_to_excel_undpusers_url(:format =>'xls',:type=>'suppliers'),'class'=>'btn pull-left','style'=>'margin:1px'%>
<%=  link_to('<i class="icon-th-list"></i>Export Ngos'.html_safe,export_to_excel_undpusers_url(:format =>'xls',:type=>'ngos'),'class'=>'btn pull-left','style'=>'margin:1px;') %>
</p>
<br/>
</div>
        	 
		<table class="datatable fnrd">
        <thead>
        	<caption>  &raquo; <%= @title %></caption>
           <thead class= t><tr>
           
            <th> <%= link_to 'Name', undpusers_url(:sort=>"firstname",:type=>params[:type]) %></th>
            <th> <%= link_to 'Type', undpusers_url(:sort=>"usertype",:type=>params[:type]) %></th>
             <th> <%= link_to 'Category', undpusers_url(:sort=>"vendor_id",:type=>params[:type]) %> </th>
             <th> Created </th>
            <th>Action</th>
          </tr></thead>
        </thead>
        <tbody>
        	<% @users.each do |user|%>
          <tr>
            
            <td><%= "#{user.firstname.capitalize unless user.firstname.nil?}  #{user.lastname.capitalize  unless user.lastname.nil?}" %></td>
             <% @groups = groups = {:administrator => 1 , :manager => 2 , :staff => 3 , :vendor =>4} %>
            <% vendors = {:consultants => 1 , :ngos => 2 , :suppliers => 3} %>
            <td><%= user.usertype.capitalize %></td>
            <% if user.group_id == 4%>
            <td><%= vendors.key(user.vendor_id).to_s.singularize.upcase %>
            	
            </td>
            <% else %>
            <td>
            	<%= groups.key(user.group_id).to_s.singularize.upcase %></td>
            
            <% end %>
            
             <td><%= distance_of_time_in_words_to_now user.created_at %> Ago. </td>
            <td>
            	<% if user.group_id != 4%>
            	<a class="btn"  data-toggle="modal" title="view profile" href="#<%= user.id.to_s%>"><i class="icon-list-alt"></i></a>
                <% elsif user.group_id == 4 && user.vendor_id == 1 %>
                <a class="btn"  target="_blank" title="view vendor info"   href="<%= consultant_url(is_vendor?(user.id)) %>"><i class="icon-list-alt"></i></a>
                <% elsif user.group_id == 4 && user.vendor_id == 2 %>
                <a class="btn" target="_blank"  title="view vendor info" href="<%= ngo_url(is_vendor?(user.id)) %>"><i class="icon-list-alt"></i></a>
               <% elsif user.group_id == 4 && user.vendor_id == 3 %>
               <a class="btn"  target="_blank"  href="<%= supplier_url(is_vendor?(user.id)) %>"><i class="icon-list-alt"></i></a>
              <% elsif user.group_id == 4 && user.vendor_id.nil? %>
              <a class="btn"  target="_blank" title="view vendor info"  href="<%= create_vendor_undpusers_url(:undpuser_id=>user.id) %>"><i class="icon-list-alt"></i></a>
              <% end %>
              
              <% if user.group_id == 4%>
              <a class="btn-small btn-info" target="_blank" title="Edit vendor basic"   href="<%= create_vendor_undpusers_url(:undpuser_id=>user.id) %>"><i class="icon-edit"></i></a>
               <% else %>
               <a class="btn" title="edit staff" href="<%= create_staff_undpusers_path(:id =>user.id) %>"><i class="icon-pencil"></i></a>
               
              <% end %>
               
               <% if user.group_id != 4%>
            	<% elsif user.group_id == 4 && user.vendor_id == 1 %>
           
                <a class="btn"  title="Edit Vendor" target="_blank"  href="<%= edit_consultant_url(is_vendor?(user.id)) %>"><i class="icon-pencil"></i></a>
                <% elsif user.group_id == 4 && user.vendor_id == 2 %>
                <a class="btn"  title="Edit Vendor" target="_blank"  href="<%= new_ngo_url(:id=>is_vendor?(user.id)) %>"><i class="icon-pencil"></i></a>
               <% elsif user.group_id == 4 && user.vendor_id == 3 %>
               <a class="btn"  title="Edit Vendor" target="_blank"  href="<%= new_supplier_url(:id =>is_vendor?(user.id)) %>"><i class="icon-pencil"></i></a>
                <% end %>
                
                 
                <%= link_to('<i class="icon-envelope"></i>'.html_safe, new_e_mail_url(:user_id=>user.id),:method=>:post,'class'=>'btn','target'=>'_blank','title'=>'Email ' + user.firstname ) %>
				<%= link_to('<i class="icon-ok-sign"></i>'.html_safe, '#','class'=>'btn','target'=>'_blank','title'=>'Approve ' + user.firstname + " as  vendor") %>
				<% if user.suspend == "0"%>
				<%= link_to('<i class="icon-ban-circle"></i>'.html_safe,undpuser_url(:id =>user.id,:task =>'suspend'),:method=>:delete,:data=>{:confirm =>"Are you sure you wish to suspend #{user.username} ?"},'class'=>'btn','title'=>'suspend  ' + user.firstname ) %>
				<%else %>
				<%= link_to('<i class="icon-play"></i>'.html_safe,undpuser_url(:id =>user.id,:task =>'reactivate'),:method=>:delete,:data=>{:confirm =>"Are you sure you wish to reactivate #{user.username} ?"},'class'=>'btn','title'=>'reactivate  ' + user.firstname ) %>
				<% end%>
				<%= link_to '<i class="icon-trash"></i>'.html_safe, undpuser_url(:id =>user.id,:task =>'delete',:type=>params[:type]), :data=>{:method=>:delete,:confirm =>"Are you sure you wish to delete #{user.username} ?"} ,:html=>{:class=>'btn','target'=>'_blank','title'=>'Delete User  ' + user.firstname} %>
				<% if user.group_id != 4%>
				
				<%= link_to('<i class="icon-lock"></i>'.html_safe, new_aco_aro_url(:atype  => "u",:undpuser_id => user.id),:method => :post ,'class'=>'btn','target'=>'_blank','title'=>'Manage Privileges For  ' + user.firstname ) %>
				
				<% end %>
            </td>
          </tr>
           
           <% end %>
          
        </tbody>
      </table>
       <%= render "shared/paginate"%>
            </div>
            
  <%= render 'shared/navtree' %>        
        
        <% @users.each do |user| %>
 	     <div id="<%= user.id.to_s %>" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h3><%= user.firstname %></h3>
            </div>
            <div class="modal-body">
				<div class="well effect8">                	
                    <ul class="tabs-stacked">
                    	<li class="lino">Firstname &raquo; <%= user.firstname %> </li>
                        <li class="lino">Lastname &raquo;<%= user.lastname %> &raquo; </li>
                        <li class="lino">Group &raquo;<%= @groups.key(user.group_id).to_s.capitalize! %> </li>                       
                        <li class="lino">Email &raquo; <%= user.email %> &raquo; </li>
                         <li class="lino">Created &raquo; <%= distance_of_time_in_words_to_now(user.created_at,false).to_s %>  ago. </li>
                    </ul>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <% end %>
          <div id="udel" class="modal hide fade">
            <div class="modal-header">
              <h3>Delete User?</h3>
            </div>
            <div class="modal-body">
				<div class="alert alert-danger">                	
                    Are you sure you want to delete user <em>'Name in full'</em>?
                    <a href="" class="btn-danger btn"><i class="icon-white icon-ok"></i> Yes</a>
            	</div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-remove"></i> Cancel</a>
            
</div></div>

