-#=  render 'shared/errors/error_messages' 
<div class="mframe fnplus">
<div class="sframe fnplus1 pbtm">Vendor Sign Up</div>           
 
-#echo $form->create('Undpuser',array('action'=>'signUp','class'=>'well'));

= form_for @user do |f|

  <label>Username</label>
  - if params[:undpuser].nil?
    <input type="text" class="input span6" placeholder="Enter a Username..." name="undpuser[username]"  />
    - #<?php  echo $form->error('Undpuser.username',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else
    <input type="text" class="input span6" placeholder="Enter a Username..." name="undpuser[username]" value="#{params[:undpuser][:username]}"  />
      
  <label>First Name or Organization Name</label>
  - if params[:undpuser].nil?
    <input type="text" class="input span6" name="undpuser[firstname]"  placeholder="Enter your First Name or Organization Name...">
    - #<?php  echo $form->error('Undpuser.firstname',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else 
    <input type="text" class="input span6" name="undpuser[firstname]" value="#{params[:undpuser][:firstname]}"  placeholder="Enter your First Name or Organization Name...">
  
  <label>Last Name</label>
  
  - if params[:undpuser].nil?
    <input type="text" class="input span6" placeholder="Enter your Last Name..." name="undpuser[lastname]" value="" /> 
    - #<?php  echo $form->error('Undpuser.lastname',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else
    <input type="text" class="input span6" placeholder="Enter your Last Name..." name="undpuser[lastname]" value="#{params[:undpuser][:lastname]}" /> 
     
  <label>Email</label>
  - if params[:undpuser].nil?
    <input type="text" class="inpu span6" placeholder="Enter your Email..."  name="undpuser[email]" value=""/>
    - #<?php  echo $form->error('Undpuser.email',null,array('class'=>'alert alert-block','escape'=>true,'wrap'=>'div'));?> 
  - else
    <input type="text" class="inpu span6" placeholder="Enter your Email..."  name="undpuser[email]" value="#{params[:undpuser][:email]}"/>
  
  
  <input type="hidden" value="0" name="undpuser[suspend]"/>
  <input type="hidden" value="vendor" name="undpuser[usertype]"/>
  <input type="hidden" value="4" name="undpuser[group_id]"/>  
  <input type="hidden" value="1" name="undpuser[added_by]"/>
   
  <button type="submit" class="btn btn-primary">Sign Up</button>

<div class="nosredna">&nbsp;</div>
</div>
<!--/row-->
<!--/row-->
</div><!--/span-->
</div><!--/row-->