<!-- tab "panes" -->
<div class="rightframe">
<fieldset class="">
<legend>Send My Activation Link </legend>
= form_for(:undpuser , :url=>request_confirmation_link_undpusers_url) do |f|


  <label for="email"> * Enter Email provided at the time of Signup</label>
  %br
  - if params[:undpuser].nil?
    <input type="text" name="undpuser[email]" class="span5" title="email address provided during signup" />
  -else 
    <input type="text" name="undpuser[email]" class="span5" title="email address provided during signup" value="#{params[:undpuser][:email]}" />
  %br
  <input type="submit" value="Submit request" class="btn-primary" name="submit"/>
  </fieldset>

</div></div>
%div{:class => "nosredna"}
