<div class="mframe fnplus span8">
<div class="sframe fnplus1 pbtm"> Category Selection</div>
= form_for(:undpuser ,{ :url => vendor_select_undpuser_url(current_user.id), :method=>:put})  do |f|


  <label>Choose the Category of  Vendor you wish to belong</label>
  
  - @vendors = Array.new
  - @vendor.each { |key|  @vendors << [key.name ,key.id ] }
  
  = f.select(:vendor_id , options_for_select(@vendors) ,{:include_blank=>true})
  <label>Vendor Programme Area</label>
  
  <select name="undpuser[vpa_id]" id="undpuser_vpa_id" class="span4" disabled  >
  <option value=""> Select Vendor Programme</option>
  
  
  </select>
  
  
  
  <label>Vendor Programme Specialization</label>
  
  
  <select class="span4" name="undpuser[vss_id]" class="span4" id="undpuser_vss_id" disabled>
  <option value=""> Please Select Vendor Programme Specialization</option>
  
  
  </select>
  <label for="submit">
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Save Selection</button></label>
   

 



 
 
</div></div></div>
<script>
$(function(){
$('#undpuser_vendor_id').change(function(){
   
  
vid = $('#undpuser_vendor_id').val();
if(vid == '')
{
alert("Vendor Type Category Cannot be empty");
} 
else{
   

$.get("/vpas/listed/"+vid ,function(data){
eval(data);
$("#undpuser_vpa_id").removeAttr("disabled");
$("#undpuser_vpa_id").html('');
if(data.length > 0) {
addOptions(data,'undpuser_vpa_id');}
},"json");

}});

// to get special area
$('#undpuser_vpa_id').change(function(){
 

vid = $('#undpuser_vendor_id').val();
vpa_id = $('#undpuser_vpa_id').val();


if(vid == '')
{
alert("Vendor Type Category Cannot be empty");
}
 
if(vpa_id == '')
{
alert("Programme Area Cannot be empty");
}
 
else{
$.get("/vsses/listed"+'/'+vid + "/"+vpa_id,
function(data){
eval(data);
$("#undpuser_vss_id").removeAttr("disabled");
$("#undpuser_vss_id").html('');
if(data.length > 0) {
addOptions(data,'undpuser_vss_id');}
},"json") ;
}});

});
</script>
 