<div class="sframe span8" style="margin:0;">
<div class="row-fluid">

<table class="datatable frnd">
<caption> Performance  Ratings for Consultants
</caption>
<tr>

<th>Consultant Name</th>

<th>Project Title</th>
<th>Project Number</th>

<th>View</th>
<th> Project Period</th>
<th> Project Duration</th>
</tr>

- @ratings.each do |r|
  %tr
    %td= r.consultant_name
    %td= r.project_title
    %td= r.prj_number
    %td= link_to '<i class="icon-list-alt"></i>'.html_safe, cons_rating_url(r.id),:class=>'btn','target' => '_blank'
    %td= time_tag(Time.strptime(r.start_date,'%m-%d-%Y').to_date) +  " - " + time_tag(Time.strptime(r.end_date,'%m-%d-%Y').to_date)
    %td
      = (Time.strptime(r.end_date,'%m-%d-%Y').to_time -  Time.strptime(r.start_date,'%m-%d-%Y').to_time)/1.day 
      days
   
   
</table>

= render "shared/paginate"


<div style="float:right;">
= link_to('Ratings Home', search_vendor_c_ratings_url,'class' => 'btn btn-primary pull-right','style'=>'width:auto;')


</div>

</div></div>
= render "shared/navtree"
