- opts = {"Excellent"=>"5","Very Good"=>"4","Fair"=>"3","Poor"=>"2","Unsatisfactory"=>"1"}

<div class="span8" style="margin:0;">

= link_to "Edit Rating", edit_c_rating_url(params[:id]) , :class=> 'btn btn-primary'
= link_to "Delete Rating", c_rating_url(params[:id]),:data=>{:method=>:delete,:confirm =>"Delete this rating?"} , :class=> 'btn btn-danger'
%p  
<table class="table-striped table-bordered " style="width:96%; background: center; margin:0 auto;" width="500">



%tr
  %td 
    %b Consultant Name
  %td= @rating.consultant_name
%tr
  %td Project Title
  %td= @rating.project_title
 
%tr
  %td Project Number
  %td= @rating.prj_number

- r = @rating 

<tr>
<td>Project Duty Station</td>
<td>
= r.project_duty_station
</td>
</tr>

<tr>
<td>Brief Description of Project</td>
<td></td>
</tr>
<tr>
<td></td>
<td class="white">
= r.project_description.html_safe if !r.project_description.blank?
 
</td>
</tr>
<tr>
<td>Start Date</td>
<td>
= time_tag Time.strptime(r.start_date,'%m-%d-%Y').to_date
</td>
</tr>
<tr>
<td>End Date</td>
<td>
= time_tag Time.strptime(r.end_date,'%m-%d-%Y').to_date

</td>
</tr>


<tr>
<td>Countries Visited during assignment</td> 
 
<td>
= r.countries_visited 
 
</td>
</tr>
<tr>
<td><b> Initiative </b></td>
<td>
= opts.key(r.question_1)
</td>

</tr>
<tr><td><b> Interpersonal skills </b></td>
<td>
= opts.key(r.question_2)

</td>

</tr>  

<tr><td><b> Quality of Reports submitted </b></td>
<td>
= opts.key(r.question_3)
</td>

</tr> 

<tr><td><b> Timeliness of reports submitted </b></td>
<td>
= opts.key(r.question_4)

</td>

</tr> 

<tr><td><b> Technical expertise in the area of Assignment </b></td>
<td>
= opts.key(r.question_5)

</td>

</tr> 

<tr><td><b> Imagination </b></td>
<td>
= opts.key(r.question_6)

</td>

</tr> 

<tr><td><b> Linguistic skills </b></td>
<td>
= opts.key(r.question_7)

</td>

</tr> 
<tr><td><b> Explanation for  Ratings </b></td>
<td></td></tr>
<tr>
<td></td>
<td>
= r.extra_detail.html_safe if !r.extra_detail.blank?

<tr>
<td> Should this Staff remain on the Roster </td>
<td>

= r.should_this_vendor_remain_on_roster  

<tr>
<td>Evaluated By</td>
<td>
= r.evaluated_by
</td>
</tr>

<tr>
<td> Organization</td>
<td>
= r.organization
</td>
</tr>
<tr>
<td><b>Designation:</b></td>
<td>
= r.designation
 
</td>
</tr>
<tr>
<td><b>Date:</b></td>
<td>
= time_tag Time.strptime(r.thedate,'%m-%d-%Y').to_date 
</tr>
 
  
</table>
%br
= link_to('Ratings Home', "#", 'class' => 'btn btn-primary pull-right','style'=>'width:auto;')

</div>
<br/>

= render "shared/navtree"

<style type="text/css">
tr{height:2.5em; font-size:1.0em;}
</style>
