<div class="span9" style="margin:0px;">
<div class="sframe">
%table{:class=>'datatable fnrd'}
  %tr
    %th Activity # 
    %th Activity summary
  
  
  - @activities.each do |a|
    - if a.key.split(/[.]/)[1] == "update"
      %tr{:class=>'alert alert-info'}
        %td
          = "#"
          = a.id
        %td        
          %code= username_is?(a.owner_id).capitalize unless a.owner_id.to_i == 0 
          updated
          = a.key.split(/[.]/)[0].capitalize
          record with system #id: #{a.trackable_id}  about
          = distance_of_time_in_words_to_now a.created_at
          Ago.
         
    - elsif a.key.split(/[.]/)[1] == "destroy"
      %tr{:class=>'alert alert-info'}
        %td
          = "#"
          = a.id
        %td        
          %code= username_is?(a.owner_id).capitalize unless a.owner_id.to_i == 0 
          deleted
          = a.key.split(/[.]/)[0].capitalize
          record with  system #id: #{a.trackable_id}  about
          = distance_of_time_in_words_to_now a.created_at
          Ago.
    - elsif a.key.split(/[.]/)[1] == "create"
      %tr{:class=>'alert alert-info'}
        %td
          = "#"
          = a.id
        %td        
          %code= username_is?(a.owner_id).capitalize unless a.owner_id.to_i == 0 
          created
          = a.key.split(/[.]/)[0].capitalize
          record with  system #id: #{a.trackable_id}  about
          = distance_of_time_in_words_to_now a.created_at
          Ago.
      %tr
        %td
        %td
          
     
= render "shared/paginate"
</div></div>
= render "shared/navtree"
