<div class="span8"><div class="sframe">
<div class="row-fluid">
<!------------->



<div class="tabbable" style="margin-bottom: 18px;">
<ul class="nav nav-tabs">

 

<li class="active"><a href="#tab2" data-toggle="tab">Programmes Area</a></li>
<li><a href="#tab3" data-toggle="tab">Specialization Area</a></li>
<li><a href="#tab4" data-toggle="tab">Status</a></li>
<li><a href="#tab5" data-toggle="tab">Service Add</a></li>
</ul>
<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
<!-- <div class="tab-pane active" id="tab1">

= form_for @vendor do |f|

  <label for="Statusname">Vendor Type </label>
  <input class="span6" type="text" name="vendor_type[name]" value=""/>
  
  <label for="StatusDesc">Description</label>
  <input type="text" class="span6" name="vendor_type[description]" value=""/>
  
   
  
   
  
  <input type="submit" class="btn btn-primary" value="Save Vendor Type" />
   

</div>-->
<div class="tab-pane active" id="tab2">
= render "vpas/new" , :locals =>{:vendors=> @vendors}
</div>

<div class="tab-pane" id="tab3">

= render "vsses/new"




 

</div>
<div class="tab-pane" id="tab4">

= render "statuses/new"
 




</div>

<div class="tab-pane" id="tab5">

<div class="sbh">Add  Service tool [Consultants and Consultants Only] </div>
%p [e.g. Carpet Sellers , Doctors, Artist, Economists]
= form_for :con_sup_service , :url =>cons_sup_service_vendor_types_url do |f|


  <label for="name">Service Name </label> 
  = f.text_field :name ,:class =>'span6' ,:title => '[e.g. Carpet Sellers , Doctors, Artist, Economists]'
  <br/>
  <label for="description">Description</label>
  = f.text_field :description , :class => 'span6' 
  <br/>
   
  = f.select :vendor_type ,(VendorType.select("id, name").where("name != 'NGO'").collect{|v| [v.name ,v.name] unless v.name == 'NGO'}) , :include_blank =>true 
  
  %br
  <input type="submit" value="Add Service" class="btn btn-primary" />
  
</div>
</div></div>

</div> </div>  </div> 
<div class="span3">
<div class="sdnav">
<div class="row-fluid">
= render 'shared/nav_tree'
</div></div></div>

<script type="text/javascript">
var current = 1;
var valCurrent=1;
var vtype=null;
var vpa=null;

function addExtra(vtypeid,vpaid) {
//alert(vpaid);
//alert(vtypeid)<label for="title"'+current+'">Special Area</label>;
//    var strToAdd = '<input type="hidden" name="vsses['+current+'][vpa_id]" value='+vpaid+' />'+
//'<input id="titleofArea'+current+'" name="vss['+current+'][name]" type="text" /><br/>'
//    strToAdd+='<input type="hidden" name="vss['+current+'][vendor_type_id]" value='+ vtypeid +' /><br/>';
var strToAdd = '<p class="criterias_">';
strToAdd+='<input id="Vss'+current+'Name" name="vss[name][]"  class="span6" type="text" /><br/></p>';
//strToAdd+='<input type="hidden" name="vss[vendor_type_id][]" value='+ vtypeid +' /><p/>';

//console.log(strToAdd)valueofAllowance


$('#criterias').append(strToAdd);
current = current + 1;
return false;

}

var n_of_elements=1;




$(function() {

$('#addCriteria').click(function()
{

vtype = $('#vss_vendor_type_id').val();
vpa = $('#vss_vpa_id').val();
//alert(vpa);
addExtra(vtype,vpa) ;
n_of_elements = $('.criterias_').length;
// alert(n_of_elements)
return false;

});

$('#removeCriteria').click(function(){
//alert(n_of_elements)
n_of_elements = $('.criterias_').length;
if(n_of_elements == 0)
{
alert('No Special Area  has been added');
}
else{


// alert(index);
//alert(n_of_elements)

$('.criterias_:last').remove();
n_of_elements=n_of_elements-1;
// alert(n_of_elements)
}
return false;
}); 
$('#ajax-save-message').hide();



$('#quickAdd').click(function(){

$(this).parents("form:first").ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}

});
$(this).parents("form:first").resetForm();
return false;

}).appendTo('form div.submit');

$('#quickAddStatus').click(function(){

$('#VpaAddPaForm').ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}
});
$('#VendorStatusAddStatusForm').resetForm();
return false;

}) ;

$('#quickAddCriteria').click(function(){

$('#VendorTypeAddQualificationForm').ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}
});
$('#VendorTypeAddQualificationForm').resetForm();
return false;

}) ;
$('#saveSpecialization').click(function(){

$('#VssAddSpForm').ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}
});
$('#VssAddSpForm').resetForm();
//$('#criterias').html("");
return false;

}) ;


$('#quickStatus').click(function(){

$('#StatusAddForm').ajaxSubmit({

success: function(responseText,responseCode) {

$('#ajax-save-message').hide().html(responseText).fadeIn();
alert(responseText);
setTimeout(function(){

$('#ajax-save-message').fadeOut();

}, 5000);

}
});
$('#StatusAddForm').resetForm();
return false;

}) ;

$('#submitService').click(function(e)
{
e.preventDefault();
$('#ConserviceAddForm').ajaxSubmit({success:function(responseText,responseCode)
{
alert(responseText);
//$('input[type=submit]').attr('disabled',true);
}
});
return false;
});

});


function bindProg() {
//disable child select list
$("#prog").attr("disabled", true);
//clear child select list's options
$("#prog").html('');

//querystring value is selected value of parent drop down list
var qs = $("#vendor").val();
//if user selected a separator, show error
if(qs == '') {
alert('You cannot select this option. Please make a different selection.');
}
else {
//show message indicating we're getting new values
$("#prog").append(new Option('Getting Programmes list ...'));
//declare options array and populate
var progOptions = new Array();
$.get("http://"+ <?php echo '"'. $_SERVER['SERVER_NAME'].PORT.'"' ;?>+"/<?php if($_SERVER['SERVER_NAME']=='localhost') {echo hostingDirectory .'/';}?>vpas/getProgrammes/"+qs, function(data) {
eval(data);
if(progOptions.length > 0) {
addOptions(progOptions);
}
else
{

}
}
);
}
}
function addOptions(cl) {
//enable child select and clear current child options
$("#prog").removeAttr("disabled");
$("#prog").html('');
//repopulate child list with array from helper page
var prog = document.getElementById('prog');
for(var i = 0; i < cl.length; i++) {
prog.options[i] = new Option(cl[i].text, cl[i].value);
}
}
</script>

