<div class="span8">
<div class="sframe">
<div class="sbh"><strong>Thematic Areas Manager</strong> </div>
<div class="row-fluid">
<table class="datatable fnrd">

%th  Category
%th  Description


</tr>
<?php
$i = 0;
$class = null;
if ($i++ % 2 == 0) {
$class = ' class="altrow"';
}
?>
<tr >



<td>
= link_to 'Programme Area', vpas_url

 

</td>
<td> Select this to view the programme area</td>

</tr>




<?php
$i = 0;
$class = null;
if ($i++ % 2 == 0) {
$class = ' class="altrow"';
}
?>
<tr <?php echo $class;?>>

<td>
= link_to 'Special Areas', vsses_url


</td>
<td> Special Area</td>
</tr>

<?php
$i = 0;
$class = null;
if ($i++ % 2 == 0) {
$class = ' class="altrow"';
}
?>
<tr <?php echo $class;?>>
<td>
= link_to 'Recruitment Status', statuses_url

</td>
<td> </td>


</tr>

<tr >
<td>
= link_to 'Consultants Services ', conservices_url
 
</td>
<td> Selection of this menu let you view all vendors and send mails to individual vendors</td>


</tr>

<tr >
<td>
= link_to 'Supplier Services ', supservices_url
 

</td>
<td> Selection of this menu let you view all vendors and send mails to individual vendors</td>


</tr>

</table>


</div>

</td>

</tr>
</table>
</div>

</div>


<div class="span3">
<div class="sdnav">
<div class="row-fluid">
= render "shared/nav_tree"
</div>
</div></div>
