<div class="span8">
<div class="sframe">
<div class="sbh"><strong>Vendors Manager</strong> </div>
<div class="row-fluid">
<table class="datatable fnrd">
<tr>
<th> Vendor Category</th>
<th> Description</th>


</tr>

- i = 0;
- @class = nil
- i = i+1
- if i.modulo(2) == 0 
  - @class = ' class="altrow"'
 
<tr #{@class}>



<td>
 
= link_to 'Consultants',consultants_url

 

</td>
<td> Select this to view the Consultants of the UNDP and send emails</td>

</tr>




 
<tr #{@class}>

<td>
 
= link_to('Suppliers', suppliers_url)

 

</td>
<td> You can also Select this menu to view the Suppliers of the UNDP and send emails </td>
</tr>

 
<tr #{@class}>
<td>
= link_to('NGOs', ngos_url)

 
</td>
<td> Selection of this menu let you view and send mails to the Non Governmental Organizations of the UNDP</td>


</tr>
 
<tr #{@class}>
<td>
 
= link_to('All Vendors', undpusers_url(:type => 'vendors'))

 
</td>
<td> Selection of this menu let you view all vendors and send mails to individual vendors</td>


</tr>
 


 

  
</table>
</div>

</div>
</div>

<div class="span3">
<div class="sdnav">
<div class="row-fluid">
= render 'shared/nav_tree'
</div>
</div></div>


<script type="text/javascript">
function bindId()
{
//$('form').submit();


return false;
}


</script>