%table{:class => 'fnrd datatable',:id => "addExt"}
  %caption <h5>If Yes, Enter</h5>                  
  %tr 
    %td Name  
    %td Relationship 
    %td Name of Organization
    %td Duty Station 
  %tr
    %td= text_field_tag "c_ext_family_in_undp[][name]" ,nil 
    %td= text_field_tag "c_ext_family_in_undp[][relationship]" ,nil  
    %td= text_field_tag "c_ext_family_in_undp[]name_of_unit]" ,nil 
    %td
      = text_field_tag "c_ext_family_in_undp[]duty_station]" ,nil 
      = hidden_field_tag "c_ext_family_in_undp[]consultant_id]" ,session[:cid]
<div class="nosredna">&nbsp;</div>
<div class="pull-right">
= link_to '<i class="icon-white icon-plus-sign"></i> Add extended'.html_safe, add_c_ext_family_in_undps_url(:format=>:js) ,:remote=>true ,:class=>"btn btn-success" 
= link_to '<i class="icon-white icon-minus-sign"></i> Remove extended'.html_safe, remove_c_ext_family_in_undps_url(:format=>:js) ,:remote=>true ,:class=>"btn btn-danger" 
</div>
<div class="nosredna">&nbsp;</div>