<div class="sbh"> Edit Reference   </div>
= form_for @reference do |f|
  <div class="row-fluid">
  <div class="span4">
  <label>First Name </label>
  = f.text_field "firstname"
   
  <label>Last Name </label>
  = f.text_field "lastname"
  
  <label>Street  </label>
  = f.text_area "street" ,:size => "10 x 5"
   
  </div>
  <div class="span4">
  <label>Town/City </label>
  = f.text_field "town"
  
  <label>State </label>
  = f.text_field "state"
  
  <label>Country </label>
  = f.text_field "country"
  
  <label>Email </label>
  = f.text_field "email"
  
  </div>
  <div class="span4">
  <label>Mobile Phone Number </label>
  = f.text_field "mobile"
  
  <label>Home Phone Number </label>
  = f.text_field "home"
  
  <label>Work Phone Number </label>
  = f.text_field "work"
  
  <label>Fax </label>
  = f.text_field "fax"
  = f.hidden_field "consultant_id" , :value => @reference.consultant_id
  %p
  <input type="submit" name="" class="btn btn-primary" value="Save Reference"/>
  
  </div>

<div class="nosredna">&nbsp;</div>