= render "shared/themes/admin_header"

- if @consultant.nil?
  <p>You have not defined any referee (s) yet!</p>' ;

- else
 
 
  <div class="sframe  bld">Referees #{render "shared/themes/user_title"} 
  <div class="pull-right" style="margin-top:-5px;">
  <div class="btn-group">
  = render 'shared/cons-actions'
  </div>
  </div>
  <div class="nosredna"> &nbsp;</div>
  <table class=" table tbsfnt" style="width:800px;">
  
  
  
  
  
  
  
  - @consultant.c_references.each do |c|
    <tr>
    <th> Firstname</th>
    <td>
    = c.firstname
    </td>
  
    </tr>
    <tr>
    <th> Lastname </th>
   
    <td>
    = c.lastname
    </td></tr>
    <tr>
    <th colspan="2" align="center"> Address </th>
   
    <td>  
    </td></tr>
    %tr{:rowspan=>3}
      %td{:colspan=>2}
        = c.street + ","
      
        = c.town + "," +  c.state + "."
        = c.country + "."
        %hr
        Email: 
        = c.email 
        %hr
        Mobile: 
        = c.mobile
        %br Work: 
        = c.work
        %br Fax:
        = c.fax 
        
        
        
    %tr
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe , edit_c_reference_url(:id=>c.id,:consultant_id=>c.consultant_id) , {:title =>"Edit"}
        = link_to '<i class="icon-trash"></i>'.html_safe, c_reference_url(:id=>c.id,:consultant_id=>c.consultant_id) ,:method=>:delete ,:data=>{:confirm=>"Do you want to delete the referee #{c.firstname}"}
    
    
  
   
  </table>
   
  </div>
<div class="nosredna"></div></div>
= render "shared/navtree"
