= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Module
    %th Alias
     
    %th Actions
  - @funds.each do |e|
    %tr
      
      %td= e.name
      %td= e.alias
       
            
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_sys_module_url(e.id) ,:title =>'Edit' 
        = link_to '<i class="icon-trash"></i>'.html_safe, sys_module_url(e.id), :method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 


%p
%div{:class=>"nosredna"}
=link_to 'New Module'.html_safe , {:controller=>:sys_modules,:action=>:new} ,:class=>"pull-right btn-danger btn"

</div>
= render "shared/navtree"
