<div class="sframe">
= form_for @consultant , :remote=>false do |f|
  <div class="sbh"><strong>Address &raquo; Permanent</strong></div>
  <label>Street</label>
  = f.text_field "street_address" ,:class => 'span5'
  <label>Town</label>
  = f.text_field "town" ,:class => 'span5'
  <label>State</label>
  = f.text_field "state" ,:class => 'span5'
 
  <label>Country</label>
  = f.text_field "country" ,:class => 'span5'
  = f.hidden_field "address_type" ,:value => 'Permanent'
  = f.hidden_field "consultant_id" ,:class=>'span5'
  %br
  <input type="submit" value = "update" class="btn btn-primary" />
</div>  