%div{:class=>"sframe"}
  %div{:class=>"sbh"}  Create Agency or Department 
  = form_for @agency do |f|
  
    <label for="Statusname"> Agency/Department </label>
     
    = f.text_field :name ,:class =>"span6"
    <label for="StatusDesc">Description</label>
     
    = f.text_field :description ,:class =>"span6"
    
    = f.label " Category" 
    = f.select :category ,[["Agency","Agency"], ["Department","Department"]] ,:include_blank=>true
    %br
     
    
    <input type="submit" class="btn btn-primary" value="Save" />
     