- @vpas = @agency_departments
<div class="sframe span8" style="margin:0;">
-#= link_to '<i class="icon-th-list"></i> Export to Excel'.html_safe , export_to_excel_logins_url(:format => :xls ) , :class=>'btn btn-success pull-right', :title => 'Export Audit to Excel'
%br
%h3 Agencies/Departments 

%table{:class=>'datatable fnrd'}
  %tr
    
    %th Agency
    %th Description
    %th Category
    %th Action
    
    
  - @vpas.each do |audit|
    %tr 
      
      %td
        %strong{:class=>"success"}= audit.name
      %td= audit.description
      %td= audit.category
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe , {:controller=>:agency_departments,:action=>:edit,:id=>audit.id},:title=>'Edit!'
        =link_to '<i class="icon-trash"></i>'.html_safe , {:controller=>:agency_departments,:action=>:destroy,:id=>audit.id},:method=>:delete ,:data=>{:confirm=>"Delete #{audit.name} ?"},:title=>'Delete!'
     
      - # %td= time_tag audit.time_out.to_time unless audit.time_out.nil?
      - #%td= time_length audit.session_duration
%p
=link_to 'New Agency/Department'.html_safe , {:controller=>:agency_departments,:action=>:new} ,:class=>"pull-right btn-danger btn"
     
= render "shared/paginate"
</div> 

<div class="span3">
<div class="sdnav">
<div class="row-fluid">
= render "shared/nav_tree"
</div>            
</div>
</div>
</div>
