<div class="row-fluid">
<div class="span9">
<div class="sframe">
<div class="row-fluid">
<!-------------->
<div class="span6">
<div class="sbh"><h5 class="bdbf"=><i class="icon-map-marker"></i> Create</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="#{create_staff_undpusers_url}"><i class="icon-briefcase"></i> Create /Add Employee</a></li>
<li class=""><a href="#{create_vendor_undpusers_url}"><i class="icon-briefcase"></i> Create / Add Vendor</a></li>
<li class=""><a href="#{new_vacancy_url}"><i class="icon-bookmark"></i> Create Vacancy</a></li>                
<li class=""><a href="#{new_vendor_type_url}"><i class="icon-th-list"></i> Create Thematic Area</a></li>                  
</ul>
<div class="sbh"><h5 class="bdbf"=><i class="icon-globe"></i> System</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="#{new_report_url}"><i class="icon-list-alt"></i> Report</a></l>
</ul>
</div>
<!-------------->
<div class="span6">
<div class="sbh"><h5 class="bdbf"><i class="icon-cog"></i> Manager</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="#{vacancies_url}"><i class="icon-folder-open"></i> Vacancy Manager</a></li>
<li class=""><a href="#{vendor_manager_vendor_types_url}"><i class="icon-circle-arrow-down"></i> Vendor Manager</a></li>
<li class=""><a href="#{e_mails_url}"><i class="icon-envelope"></i> Email Manager</a></li>
</ul>
<div class="sbh"><h5 class="bdbf"><i class="icon-list"></i> View</h5></div>
<ul class="nav nav-tabs nav-stacked dfx">
<li class=""><a href="#{undpusers_url(:type=>'staff')}"><i class="icon-bookmark"></i> View Employees</a></li>
<li class=""><a href="#{consultants_url}"><i class="icon-bookmark"></i> View Consultants</a></li>

<li class=""><a href="#{ngos_url}"><i class="icon-bookmark"></i> View NGO</a></li>

<li class=""><a href="#{suppliers_url}"><i class="icon-bookmark"></i> View Supplier</a></li>
<li class=""><a href="#{undpusers_url(:type=>'vendors')}"><i class="icon-bookmark"></i> View All Vendors</a></li>


<li class=""><a href="#{t_view_mgr_vendor_types_url}"><i class="icon-list-alt"></i> View Thematic Area</a></l></li>
</ul>
</div>
<!--------------->
</div>
</div>
</div>
<div class="span3">
<div class="sdnav">
<div class="row-fluid">
<!-------->
      
= render "shared/nav_tree"
</div>
<!--------->
</div>            
</div>
</div>