= form_for :vss ,:url=> vsses_url do |f|

  <label for="Statusname">Vendor Category  </label>
  = f.select :vendor_type_id , (@vendors.collect{|v| [v.name, v.id]} unless @vendors.nil?) ,{:include_blank =>true},:id => 'vss_vendor_type_id'
  
  
  
  = f.label "Programme Area" 
  = f.select :vpa_id ,(["Select Programme Area",""]),{},:id => "vss_vpa_id"
  = f.label "special_area"
  <input name="vss[name][]" class="span6" />
  %br
   
  <p class="criterias" id="criterias"> </p>

  <a href="#" id="addCriteri1a" class="btn btn-small btn-primary">Add Special Area</a>
  <a href="#" id="removeCrit1eria" class="btn btn-primary btn-small">Remove Special Area</a>

  <input type="submit"  class="btn btn-primary" value="Save Specialization (s)"   />

 