<div class="frameback"  style="margin:0;">

<div >

 



<table  class="datatable fnrd">
<caption> Uploaded attachment(s) for  &nbsp;<span style="color:red;font-weight:bold; font-size:1.6em;"> #{@app_attachments.first.vac_application.vacancy.name} </span> Position
</caption>


<tr>




<th>Applicant</th>
<th>Attachment (s)</th>


<th class="">Actions</th>
</tr>
<tr>

<th colspan="8"> 


</tr>
 




- @app_attachments.each do |a|
  <tr>
  
  
  
  
  
  <td>
  <b>
  = a.vac_application.undpuser.firstname 
  </b>
  = a.vac_application.undpuser.lastname.to_s.upcase
  </td>
  
  
  
  <td>
   
  - if a.file_1_desc.blank? && !a.file_1_file_name.nil?
   
    = link_to 'download', a.file_1.url, 'target' => '_blank'
  - elsif !a.file_1_file_name.blank?  
  
    = link_to a.file_1_desc, a.file_1.url, 'target' => '_blank'
  %br 
    
  - if a.file_2_desc.blank? && !a.file_2_file_name.nil?
   
    = link_to 'download', a.file_2.url, 'target' => '_blank'
  - elsif !a.file_2_file_name.blank?   
  
    = link_to a.file_2_desc, a.file_2.url, 'target' => '_blank'
  %br 
  - if a.file_3_desc.blank? && !a.file_3_file_name.nil?
   
    = link_to 'download', a.file_3.url, 'target' => '_blank'
  - elsif !a.file_3_file_name.blank?   
  
    = link_to a.file_3_desc, a.file_3.url, 'target' => '_blank'
  %br 
  - if a.file_4_desc.blank? && !a.file_4_file_name.nil?
   
    = link_to 'download', a.file_4.url, 'target' => '_blank'
  - elsif !a.file_4_file_name.blank? 
  
    = link_to a.file_4_desc, a.file_4.url, 'target' => '_blank'
  %br 
  
  - if a.file_5_desc.blank? && !a.file_5_file_name.nil?
   
    = link_to 'download', a.file_5.url, 'target' => '_blank'
  - elsif !a.file_5_file_name.blank? 
  
    = link_to a.file_5_desc, a.file_5.url, 'target' => '_blank'
  %br 
  </td>
  
  
  
  <td>
  
  
  = link_to '<i class=icon-play></i>'.html_safe, new_recruitment_url(:id=>a.application_id),'class'=>'','title'=>'Process Application' ,'target'=>'_blank'
    
  </td>
  </tr>

</table>

%br

<a href="#{vac_applications_url}" class="btn btn-primary pull-right"> All Applications</a>


= render "shared/paginate"
</div>
<div class="clear"></div>
</div>

<script type="text/javascript">
$(function(){





});



</script>