%div 
  <div class="btn-group">
  = render 'shared/cons-actions'
  </div>
  <div class="sbh">Certification   #{render "shared/themes/user_title"} </div>
  = form_for @consultant.c_certification   do |f|
    I certify that the statement made by me in answer to the foregoing questions are true, complete and correct to the best of my knowledge and belief.
    I understand that any misrepresentation or material omission made on the UNDP PERSONAL HISTORY FORM may lead to the termination of my appointment or to dismissal. I understand this also applies to any other document requested by the organisation for the purpose of my recruitment and employment with UNDP</div>
    %span I Certify 
    
    = f.radio_button :certify , 1  
    %span I Decline
    = f.radio_button :certify , 0 
    = f.hidden_field "consultant_id" 
    <div class="nosredna">&nbsp;</div>
    <input type="submit"  value="Submit" class="btn btn-success" />