<div class="alert alert-info"> Please note that Resume/CV upload is optional </div>
= form_for @c_upload  , :html =>{:multipart => true} do |ff|

  = ff.label "Passport Photo"
  = ff.file_field :photo 
  = ff.label :resume
  = ff.file_field :resume 
  = ff.hidden_field :consultant_id
  = ff.hidden_field :id
  
  <br/>
  <input type="submit" value="Upload" name="submit"  class="btn btn-primary" />
</div>