= render "shared/themes/admin_header"
<div class="btn-group">
= render 'shared/cons-actions'
</div>
- c = @consultant
%table{:class => "datatable"}
  %caption Uploads &raquo; #{render "shared/themes/user_title"} 
  %tr
    %td Passport
    %td= image_tag c.c_upload.photo.url :thumb
     
  %tr
    %td Resume
    %td= link_to "CV" , c.c_upload.resume.url
  %tr  
    %td= link_to "edit" ,edit_c_upload_url( :id => c.c_upload.id , :consultant_id =>c.c_upload.consultant_id) ,:title => "An Edit will over-write existing resource"
    
</div>
= render "shared/navtree" 