@import "bootstrap.css";
@import "bootstrap-responsive.css";
@import "vmsb.css";
@import "custom-theme/jquery-ui-1.8.21.custom.css";
@import "skin/ui.dynatree.css";


/*Font Coloring */

.success {
  color: #468847;
   
}

.danger,
.error {
  color: #b94a48;
   
}

.info {
  color: #3a87ad;
   
}

textarea{margin-top:12px;clear:both;}
.ewell{padding-left:40px;font-size:100%;}
