%style
  select{width:100%;height:auto; font-size:0.9em; over-flow:scroll; }
<div class = "span8" style="margin:0;">

<table  class="datatable span7" style="width:100%;margin:0;" >
<caption> Search Criteria
</caption>
 
<tr>
= form_for @ngo_report , :url=> {:action=>:index,:controller=>:ngo_reports}  do |sf|

  %td <label>Prog. Area</label>
    
  %td= sf.select :vpa_name, Vpa.select("Distinct id, name").where("vendor_type_id = 2").map{|v| [v.name,v.id]} ,:include_blank=>true,:id=>"vpa_s",:onchange=>"bindSpec('vss_s','vpa_s');"
   
    
    
  %td <label>Spec.Area</label>
  %td
    <select class="" id="vss" name="ngo_report[vss_name][]" multiple="multiple">
    <option value="-1" selected="selected"> --</option>
  
  
    </select>
  %td <label>Others</label>
    
  %td
    <select class="span6" id="others" name="ngo_report[others]">
    <option value="-1"> --</option>
    <option value="ngo_financial_id"> Have Financial Information</option>
    <option value="ngo_contract_id"> Have Contract Information</option>
    <option value="ngo_financial_file_name">Have Uploaded Financial Statement </option>
    <option value="ngo_evidence"> Have Uploaded Contract(s) Evidence</option>
    <option value="written_file_name">Have Uploaded Environmental Statement</option>
    
   
  </select>
     
  
    
  
  %td
    %label
  %td <input type="submit" class="btn btn-primary" value="Search" id="searchByServiceButton1" />
    
    
    
    




</tr>
</table>
<table  class="datatable span8" style="width:100%;margin:0;" >
<caption>Result (s)
</caption>
<tr>
<th>Select
</th>
<th colspan="3">NGO</th>

<th>Programme</th>
<th>Spec</th>

<th>Action</th>


</tr>


= form_for :export_selected ,:url => collate_for_export_system_wide_index_path ,:html=>{:id =>'exportForm'} do |ff|

  = ff.hidden_field "types" , :value => 'ngos'
  - @ngo_reports.each do |r|
    
    %tr
      %td &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"   name="ngos[]" value="#{r.id}" class="chkBxs"/>
  
      %td{:colspan=>"3"}= r.name
      %td= r.vpa_name
      %td= r.vss_name
       
      - c = r
      %td
        = link_to '<i class="icon-list-alt"></i>'.html_safe, ngo_url(:id=>c.id,:ngo_id =>c.id),'target'=>'_blank','class'=>'btn btn-small','title'=>'view Ngo' 
        = link_to '<i class="icon-envelope"></i>'.html_safe, new_e_mail_url(:user_id => c.undpuser_id),:method=>:post,'class'=>'btn btn-small','title'=>'Email' ,'target'=>'_blank'
        = link_to '<i class="icon-pencil"></i>'.html_safe,new_ngo_url(:id=>c.id,:ngo_id =>c.id),'class'=>'btn btn-small','title'=>'Edit' ,'target'=>'_blank'
        = link_to '<i class="icon-list"></i>'.html_safe, ngo_url(:id=>c.id,:ngo_id =>c.id), :class=>'btn btn-small','title'=>'Regulatory Documents' ,'target'=>'_blank'
    
     
    
     

</table>
%br
%p
<div>
%br
<span style="margin-top:10px;margin-left:55px;float:right;">
<a id = "exportSelected" href= "#{export_to_excel_ngos_url(:format=>:xls,:ngos=>'selected')}" style="margin-left:10px;" class="btn btn-primary pull-right">Export the Selected</a> 
 
<a id = "emailSelected" href= "#{new_e_mail_url(:user_id=>'group')}" style="margin-left:10px;" class="btn btn-primary pull-right">Email Selected vendors</a> 


= link_to('Search Home', new_report_url,'class' => 'btn btn-primary', 'id' => 'searchReport')

</span>
</div>

= render "shared/paginate"
</div>




= render "shared/navtree" 

<script type="text/javascript">


$(function(){
 
$('#selectAll').change(function() {

var group = '.chkBxs:checkbox';
if($('#selectAll').attr('checked'))
{
$(group).attr('checked', $(this).attr('checked'));

}
else
{
$(group).attr('checked', false);

}
});

$('#exportSelected , #emailSelected ,.previous_page,.current,.next_page,a[rel*=prev],a[rel*=start],a[rel*=next], .previous a,.next a,.current a,.span-24 div.span-24 a,.span-24 div.span-24 span a, div.paging div a,.paging span a,.paging a,.disabled,.disabled a').click(function(e)
{
e.preventDefault();
var url=$(this).attr('href');
//var submit_url = $('#exportForm').attr('action');
var form = $('#exportForm').serialize();
//alert(url);


$.ajax({type:'post',url:"#{collate_for_export_system_wide_index_url}",data:form,
success: function(responseText,responseCode) {
//alert(responseText);
window.location.href = url;
}
});
});
 
});



</script>

