= form_for :vpas ,:url=> vpas_url do |f|

  <label for="Statusname">Vendor Programme Area </label>
  <input class="span6" type="text" name="vpas[name]" value=""/>
  
  <label for="StatusDesc">Description</label>
  <input type="text" class="span6" name="vpas[desc]" value=""/>
  
  = f.label "Vendor Category" 
  = f.select :vendor_type_id ,(@vendors.collect{|v| [v.name , v.id]} unless @vendors.nil?),:include_blank=>true
  %br
   
  
  <input type="submit" class="btn btn-primary" value="Save Programme" />
   