= form_for @vpa  do |f|

  <label for="Statusname">Vendor Programme Area </label>
  = f.text_field :name ,{:class=>'span6'}
  
  <label for="StatusDesc">Description</label>
  = f.text_field :desc ,{:class=>'span6'}
  
  = f.label "Vendor Category" 
  = f.select :vendor_type_id ,(@vendors.collect{|v| [v.name , v.id]} unless @vendors.nil?),:include_blank=>true
  %br
   
  
  <input type="submit" class="btn btn-primary" value="Save Programme" />
   