<div class="span8" style="margin:0;">
<div class="sframe"><div class="sbh"><strong> New Contract  or LTA  Monitoring Form</strong> </div>
<div class="row-fluid">
<table style="width:100%;" cellpadding="5">

= form_for @un_contract do |u|
  %caption{:class=>"dblk bdrb btn btn-success disabled pull-left"} Project Details
  %tr
    %td Project Name:  
    %td= u.select :project_id ,(@projects.map{|p| [p.name, p.id]}),:class=>"span9"
   
   
  %caption{:class=>"dblk bdrb btn btn-success disabled pull-left"} Contract Details
   

 
                                                   
 
 
                        
                                                                            

                                                        



  %tr
    %td Contract Type:  
    %td= u.select :contract_type,([["LTA","LTA"],["LOA","LOA"]]) ,:class=>"span9"  ,:include_blank =>true
  %tr
    %td Contract Title: 
    %td= u.text_field :contract_title ,:class=>"span9"
  %tr
    %td Contract UN reference #:
    %td= u.text_field :contract_un_reference ,:class=>"span9"
  %tr
    %td  Contract Value ($)
    %td= u.text_field :contract_value_in_usd ,:class=>"span9"
  %tr
    %td Contract Value (SZL)
    %td= u.text_field :contract_value_in_co_currency ,:class=>"span9"
  %tr
    %td Description of Good/Services:
    %td
  %tr
    %td
    %td
      = u.text_area :description_of_goods_or_services ,:class=>"span9" ,:size=>"10x5"
    
  %tr
    %td Contract Start Date:
    %td= u.text_field :start_date ,:class=>"span9 griddates"
  %tr
    %td Contract End Date:
    %td= u.text_field :end_date ,:class=>"span9 griddates"
  %tr
    %td Organisation/Individual Awarded (Vendor):   
    %td= u.select :organization_awarded, (@vendors.map{|v| [v.name,v.id]}) ,:class=>"span9" ,:include_blank =>true
  %tr
    %td  Location: 
    %td= u.text_field :location ,:class=>"span9"
  
  %tr
    %td Appointing Agency:  
    %td=u.select :agency_department_id , AgencyDepartment.select("id,name").map{|a| [a.name , a.id]} ,:class=>'span9',:include_blank =>true
  
  %tr
    %td Appointing Agency contact person: 
    %td= u.select :appointing_agency_contact_person,Undpuser.select("id,firstname,lastname").where("usertype = 'staff'").map{|u| ["#{u.firstname} #{u.lastname}","#{u.firstname} #{u.lastname}"]}, :include_blank=>true,:class=>'span9'
 
    
  %tr
    %td
    %td
      <input type="submit" value="Update Contract" class="btn btn-primary" />
      = link_to "Cancel" , un_contracts_url,:class=>"btn btn-danger"
      = u.hidden_field :duration       
        


   
</table>
</div>
</div>
</div>

= render "shared/navtree"


<script>

$(function() {
$('.griddates').datepicker({changeMonth:true, changeYear:true });

});


</script>