- @funds = @un_contracts
= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Contract Title
    %th Contract Project 
    %th Contract Value (USD)
    %th Organization Awarded / Individual
    %th Appointing Agency
    %th Appointing Agency Contact Person
     
     
    %th Actions
  - @funds.each do |e|
    %tr
      
      %td= e.contract_title
      %td= e.project.name
      %td= number_to_currency e.contract_value_in_usd
       
      %td= get_awarded(e.organization_awarded)
      %td= e.agency_department.name  
      %td= e.appointing_agency_contact_person
       
      
            
      %td
        = link_to '<i class="icon-list-alt"></i>'.html_safe, un_contract_url(e.id) ,:title =>'View Contract' 

        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_un_contract_url(e.id) ,:title =>'Edit' 
        = link_to '<i class="icon-trash"></i>'.html_safe, un_contract_url(e.id) ,:method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 


%br
= link_to "Add New Contract" ,select_project_account_un_contracts_url , :class=> "pull-right btn btn-danger"
= render "shared/paginate"   
</div>

= render "shared/navtree"
