- @funds = @un_contracts
= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  - case @qs
  - when "lta_total_vendor"
    %tr
       
      %th Organization Awarded / Individual
       
      %th Contract Value (USD)
       
      %th Actions
    - @funds.each do |e|
      %tr
        
        %td= get_awarded(e.organization_awarded)
        
        %td= number_to_currency e.contract_value_in_usd
         
        
         
        
              
        %td
          = link_to '<i class="icon-list"></i>'.html_safe, un_contracts_url(:organization_awarded =>e.organization_awarded) ,:title =>'List All' 
           
  - when "lta_total_agency"
    %tr
       
      %th Agency / Department
       
      %th Contract Value (USD)
       
      %th Actions
    - @funds.each do |e|
      %tr
        
        %td= e.agency_department.name
        
        %td= number_to_currency e.contract_value_in_usd
        %td= link_to '<i class="icon-list"></i>'.html_safe, un_contracts_url(:agency_department_id =>e.agency_department_id) ,:title =>'List All' 
          
         
        
         
        
              
        %td
          -#= link_to '<i class="icon-pencil"></i>'.html_safe, edit_un_contract_url(e.id) ,:title =>'Edit' 
          -#= link_to '<i class="icon-trash"></i>'.html_safe, un_contract_url(e.id) ,:method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 

  - when "valid" , "invalid"
    %tr
      %th Organization/Individual Awarded 
      %th Agency / Department
       
      %th Contract Value (USD)
      %th Start Date
      %th End Date
       
      %th Actions
    - @funds.each do |e|
      %tr
        %td= get_awarded(e.organization_awarded)
        
        %td= e.agency_department.name
        
        %td= number_to_currency e.contract_value_in_usd
        %td= time_tag e.start_date.to_date
        %td= time_tag e.end_date.to_date
         
        
         
        
              
        %td
          = link_to '<i class="icon-list-alt"></i>'.html_safe, un_contract_url(get_id({:contract_title =>e.contract_title})) ,:title =>'View Contract' 

          = link_to '<i class="icon-pencil"></i>'.html_safe, edit_un_contract_url(get_id({:contract_title =>e.contract_title})) ,:title =>'Edit' 
          = link_to '<i class="icon-trash"></i>'.html_safe, un_contract_url(get_id({:contract_title =>e.contract_title})) ,:method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 

           

%br
= link_to "Add New Contract" ,select_project_account_un_contracts_url , :class=> "pull-right btn btn-danger" ,:style => "margin-left:3px;"

= link_to "Reports Home" ,new_report_url , :class=> "pull-right btn btn-success" ,:style => "margin-left:3px;"


= render "shared/paginate"   
</div>

= render "shared/navtree"
