<div class="span8" style="margin:0;">
<div class="sframe">
<div class="row-fluid">
<div class="sbh"><strong>Enter Vendor Name </strong> </div>







<table   width="800" border="0" class="formdata">
= form_for @account , :url => new_un_contract_url do |f|

   
  <tr> 
  <th scope="col"><div align="left"><b>Vendor Name:</b>    </div></th>
  <th scope="col"><div align="left">
  
    
  = text_field_tag "name" 
  
  
  </div></th>
  </tr>
  
  <tr>
  <th scope="col"><div align="left"><b>Vendor Type:</b>    </div></th>
  <th scope="col"><div align="left">
  
  %span Consultant  
  = radio_button_tag "vendor" , 1 
  %span Supplier  
  = radio_button_tag "vendor" , 3 
  
  %span NGO 
  = radio_button_tag "vendor" , 2 
  
  </div></th>
  </tr>
   
   
  
  <tr>
  <td height="33">&nbsp;</td>
  <td><input type="submit" name="button" class="btn btn-primary" id="button" value="Continue" /></td>
  %td
    = link_to "Add New Project" ,new_project_url , :class=> "pull-left btn btn-danger"
    
    = link_to "Manage Contracts" ,un_contracts_url , :class=> "pull-right btn btn-success"
   
  </tr>
</table>



</div>


</div></div>
= render "shared/navtree"
 
<div class="clear"></div>
  
 
<script type="text/javascript">
$(function(){

 


$('.griddates').datepicker({changeMonth:true, changeYear:true });


});

 
</script>