- uu = @un_contract  
<div class="span8" style="margin:0;">
<div class="sframe"><div class="sbh dblk bdrb danger"><strong> Contract: #{@un_contract.contract_title}</strong> </div>
<div class="row-fluid">
<table style="width:100%;" cellpadding="5">

 
%caption{:class=>"dblk bdrb btn btn-success disabled pull-left"} Project Detail
%tr
  %td Project Name:  
  %td= @un_contract.project.name
 
 
%caption{:class=>"dblk bdrb btn btn-success disabled pull-left"} Contract Details
   

 
                                                   
 
 
                        
                                                                            

                                                        



%tr
  %td Contract Type:  
  %td= uu.contract_type
 
%tr
  %td Contract UN reference #:
  %td= uu.contract_un_reference  
%tr
  %td  Contract Value ($)
  %td= number_to_currency uu.contract_value_in_usd  
%tr
  %td Contract Value #{CONFIG[:currency_sym]}
  %td= uu.contract_value_in_co_currency.to_f
%tr
  %td Description of Good/Services:
  %td
%tr
  %td
  %td
    =  uu.description_of_goods_or_services.html_safe
  
%tr
  %td Contract Start Date:
  %td= time_tag uu.start_date.to_date
%tr
  %td Contract End Date:
  %td= time_tag uu.end_date.to_date
%tr
  %td Organisation/Individual Awarded (Vendor):   
  %td= get_awarded(@un_contract.organization_awarded)
%tr
  %td  Location: 
  %td= uu.location.capitalize

%tr
  %td Appointing Agency:  
  %td=uu.agency_department.name

%tr
  %td Appointing Agency contact person: 
  %td= @un_contract.appointing_agency_contact_person
    
 
    
%tr
  %td
  %td
    - #<input type="submit" value="Save Contract" class="btn btn-primary" />
    -#= link_to "Cancel" , un_contracts_url,:class=>"btn btn-danger"
    -#= hidden_field_tag "name" , @name
    -#= hidden_field_tag  "vendor" , @vendor
      

%caption{:class=>"dblk bdrb btn btn-success disabled pull-left"} Funding Account
%tr
  %td Account Number
  %td= uu.project.fund.account_number
%tr
  %td Operating Unit
  %td= uu.project.fund.operating_unit
   
   

 
</table>


= link_to "Return to Contracts" , :back,:class=>"btn pull-right btn-danger"
</div>
</div>
</div>

= render "shared/navtree"