= render "shared/themes/admin_header"
%table{:class=>'datatable fnrd'}
  %tr
    %th Account Number
    %th Available Fund (USD)
    %th Balance
    %th Financial Period
    %th Operating Unit
    %th Approving Officer
    %th Actions
  - @funds.each do |e|
    %tr
      
      %td= e.account_number
      %td= number_to_currency e.available_fund_usd
      %td= number_to_currency e.balance
      %td
        = e.financial_year_start 
        \--
        = e.financial_year_end
      %td
        = e.agency_department.name unless e.agency_department.blank?
      %td= e.approving_officer
      
            
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_fund_url(e.id) ,:title =>'Edit' 
        -#= link_to '<i class="icon-trash"></i>'.html_safe, fund_url(e.id) ,:method=>:delete ,:data=>{:confirm =>"Are you sure to delete?"},:title =>'Delete' 


%p
%div{:class=>"nosredna"}
=link_to 'New Project'.html_safe , {:controller=>:projects,:action=>:new} ,:class=>"pull-right btn-danger btn"
=link_to 'New Contract / LTA'.html_safe , {:controller=>:un_contracts,:action=>:select_project_account} ,:class=>"pull-right btn-danger btn"

</div>
= render "shared/navtree"
