<div class="span8" style="margin:0;">
<div class="sframe"><div class="sbh"><strong> New Funding Account Form</strong> </div>
<div class="row-fluid">
<table style="width:100%;" cellpadding="5">




= form_for @account  do  |f|
   
  <tr><th align="right"> Project Account Number</th><td> 
  = f.text_field :account_number , :class=>'span9'
   
  </td></tr>
  <tr><th align="right">Available fund in USD</th><td> 
  - if @account.available_fund_usd.blank?
    = f.text_field :available_fund_usd , :class=>'span9' ,:value=> 0.00 , :title=>''
  - else
    = f.text_field :available_fund_usd , :class=>'span9' , :title=>''
   
  </td></tr>
  <tr><th align="right">Financial Year Starting </th><td> 
  - yrs = []
  - for i in (1970..Date.today.year+5) do 
    - yrs << i
    
  = f.select :financial_year_start ,yrs.reverse.map{|y|[y,y]}, :class=>'span9',:title=>'' ,:include_blank=>true
   
  </td></tr>
  <tr><th align="right">Financial Year Ending </th><td> 
  = f.select :financial_year_end ,yrs.reverse.map{|y|[y,y]}, :class=>'span9',:title=>'' ,:include_blank=>true
  
   
  </td></tr>
  <tr><th align="right">Operating Unit</th><td> 
 
  = f.select :agency_department_id , AgencyDepartment.select("id,name").map{|a| [a.name , a.id]} ,:class=>'span9',:include_blank =>true
   
  </td></tr>
  <tr><th align="right">Approving Officer</th><td> 
  = f.select :approving_officer,Undpuser.select("id,firstname,lastname").where("usertype = 'staff'").map{|u| ["#{u.firstname} #{u.lastname}","#{u.firstname} #{u.lastname}"]}, :include_blank=>true,:class=>'span9'
   
  </td></tr>
  <tr><th align="right"> Created Date </th><td> 
  = f.text_field :date_created , :class=>'span9 griddates'
   
  </td></tr> 
  %tr
    %th
    %td
      <input type="submit" class="btn btn-primary" value="Save">
      = link_to "Manage Funds" ,funds_url , :class=> "btn btn-success"
      = link_to "New  Agency/Department" ,new_agency_department_url , :class=> "btn btn-danger"
      
   
</table>
</div>
</div>
</div>

= render "shared/navtree"


<script>

$(function() {
$('.griddates').datepicker({changeMonth:true, changeYear:true });

});


</script>