= form_for @supplier ,:remote => false do |f|


  <label for="ngo_name">Name of Organization:</label></td>
  = f.text_field :name ,:class => 'span6'
  <div class="sbh bld">Address</div>   
  <label for="street">Street Address</label></td> 
  = f.text_field :street_address , :class => 'span6'
  = f.hidden_field :undpuser_id
  <label for="town">Postal Code</label></td>
  = f.text_field :postal_code , :class => 'span6'
  
  <label for="town">City</label></td>
  = f.text_field :city , :class => 'span6'
  <label for="state">State</label></td>
  = f.text_field :state , :class => 'span6'
  <label for="country">Country</label></td>
  = f.text_field :country , :class => 'span6'
  <label for="street">Mailing Address</label></td>
  = f.text_field :mailing_address , :class => 'span6' 
  
  <label for="country">Parent Supplier Company (Full legal name)</label></td>
  
  = f.text_field :parent_company , :class => 'span6'
  
  <label for="associates">Subsidiaries, Associtates and/or Overseas Representative(s)</label>
  
  = f.text_field :subsidiaries , :class => 'span6'
  
  
  <label for="country">Nature of Business (E.g. Manufacturer, trader, Authorised Agent, Consulting company, etc.)</label>
  
  = f.text_field :nature_of_business , :class=>'span6'
  
  <label for="country">Type of Business (E.g. Corporate/Limited, partnership, Government Agency, University, etc.)</label>
  
  = f.text_field :type_of_business , :class=>'span6'
  
  
  <label for="country">Date of Establishment</label>
  
  = f.text_field :doe , :class => 'span6 datepicker'
  <label for="country">Number of Full-time Employees</label>
  
  = f.text_field :number_of_employees , :class => 'span6'
  <label for="country">License number</label>
  
  = f.text_field :license_number , :class => 'span6'
  <label for="country">VAT / Tax Identification Number</label></td>
  = f.text_field :tax_number , :class => 'span6'
  <label for="country">State where Registered</label></td>
  
  = f.text_field :state_where_regd , :class => 'span6'
  <label for="country"> Date of Registration</label> 
  = f.text_field :dor , :class =>'span6 datepicker'
  <label for="country">Specify working  local languages</label>
  
  = f.text_field :working_language ,:class=>'span6'
  
  
  
  
  
  <div class="sbh bld">Telephone</div>   
  <label for="country">Mobile</label></td>
  - if @ngo.stelephone.nil?
    = text_field_tag  "stelephone[mobile]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "stelephone[mobile]" , @ngo.stelephone.mobile ,:class =>'span6'
 
  <label for="country">Home</label></td>
  - if @ngo.stelephone.nil?
    = text_field_tag  "stelephone[home]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "stelephone[home]" , @ngo.stelephone.home ,:class =>'span6'
 
  <label for="country">Office</label>
  - if @ngo.stelephone.nil?
    = text_field_tag  "stelephone[office]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "stelephone[office]" , @ngo.stelephone.office ,:class =>'span6'
 
   
  <label for="country"> Fax</label></td>
  - if @ngo.stelephone.nil?
    = text_field_tag  "stelephone[fax]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "stelephone[fax]" , @ngo.stelephone.fax ,:class =>'span6'
 
  <label for="email">Email Address</label>
  
  - if @ngo.stelephone.nil?
    = text_field_tag  "stelephone[email]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "stelephone[email]" , @ngo.stelephone.email ,:class =>'span6'
 
  <label for="internet">Web Address</label>
  
  - if @ngo.stelephone.nil?
    = text_field_tag  "stelephone[website]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "stelephone[website]" , @ngo.stelephone.website ,:class =>'span6'
  - if @ngo.stelephone.nil?
    = hidden_field_tag  "stelephone[id]"  , nil
  - else 
    = hidden_field_tag  "stelephone[id]" , @ngo.stelephone.id  
   
  = hidden_field_tag  "stelephone[supplier_id]" , @ngo.id 
 
  </td> 
  
  
  <div class="sbh bld">Contact</div>   
  <label for="firstname">Contact's First Name</label></td>
  - if @ngo.s_contact.nil?
    = text_field_tag  "s_contact[firstname]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "s_contact[firstname]" , @ngo.s_contact.firstname ,:class =>'span6'
 
   
  <label for="lastname">Contact's Last Name (Family Name)</label></td>
  - if @ngo.s_contact.nil?
    = text_field_tag  "s_contact[lastname]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "s_contact[lastname]" , @ngo.s_contact.lastname ,:class =>'span6'
 
  <label for="lastname">Title</label></td>
  - if @ngo.s_contact.nil?
    = text_field_tag  "s_contact[title]"  , nil, :class =>'span6'
  - else 
    = text_field_tag  "s_contact[title]" , @ngo.s_contact.title ,:class =>'span6'
  - if @ngo.s_contact.nil?
    = hidden_field_tag  "s_contact[id]"  , nil
  - else 
    = hidden_field_tag  "s_contact[id]" , @ngo.s_contact.id 
  
  = hidden_field_tag  "s_contact[supplier_id]" , @ngo.id ,:class =>'span6'
 
 
  
  
  
  
  
   
  
   
  <label>&nbsp;</label></td> <input type="submit" value="Save Details" class="btn btn-primary" name="submit" id=""/>
  
  
  
  
