<div class="sframe">
<div class="row-fluid">
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">Services </a></li>
<li><a href="#tab2" data-toggle="tab">Details </a></li>
<li><a href="#tab3" data-toggle="tab">Financial </a></li>
<li><a href="#tab4" data-toggle="tab">Technical </a></li>
<li><a href="#tab5" data-toggle="tab">Experience </a></li>
<li><a href="#tab6" data-toggle="tab">Certification </a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<div class="sbh bld">Select your services</div>           
- service_bkt = []
- if(!@supplier_services.nil? && (@supplier_services.respond_to? :size))
  - if @supplier_services.size
    - @supplier_services.each do |ns| 
      - service_bkt << ns.supservice_id
    

 
= form_for @supplier_services , :url=>supservtypes_url,:method=>:post ,:remote =>false do |f|

 
  
  - @services.each do |s|
    <div class="span3 sframe fnrd">
    <div class="multiple">
    <label class="form-inline" for="Supservices#{s.name}" > #{s.name}
    - if service_bkt.include?(s.id)
      <input type="checkbox" value="#{s.id}" checked name="supservtype[][supservice_id]" />
    - else
      <input type="checkbox" value="#{s.id}" name="supservtype[][supservice_id]" />
    
    <input type="hidden" value="#{@supplier.id}" name="supservtype[][supplier_id]"/>
    <input type="hidden" value="#{@supplier.id}" name="[supplier_id]"/>
    </label></div></div>
   
  <div class="nosredna">&nbsp;</div>

  
  <input type="submit" name="" class="btn span1 btn-primary" value="Submit" />

<p> Cant see your service(s) ? <a href="#faq1" data-toggle="modal" class="create">Create A Service</a>  </p>
           

</div>
<div class="tab-pane" id="tab2">
<div class="sbh bld">Supplier Details And General Information</div>
= render "suppliers/new"

</div>

<div class="tab-pane" id="tab3">
<div class="sbh bld">Supplier Financial Information </div>
= render "s_financials/new"

</div>

<div class="tab-pane" id="tab4">

= render "s_technical_documents/new"

</div>

<div class="tab-pane" id="tab5">

= render "s_contracts/new"

</div>

<div class="tab-pane" id="tab6">

= render "s_certifications/new"

</div>

</div>
</div>
</div></div>
     
<div  id="faq1" class="modal hide fade"><div id="create" title="Consultants Service Category Add Tool">
<div class="modal-header"> Add Service Form 
%br
<code>Click on the 'X' button when you have added all your services</code>
<button class="close" id="closed_adding_services" data-dismiss="modal">&times;</button> 
%p{:id => 'conservice_add_info',:class=>'success danger'}


= form_for :supservice ,:url => supservices_url ,:remote =>true ,:html=>{:id=>'supserviceAdd'}  do |f|


  <label for="name">Service Category</label>
  = f.text_field :name 
  <br/>
  
  <label for="description">Description</label>
  = f.text_field :description
  
  <br/>
  
  
  
  
  <input type="submit" class="btn btn-primary" value="Save" name="submit" />
  



</div></div></div>
</div>
 

<script type="text/javascript">

$(function() {
$(".datepicker").datepicker({
changeMonth: true,
changeYear: true, dateFormat:'yy-mm-dd',yearRange: "1940:#{DateTime.now.year}"
    
}); 
});
</script>