<div class="row-fluid">
<div class="sframe">
<div class="row-fluid">
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">Supplier Profile</a></li>
<li><a href="#tab2" data-toggle="tab">Regulatory Documents</a></li>
</ul>
<div class="tab-content">
%div{:class=>"tab-pane active" ,:id=>"tab1"}
  - n = @ngo
  <div class="sbh">Basic Details</div>
   
  <div class="dblk"><strong> Name</strong> &raquo;
  = n.name
  </div>
  
   
   
  
  <div class="dblk"> <strong>Street Address</strong> &raquo; #{n.street_address}</div>
  
   
  
  - if n.postal_code
    <div class="dblk">     <strong>Postal Code</strong> &raquo; #{n.postal_code}  </div>      
   
  
  
  
  
  <div class="dblk">     <strong>City</strong> &raquo; #{n.city}</div>  
  
  
   
   
  
  <div class="dblk">     <strong>State</strong>  &raquo; #{n.state}</div>  
  
     
   
  
   
  
  <div class="dblk">
  <strong>Country</strong>  &raquo; #{n.country}
  
  </div>  
  
  
  - if !n.mailing_address.nil? || n.mailing_address != ""
  
    <div class="dblk">
    <strong>Mailing Address</strong>  &raquo;#{n.mailing_address}
    </div>  
  
  
  
  - if !n.stelephone.nil?
  
    <div class="dblk">
    <strong>Mobile Phone</strong>  &raquo; #{n.stelephone.mobile}
    </div>  
    
     
     
     
    <div class="dblk">   
    <strong>Office Phone</strong>  &raquo; #{n.stelephone.office}
    </div>  
     
    
     
    
    
    <div class="dblk">  
    <strong>Fax</strong>  &raquo; #{n.stelephone.fax}
    </div>  
    
    
    
    
    <div class="dblk">  <strong>Email Address</strong> &raquo; #{n.stelephone.email}
    </div>  
    
    
    
    
    <div class="dblk">   <strong>Internet Address</strong> &raquo; #{n.stelephone.website}
    
    </div>          
   
  - if !n.s_contact.nil?
    <div class="sbh">Contact Detail</div>
    <div class="dblk"><strong>Contact's Title </strong> &raquo;  #{n.s_contact.title} </div>
    <div class="dblk"><strong>Contact's First Name  </strong>&raquo; #{n.s_contact.firstname} </div>
    <div class="dblk"><strong>Contact's Last Name </strong>&raquo;    #{n.s_contact.lastname}
    </div>
    
    
    
    
  <div class="sbh">Other Information</div>
  
  - if !n.parent_company.blank?
    <div class="blk"><strong>Parent Company</strong> &raquo; #{n.parent_company}</div>
  
   
  
  - if !n.subsidiaries.blank?
  
    <div class="blk"><strong>Subsidiaries, Associates and/or Overseas Representative(s)</strong> &raquo; </div>
    %p
    <div class="blk">
    = n.subsidiaries
    </div>
  
   
  <div class="blk">   
  <strong>Nature of Business</strong> &raquo; </div>
  <div class="blk">
  = n.nature_of_business
  </div>
   
  
  <div class="blk"><strong>Date of Establishment</strong> &raquo; 
  -if !n.doe.blank?
    = time_tag n.doe.to_date
  </div>
  
  
  <div class="blk">    <strong>Number of Full-time Employees</strong> &raquo; 
  = n.number_of_employees 
  </div>
  
  
  
  
  <div class="blk">    <strong>Licence number</strong> &raquo; #{n.license_number}
  
  </div>
  
  
  <div class="blk"><strong>State where Registered</strong> &raquo; #{n.state_where_regd} 
  </div>
  <div class="blk"><strong>VAT /Tax Identification </strong> &raquo; #{n.tax_number} 
  </div>
  
  
  
  
  
  <div class="blk">  <strong>Registration Date </strong> &raquo; 
  - if !n.dor.blank?
    = time_tag n.dor.to_date
  </div>
  
  
  
  
  <div class="sbh">Services </div>
  
  
  - if !n.supservtypes.nil?
    <div class="blk">
    - n.supservtypes.sort.each do |srv| 
      %p <b style="color:#2255bb;font-size:11px;"> #{srv.supservice.name}  </b>  
    
    </div>
  
  
   
    
    
   
    
  <div class="nosredna"></div>
  
  
  
  
  <div class="sbh">  Financial Information Annual Value Of Total Income For The Last 3 Years</div> 
  - if !n.s_financial.nil?
    <div class="blk">    <strong>1. Year</strong> &raquo;  #{n.s_financial.year1_ti}</div>
    
    
    
    
    <div class="blk">   <strong>US$ Million</strong> &raquo; #{n.s_financial.year1_ti_amount}
    </div>
    
    
    
    
    <div class="blk"><strong>2. Year</strong> &raquo;  #{n.s_financial.year2_ti}
    </div>
    
    
    
    <div class="blk">    <strong>US$ Million</strong> &raquo;  #{n.s_financial.year3_ti_amount}
    </div>
    
    
    
    <div class="blk">   <strong>3.  Year</strong> &raquo;  #{n.s_financial.year3_ti}
    </div>
    
    
    <div class="blk">    <strong>US$ Million</strong> &raquo;  #{n.s_financial.year3_ti_amount}</div>
    
    
  
   
    <div class="sbh">  Annual Value Of Export Sales For The Last 3 Years</div> 
    - if !n.s_financial.nil?
      <div class="blk">    <strong>1. Year</strong> &raquo;  #{n.s_financial.year1_es}</div>
    
    
    
    
      <div class="blk">   <strong>US$ Million</strong> &raquo; #{n.s_financial.year1_es_value}
      </div>
    
    
    
    
      <div class="blk"><strong>2. Year</strong> &raquo;  #{n.s_financial.year2_es}
      </div>
    
    
    
      <div class="blk">    <strong>US$ Million</strong> &raquo;  #{n.s_financial.year3_es_value}
      </div>
      
      
      
      <div class="blk">   <strong>3.  Year</strong> &raquo;  #{n.s_financial.year3_es}
      </div>
      
      
      <div class="blk">    <strong>US$ Million</strong> &raquo;  #{n.s_financial.year3_es_value}</div>
      
    
  
   
  
  
  
  - if !n.s_bank_info.nil?
    <div class="sbh">Bank Information </div>
    
    <div class="blk"> <strong>Bank Name</strong>&raquo; #{n.s_bank_info.bank_name}</div>
    
    
    
    
    <div class="blk">  <strong>Bank Address</strong> &raquo;  #{n.s_bank_info.bank_address}
    
    </div>
    
    <div class="blk">
    <strong>Bank Swift Address</strong> &raquo;  #{n.s_bank_info.bank_swift_code}
    
    
    </div>    
    
    <div class="blk">  <strong>Bank Account Number</strong> &raquo;  #{n.s_bank_info.bank_account_number}
    
    
    
    </div>
    <div class="blk">     <strong>Bank Account Name</strong> &raquo;  #{n.s_bank_info.bank_account_name}
    
    </div>
  
   
  
  
  - if !n.s_contract.nil?
    <div class="sbh"> Recent Contracts with the United Nations and/or Other International Aid Organizations  </div>
    
    
    <div class="blk">    <strong>Organisation</strong> &raquo; #{n.s_contract.organization}
    
    </div>
    
    
    <div class="blk">    <strong>Value in US$</strong> &raquo; #{n.s_contract.contract_amount}
    
    
    </div>
    
    
    <div class="blk">      <strong>Year</strong> &raquo; #{n.s_contract.year}
    
    
    </div>  
    
    <div class="blk">    <strong>Nature of Service</strong> &raquo; </div>
    <div class="blk"> #{n.s_contract.goods_or_services} </div>
    
    
     
    
    <div class="blk">   <strong>Contact Details</strong> &raquo; </div>
    <div class="blk">
    = n.s_contract.contact_details
    </div>
    
    
    
    <div class="sbh"> Others </div>
    - if !n.s_contract.destination.blank?
      <div class="blk">
      <strong>  Destination </strong> &raquo;
      = n.s_contract.destination
      </div>
    
    
    - if !n.s_contract.disputes.blank?
      <div class="blk">
      <strong>  Any Dispute(s) Involved In With The United Nations Organizations Over The Last 3 Years
      </div>
      <div class="blk"></strong> &raquo;
      = n.s_contract.disputes  
      </div>
    
    
    - if !n.s_contract.membership_of.blank?
      <div class="blk"> <strong>Any National, Or International  Or Professional Organizations Of Which Your Organization Is A Member</strong>&raquo; 
      = n.s_contract.membership_of
      </div>            
    
     

%div{:class=>"tab-pane", :id=>"tab2"}
  - if !n.s_technical_document.nil?
    <div class="sbh bld">Uploaded Documents</div>                
    <div class="sframe bld">Financial Statement  </div>
    <div class="blk">
     
    - if n.s_technical_document.fin_report.url  != "/fin_report/original/missing.png"  
      = link_to "Financial Statement File" , n.s_technical_document.fin_report.url ,:target => "_blank"
    - else
      Not Uploaded   
    </div>
    <div class="sframe bld">Quality Assurance   </div>
    <div class="blk">
     
    - if n.s_technical_document.quality_assurance.url  != "/quality_assurance/original/missing.png"  
      = link_to "Quality Assurance File" , n.s_technical_document.quality_assurance.url ,:target => "_blank"
    - else
      Not Uploaded   
    </div>
    <div class="sframe bld"> International Representation  </div>
    <div class="blk">
     
    - if n.s_technical_document.intl_representation.url  != "/intl_representation/original/missing.png"  
      = link_to "International Representation File" , n.s_technical_document.intl_representation.url ,:target => "_blank"
    - else
      Not Uploaded   
    </div>  
    <div class="sframe bld">UNCCS Goods / Services  </div>
    <div class="blk">
     
    - if n.s_technical_document.goods_services.url  != "/goods_services/original/missing.png"  
      = link_to "Goods or Services File" , n.s_technical_document.goods_services.url ,:target => "_blank"
    - else
      Not Uploaded   
    </div>
    
    <div class="sframe bld">Environmental Policy Document  </div>
    <div class="blk">
     
    - if n.s_technical_document.written.url  != "/written/original/missing.png"  
      = link_to "Written Envt. Policy File" , n.s_technical_document.written.url ,:target => "_blank"
    - else
          
    </div>                                          
  - else
    %p{:class=>'alert alert-danger'} Please Provide all relevant document to help the UNDP review and approval process 
</div>            
</div>            
</div>            
</div>            
 