<div class="span8" style="margin:0;">
<div class="sframe"><div class="sbh"><strong>Report Generating Console</strong> </div>
<div class="row-fluid">
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">Consultants</a></li>
<li><a href="#tab2" data-toggle="tab">Suppliers</a></li>
<li><a href="#tab3" data-toggle="tab">NGOs</a></li>
<li><a href="#tab4" data-toggle="tab">LTAs and Contracts</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">











-#/consultant_reports/index
= form_for @c_report , :url=>{:action=>:index,:controller=>:consultant_reports} do |cf|
  <label>Work Experience  </label>
  <select  class="span6" id="workExperience" name="consultant_report[experience]">
  
  <option value="-1"> --</option>
  <option value="0__5">0- 5 Years</option>
  <option value="5__10">5-10 Years</option>
  <option value="10__15">10- 15 Years</option>
  <option value="15__20" >15-20 Years</option>
  
  </select>
  
  
  <label>Age</label>
  
  <select  class="span6" id="age" name="consultant_report[c_age]">
  <option value="-1"> --</option>
  <option value="21__30">21 - 30 Years </option>
   
  
  <option value="30__40">30 - 40 Years</option>
  <option value="40__50">40 - 50 Years</option>
  <option value="50__100">Above 50 Years</option></select>
 
  
  </select>
  
  <label>Education</label>
  
  
  = cf.select(:qualification,@c_eds.map{|e| [e,e]},:class => "span6",:include_blank=>true)
   
  
  <label>Gender</label>
  
  <select  class="span6" id="gender" name="consultant_report[gender]" >
  <option value="-1"> --</option>
  <option value="Male"> Male</option>
  <option value="Female">Female</option>
  
  
  
  </select>  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <label>Professional Area</label>
  
   
  = cf.select(:vss_name,@c_services.map{|e| [e,e]},:class=>'span6 griddate',:include_blank=>true)
 
  
  
  
  
  
  %label
  <input type="submit" class="btn btn-primary" value="Search" id="searchByProfession1" /></td>
 





</div>
<div class="tab-pane" id="tab2">








= form_for @s_report ,:url=>{:action=>:index,:controller=>:supplier_reports}do |sf|
  <label>Programme Area</label>
  
  = sf.select :vpa_name, Vpa.select("Distinct id, name").where("vendor_type_id = 3").map{|v| [v.name,v.id]} ,:include_blank=>true,:id=>"vpa_s",:onchange=>"bindSpec('vss_s','vpa_s');"
 
  
  
  <label>Specialization Area</label>
  <select class="span6" id="vss_s" name="supplier_report[vss_name][]" multiple="multiple">
  <option value="-1" selected="selected"> --</option>
  
  
  </select>
  <label>Others</label>
  
  <select class="span6" id="others_s" name="supplier_report[others]">
  <option value="-1"> --</option>
  <option value="sfinancial_id"> Have Financial Information</option>
  <option value="s_contract_id"> Have Contract Information</option>
  <option value="fin_report_file_name">Have Uploaded Financial Statement </option>
  <option value="goods_services_file_name"> Have Goods/Services Evidence</option>
  <option value="intl_representation_file_name">Have Uploaded Int'l Representation</option>
  <option value="quality_assurance_file_name">Have Uploaded Quality Assurance Statement </option>
  </select>
  
  
  <label>Supplier Services</label>
  
  
  = select_tag "supplier_report[service][]",options_for_select(Supservice.select("Distinct id,name").map{|v| [v.name,v.name]}) ,:multiple=>'multiple',:class=>"span6"
  
  
  %label
  <input type="submit" class="btn btn-primary" value="Search" id="searchByServiceButton1" />
  
  
  
  
  
  
  
  
  


</div>

<div id="tab3" class="tab-pane">
= form_for @n_report , :url=>{:action=>:index,:controller=>:ngo_reports} do |nf|
 


  <label>Programme Area</label>
  
  = nf.select :vpa_name, Vpa.select("Distinct id, name").where("vendor_type_id = 2").map{|v| [v.name,v.id]} ,:include_blank=>true,:id=>"vpa_s",:onchange=>"bindSpec('vss_s','vpa_s');"
 
  
  
  <label>Specialization Area</label>
  
  <select class="span6" id="vss" name="ngo_report[vss_name][]" multiple>
  <option value="-1" selected="selected"> --</option>
  
  
  </select>
  
  
  <label>Others</label>
  <select class="span6" id="others" name="ngo_report[others]">
  <option value="-1"> --</option>
  <option value="ngo_financial_id"> Have Financial Information</option>
  <option value="ngo_contract_id"> Have Contract Information</option>
  <option value="ngo_financial_file_name">Have Uploaded Financial Statement </option>
  <option value="ngo_evidence"> Have Uploaded Contract(s) Evidence</option>
  <option value="written_file_name">Have Uploaded Environmental Statement</option>
  
   
  </select>
  
  
  <input type="submit" value="Search" id="Search" class="btn btn-primary" />
  
  



</div>

 

<div id="tab4" class="tab-pane">
= form_for :reports_for_lta , :method => :get , :url=>{:action=>:reports_for_lta,:controller=>:un_contracts} do |lf|
 


   
  
  
  <label>Select</label>
  <select class="span6" id="others" name="qs">
  <option value="-1"> --</option>
  <option value="lta_total_vendor"> Cumulative Contract Sum For Each Vendor</option>
  <option value="lta_total_agency"> Cumulative Contract Sum For Each Agency</option>
  <option value="valid">Valid Contract </option>
  <option value="invalid"> Expired contract</option>
   
   
  </select>
  
  
  <input type="submit" value="Search" id="Search" class="btn btn-primary" />
  
  



</div>

</div>



</div>


</div></div></div>
= render "shared/navtree"