!!! 5
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
%meta{:name=>'developer' , :content =>'Le Proghrammeen solutions'}
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
= favicon_link_tag
<title>Vendor Management Software:: UNDP &nbsp;Nigeria</title>
= stylesheet_link_tag 'styles'
= csrf_meta_tags
= javascript_include_tag "jquery"
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="header"></div>
<div class="wrap"> 
<div class="container-fluid">
= render "shared/public_view"
%div{:class=>"row-fluid"}
- if flash[:notice]
  %div{:id=>'warning', :class=>'alert alert-success'}
    = flash[:notice]
    <button class="close" data-dismiss="alert"> x </button>
    
- elsif flash[:warning]
  %div{:id=>'warning', :class=>'alert alert-info'}
    = flash[:warning]
    <button class="close" data-dismiss="alert"> x </button>

- elsif flash[:error]
  %div{:id=>'error', :class=>'alert alert-error'}
    = flash[:error]
    <button class="close" data-dismiss="alert"> x </button> 

= render :partial => "shared/errors/error_messages"  unless session[:new_model].nil? 
= yield
<hr>
<div class="xframe">
<footer>
<p>UNDP&trade; Nigeria, 2010.</p>
</footer>
</div>
</div>

</div>
= javascript_include_tag "application"
= javascript_include_tag "application1.js"
- #= javascript_include_tag "vendor_types.js"

- if Rails.env.production?
  <script type="text/javascript">
  
   
  
  </script>
</body>
</html>
=   debug params if Rails.env.development?
=   debug session if Rails.env.development?
