!!! 5
%html
  %head
  %meta{:name=>'developer' , :content =>'Le Proghrammeen solutions'}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  = favicon_link_tag
  <title>Vendor Management Software:: UNDP &nbsp;Nigeria</title>
 
  -#= javascript_include_tag "jquery.js"
        

  = javascript_include_tag "jquery-1.7.2.min.js"

   
  <script type="text/javascript">
  - #for breadcrumb
  var turl= "#{login_url}"   
  </script>
  = javascript_include_tag "breadcrumbs.js"
  %meta{:name => 'developer' , :content => 'Le Proghrammeen solutions'}

  
  = stylesheet_link_tag 'styles'
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  = javascript_include_tag "html5.js"
  <![endif]-->
  <body>
  <div class="header"></div>
  <div class="wrap">  
  <div class="container-fluid mtop">
  <div class="row-fluid">
  = render "shared/menu"
  </div>
  <div class="breadcrumb">
  <script language="javascript" type="text/javascript">
                
  breadcrumbs()
  </script>
      
  </div>
  <div class="row-fluid">
 

  %div{:class=>"row-fluid"}
  - if flash[:notice]
    %div{:id=>'warning', :class=>'alert alert-success'}
      = flash[:notice]
      <button class="close" data-dismiss="alert"> x </button>
      
  - elsif flash[:warning]
    %div{:id=>'warning', :class=>'alert alert-info'}
      = flash[:warning]
      <button class="close" data-dismiss="alert"> x </button>
  
  - elsif flash[:error]
    %div{:id=>'error', :class=>'alert alert-error'}
      = flash[:error]
      <button class="close" data-dismiss="alert"> x </button> 
  
  = render :partial => "shared/errors/error_messages" ,:new_model=>session[:new_model]  unless session[:new_model].nil? 
  = yield  
  </div> 
  <hr>
  <div class="xframe">
  <footer>
  <p>UNDP&trade; Nigeria, 2010.</p>
  </footer>
  </div>
  </div>
  
  </div>

= javascript_include_tag "application.js"
= javascript_include_tag "application1.js"
-#= javascript_include_tag "vendor_types"

</body>
</html>
=   debug params if Rails.env.development?
=   debug session if Rails.env.development?
